<ul class="breadcrumb">
	<li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' |
    translate}}</a></li>
	<li><a ui-sref="app.provider.sessions({providerSlug: vm.provider.slug})">{{'global.contexts.sessions.sessions' |
    translate}}</a></li>
	<li><a class="active">Configurar atendimento</a></li>
</ul>

<div class="container-fluid container-fixed-lg main-content">
	<div class="panel panel-default panel-live">
		<div class="panel-body" ng-show="vm.isLoading">
			<div class="progress-circle-indeterminate progress-circle-primary"></div>
		</div>
		<div class="panel-body" ng-show="!vm.isLoading">
			<form name="serviceConfig" ng-submit="vm.save()" novalidate>
				<!-- Name -->
				<div class="form-group form-group-inline">
					<div class="row">
						<div class="col-sm-3">
							<label for="name">Nome da configuração</label>
						</div>

						<div class="col-sm-9" ng-class="{'has-error': (serviceConfig.name.$touched || serviceConfig.$submitted) && serviceConfig.name.$invalid}">
							<input id="name" name="name" minlength="3" maxlength="50" type="text" class="form-control" ng-model="vm.serviceConfig.name"
								required>
							<div ng-if="serviceConfig.name.$touched || serviceConfig.$submitted && serviceConfig.name.$invalid" ng-messages="serviceConfig.name.$error">
								<span ng-messages-include="modules/core/errors/error-messages.html"></span>
							</div>
						</div>
					</div>
				</div>

				<!-- Room -->
				<div class="form-group form-group-inline">
					<div class="row">
						<div class="col-sm-3">
							<label for="room">Sala</label>
						</div>

						<div class="col-sm-9" ng-class="{'has-error': !vm.serviceConfig.room.id && (serviceConfig.$submitted || serviceConfig.room.$touched)}">
							<ui-select id="room" name="room" ng-model="vm.serviceConfig.room">
								<ui-select-match placeholder="Selecionar sala">{{$select.selected.name}}</ui-select-match>
								<ui-select-choices repeat="room in vm.rooms | filter: $select.search | orderBy: 'name'">
									<div ng-bind-html="room.name | highlight: $select.search"></div>
								</ui-select-choices>
							</ui-select>
							<label class="error" ng-if="!vm.serviceConfig.room.id && (serviceConfig.$submitted || serviceConfig.room.$touched)">A seleção de uma sala é obrigatória</label>
						</div>
					</div>
				</div>

				<!-- Other -->
				<div class="form-group form-group-inline">
					<div class="row">
						<div class="col-sm-3">
							<label for="name">Clientes podem fazer agendamento online</label>
						</div>

						<div class="col-sm-9">
							<div class="radio radio-primary">
								<input id="type1" name="type" type="radio" value="true" ng-model="vm.serviceConfig.selfServiceAvailable">
								<label class="m-l-20 margin-right-50" for="type1">Sim</label>

								<input id="type2" name="type" type="radio" value="false" ng-model="vm.serviceConfig.selfServiceAvailable">
								<label for="type2">Não</label>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group form-group-inline" ng-show="vm.isSelfServiceAvailable()">
					<div class="row">
						<div class="col-sm-3">
							<label for="name">Tempo limite para agendamento online</label>
						</div>

						<div class="col-sm-9">
							<div class="row">
								<div class="col-xs-6" ng-class="{'has-error': serviceConfig.time.$invalid && (serviceConfig.time.$touched || serviceConfig.$submitted)}">
									<input type="number" class="form-control" id="time" name="time" min="0" ng-model="vm.time" required>
									<div ng-if="serviceConfig.time.$invalid && (serviceConfig.time.$touched || serviceConfig.$submitted)" ng-messages="serviceConfig.time.$error">
										<span ng-messages-include="modules/core/errors/error-messages.html"></span>
									</div>
								</div>

								<div class="col-xs-6">
									<ui-select id="timeUnit" name="timeUnit" ng-model="vm.timeUnit">
										<ui-select-match placeholder="Selecione uma unidade de tempo">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="timeUnit in vm.timeUnits | filter: $select.search">
											<div ng-bind-html="timeUnit.name | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group form-group-inline">
					<div class="row">
						<div class="col-sm-3">
							<label for="name">Tempo limite para confirmação</label>
						</div>

						<div class="col-sm-9">
							<div class="row">
								<div class="col-xs-6">
									<input type="number" id="confirmationTime" name="confirmationTime" class="form-control" min="0" max="{{vm.confirmationMax}}"
										ng-model="vm.confirmationTime" required>
									<span ng-if="serviceConfig.confirmationTime.$invalid && (serviceConfig.confirmationTime.$touched || serviceConfig.$submitted)"
										ndivssages="serviceConfig.confirmationTime.$error">
									<span ng-messages-include="modules/core/errors/error-messages.html"></span>
								</div>

                <div class="col-xs-6">
                  <ui-select ng-model="vm.confirmationTimeUnit" ng-change="vm.changeConfirmationTimeUnit()">
                    <ui-select-match placeholder="Selecione uma unidade de tempo">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="timeUnit in vm.timeUnits | filter: $select.search">
                      <div ng-bind-html="timeUnit.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
							</div>
						</div>
					</div>
				</div>


        <div class="form-group form-group-inline">
          <div class="row">
            <div class="col-sm-3">
              <label for="room">Serviços e atendentes</label>
            </div>
            <div class="col-sm-9">

              <!-- serviceProvisions -->
              <div class="col-sm-6">
                <div class="well margin-bottom-0">
                  <div class="row">
                    <div class="col-sm-9">
                      <ui-select ng-model="vm.selectedServiceProvision" id="serviceProvisions" name="serviceProvisions">
                        <ui-select-match placeholder="Adicionar serviço">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="serviceProvision in vm.serviceProvisions | filter: $select.search | orderBy: 'name'" ui-disable-choice="vm.isServiceProvisionSelected(serviceProvision)">
                          <div ng-bind-html="serviceProvision.name | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div class="col-sm-3">
                      <button class="btn btn-block btn-primary" type="button" ng-click="vm.addServiceProvision()" ng-disabled="!vm.selectedServiceProvision || vm.isLoadingServicesProvisions"><i class="fa fa-plus-circle"></i></button>
                    </div>
                  </div>
                </div>

                <div class="serviceProvision-config-panel">
                  <div ng-if="!vm.isLoadingServicesProvisions">
                    <div class="block-message block-message-empty" ng-if="vm.serviceConfig.serviceProvisions.length === 0">
                      <h4>Selecione ao menos um serviço</h4>
                      <p>
                        Digite o nome do serviço no campo acima e clice no botão para adicionar um serviço.
                      </p>
                    </div>
                    <table class="table table-condensed table-hover">
                      <tbody>
                        <tr ng-repeat="serviceProvision in vm.serviceConfig.serviceProvisions">
                          <td>{{serviceProvision.name}}</td>
                          <td class="v-align-middle toggle-hover nowrap text-right">
                            <button class="btn btn-short" type="button" title="Remover" ng-click="vm.removeServiceProvision(serviceProvision)"><i class="fa fa-minus-circle"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div ng-if="vm.isLoadingServicesProvisions">
                    <div class="progress-circle-indeterminate progress-circle-primary"></div>
                  </div>
                </div>
              </div>

              <!-- attendants -->
              <div class="col-sm-6">
                <div class="well margin-bottom-0">
                  <div class="row">
                    <div class="col-sm-9">
                      <ui-select ng-model="vm.selectedAttendant" id="attendants" name="attendants">
                        <ui-select-match placeholder="Adicionar atendente">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="attendant in vm.attendants | filter: $select.search | orderBy: 'name'" ui-disable-choice="vm.isAttendantSelected(attendant)">
                          <div ng-bind-html="attendant.name | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                    <div class="col-sm-3">
                      <button class="btn btn-block btn-primary" type="button" ng-click="vm.addAttendant()" ng-disabled="!vm.selectedAttendant || isLoadingAttendants"><i class="fa fa-plus-circle"></i></button>
                    </div>
                  </div>

                </div>

                <div class="serviceProvision-config-panel">
                  <div ng-if="!vm.isLoadingAttendants">
                    <div class="block-message block-message-empty" ng-if="vm.serviceConfig.attendants.length === 0">
                      <h4>Selecione ao menos um atendente</h4>
                      <p>
                        Digite o nome do atendente no campo acima e clice no botão para adicionar um atendente.
                      </p>
                    </div>
                    <table class="table table-condensed table-hover" ng-if="vm.serviceConfig.attendants.length !== 0">
                      <tbody>
                        <tr ng-repeat="attendant in vm.serviceConfig.attendants">
                          <td>{{attendant.name}}</td>
                          <td class="v-align-middle toggle-hover nowrap text-right">
                            <button class="btn btn-short" type="button" title="Remover" ng-click="vm.removeAttendant(attendant)"><i class="fa fa-minus-circle"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div ng-if="vm.isLoadingAttendants">
                    <div class="progress-circle-indeterminate progress-circle-primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block-action">
          <button class="btn btn-lg btn-primary" type="submit" ladda="vm.isLoadingSave">Salvar</button>
        </div>
      </form>
    </div>
	</div>
</div>
</div>
