<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix" id="modalLocation">
		<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
		<h3>Nova configuração de atendimento</h3>
	</div>

	<div class="modal-body">
		<form name="serviceConfig" novalidate>
			<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': serviceConfig.name.$invalid && (serviceConfig.name.$touched || serviceConfig.$submitted)}">
				<label translate="global.form.name" for="name">Nome</label>
				<input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="50" ng-model="vm.serviceConfig.name"
					required>
			</div>
			<div ng-if="serviceConfig.name.$invalid && (serviceConfig.name.$touched || serviceConfig.$submitted)" ng-messages="serviceConfig.name.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

      <div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{'has-error': !vm.serviceConfig.room.id && (serviceConfig.room.$touched || serviceConfig.$submitted)}">
        <label for="room">Sala</label>
        <ui-select id="room" name="room" ng-model="vm.serviceConfig.room">
          <ui-select-match placeholder="Selecionar sala">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="room in vm.rooms | filter: $select.search | orderBy: 'name'">
            <div ng-bind-html="room.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <label class="error" ng-if="!vm.serviceConfig.room.id && (serviceConfig.$submitted || serviceConfig.room.$touched)">A seleção de uma sala é obrigatória</label>
    </form>
  </div>

	<div class="modal-footer">
		<button class="btn btn-cons" data-dismiss="modal" ng-click="vm.cancel()" translate="global.modal.cancel">Cancelar</button>
		<button class="btn btn-cons btn-primary" ng-click="vm.save(serviceConfig)" translate="global.modal.save">Salvar</button>
	</div>

</div>
