<div class="overlay" style="display: none" pg-search ng-controller="SearchController as vm">
  <div class="overlay-content has-results m-t-20">
    <div class="container-fluid">
      <img class="overlay-brand" src="assets/images/custom/logo.png" alt="logo" data-src="assets/images/custom/logo.png" ui-jq="unveil"
      data-src-retina="assets/images/custom/logo_2x.png" width="93" height="26">

      <a href="javascript:;" class="close-icon-light overlay-close text-black fs-16" data-search="closeButton">
        <i class="pg-close"></i>
      </a>
    </div>

    <div class="container-fluid">
      <form ng-submit="vm.search(vm.searchString)">
        <input id="overlay-search" class="no-border overlay-search bg-transparent" style="text-transform:uppercase" placeholder="Buscar..."
        ng-model="vm.searchString" autocomplete="off" maxlength="50" focus-me="vm.focus">
      </form>
    </div>

    <div class="container-fluid">
      <div class="block-message block-message-info margin-top-50" ng-show="vm.initState">
        <h4>Utilize a busca para encontrar bilhetes</h4>
        <p>Você pode pesquisar o bilhete pelo seu código, nome ou e-mail do cliente.</p>
      </div>

      <div ng-show="!vm.initState">
        <div class="block-message block-message-empty margin-top-50" ng-show="!vm.hasTickets">
          <h4>Ops! Nenhum bilhete para mostrar...</h4>
          <p>Sua pesquisa não retornou nenhum bilhete.</p>
        </div>

        <div ng-show="vm.hasTickets">
          <div class="search-results">
            <p class="bold">Resultados da busca</p>
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="order" ng-click="vm.setOrder('friendlyCode')" ng-class="{ 'order-asc': vm.order=='friendlyCode', 'order-desc': vm.order=='-friendlyCode' }">Bilhete</th>
                        <th class="order" ng-click="vm.setOrder('customer.name')" ng-class="{ 'order-asc': vm.order=='customer.name', 'order-desc': vm.order=='-customer.name' }">Cliente</th>
                        <th class="order" ng-click="vm.setOrder('service')" ng-class="{ 'order-asc': vm.order=='service', 'order-desc': vm.order=='-service' }">Serviço</th>
                        <th class="order" ng-click="vm.setOrder('prevision')" ng-class="{ 'order-asc': vm.order=='prevision', 'order-desc': vm.order=='-prevision' }">Previsão</th>
                        <th class="order" ng-click="vm.setOrder('status')" ng-class="{ 'order-asc': vm.order=='status', 'order-desc': vm.order=='-status' }">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="ticket in vm.searchResult | orderBy:vm.order">
                        <td class="v-align-middle">
                          <span class="text-xlarge font-montserrat"><i class="fa fa-ticket" ng-class="ticket.isSpecial ? 'text-warning' : 'muted'"></i> <a href="javascript:;" ng-click="vm.openTicketDetails(ticket.id)"><strong>{{ticket.friendlyCode}}</strong></a></span>
                        </td>
                        <td class="v-align-middle">
                          <strong>{{ticket.customer.name}}</strong>
                          <br> {{ticket.customer.email}}
                        </td>
                        <td>
                          <span title="Serviço"> {{ticket.service}} </span>
                        </td>
                        <td class="v-align-middle">
                          <i class="fa fa-clock-o"></i>
                          <span title="Previsão de atendimento" ng-show="ticket.isConfirmed">
                            {{ticket.estimatedTime | date: 'shortTime'}}
                          </span>
                          <span title="Previsão de atendimento" ng-show="!ticket.isConfirmed">
                            Aguardando confirmação
                          </span>
                        </td>
                        <td class="v-align-middle">
                          <span ng-show="ticket.isConfirmed || ticket.status.toLowerCase() !== 'opened'">{{'global.status.' + ticket.status.toLowerCase() | translate}}</span>
                          <span ng-show="!ticket.isConfirmed && ticket.status.toLowerCase() === 'opened'">Agendado</span>
                          <br>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
