<div class="modal-header clearfix">
  <button class="close" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
</div>

<div class="modal-body">
  <div class="block-message block-message-dialog block-message-warning">
    <h4>Gostaria de vincular o recurso {{vm.resource.name}} ao serviço {{vm.service.name | capitalize}}?</h4>
    <p>Selecione uma sala e clique em confirmar para fazer a vinculação.</p>
  </div>

  <div pg-form-group class="form-group form-group-default form-group-default-select">
    <label>Salas</label>
    <ui-select ng-model="vm.selectedRoom">
      <ui-select-match placeholder="Selecione uma sala">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="room in vm.rooms | filter: $select.search">
        <div ng-bind-html="room.name | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-cons" translate="global.modal.cancel" ng-click="vm.cancel()">Cancelar</button>
  <button class="btn btn-cons btn-primary" translate="global.modal.confirm" ng-disabled="!vm.selectedRoom" ng-click="vm.confirm(vm.resource, vm.selectedRoom, vm.service.id)">Confirmar</button>
</div>
