<div class="print-only">
  <section class="ticket-details">
    <div class="ticket-details-action">
      <header class="ticket-details-heading">
        <h1>{{vm.ticket.provider.name}}</h1>
        <h2><i class="fa fa-map-marker"></i> {{vm.ticket.location.name}}</h2>
      </header>

      <div class="ticket-details-body">
        <div class="session">
          <div class="service">{{vm.ticket.service.name | capitalize}}</div>
          <div class="resource">{{vm.ticket.resource.name}}, {{vm.ticket.session.estimatedStart | date: 'shortTime'}} às
            {{vm.ticket.session.estimatedEnd | date: 'shortTime'}}
          </div>
        </div>

        <div class="code">{{vm.ticket.friendlyCode}}</div>
        <div ng-if="vm.ticket.isSpecial" class="priority"><i class="fa fa-wheelchair"></i>Preferencial</div>
        <div class="date">{{vm.ticket.session.estimatedStart | date: 'EEEE, d/M/y' | capitalize}}</div>

        <div ng-show="vm.ticket.prevision != null">
          <div class="forecast"><i class="fa fa-clock-o"></i> {{vm.ticket.prevision | date: 'shortTime'}} *</div>
          <div class="note">* A previsão de atendimento pode ser alterada sem prévio aviso</div>
        </div>
      </div>

      <div class="ticket-details-footer">
        Bilhete emitido em {{vm.ticket.createdAt | date: 'medium'}}
      </div>
    </div>
  </section>
</div>

<header class="no-print terminal-header">
  <!-- Logo -->
  <div class="block-primary">
    <a class="block-item block-item-logo">
      <img src="assets/images/custom/logo_white_2x.png" alt="Logo">
    </a>

    <a class="terminal-location">
      <i class="pg-map"></i> <strong> {{vm.provider.name}} </strong> <em>{{vm.location.name}}</em>
    </a>

  </div>

  <div class="block-secondary">
    <!-- Date -->
    <a class="block-item block-item-date">
      <div class="major">{{vm.today | date: 'longDate' | capitalize}}, <em>{{vm.today | date: 'shortTime'}}</em></div>
    </a>
  </div>
</header>

<div class="no-print terminal-content">
  <div ng-if="!vm.selectedService.id && !vm.timedOut">
    <h4 class="title center"><em>SELECIONE O SERVIÇO</em></h4>

    <div class="row m-l-0 m-r-0">
      <div class="col-md-2 padding-0">
        <div class="previous-services pull-right" ng-if="vm.currentPage > 1" ng-click="vm.showPrevious()"></div>
      </div>

      <div class="col-md-8 button-container padding-0">
        <div class="col-md-6 padding-0"
             ng-repeat="service in vm.terminal.services | startFrom:(vm.currentPage-1)*8 | limitTo: 8 ">
          <button class="btn service-button btn-primary btn-rounded font-montserrat"
                  ng-click="vm.selectService(service.id)">{{service.name | limitTo:25}}<span
            ng-if="service.name.length>25">...</span></button>
        </div>
      </div>

      <div class="col-md-2 padding-0">
        <div class="next-services pull-left" ng-if="vm.canShowMore()" ng-click="vm.showNext()"></div>
      </div>
    </div>
  </div>

  <div ng-if="vm.selectedService && vm.selectedService.id && vm.isTicketSpecial === undefined && !vm.timedOut">
    <h4 class="title"><em>{{vm.selectedService.name}}</em></h4>
    <div class="row m-l-0 m-r-0 m-t-100">
      <div class="col-md-offset-2 col-md-8">
        <div class="row">
          <div class="col-md-6 button-container">
            <button class="btn service-button btn-primary btn-rounded font-montserrat" ng-click="vm.isSpecial()">
              Preferencial
            </button>
          </div>
          <div class="col-md-6 button-container">
            <button class="btn service-button btn-primary btn-rounded font-montserrat" ng-click="vm.isNotSpecial()">Não
              preferencial
            </button>
          </div>
        </div>
        <div class="row button-container m-t-30">
          <button class="btn service-button btn-primary btn-rounded font-montserrat"
                  ng-if="vm.terminal.services.length > 1" ng-click="vm.deselectService()">Voltar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="vm.isLoading" class="progress-circle-indeterminate progress-circle-primary m-t-100"></div>

  <div class="terminal-error">
    <div class="block-message block-message-color  block-message-print"
         ng-if="vm.responseCode === '1007' && vm.emitted">
      <h4>Estamos imprimindo seu bilhete...</h4>
      <p>
        Tudo certo! Verifique no seu bilhete o horário de atendimento.
      </p>
    </div>
    <div class="block-message block-message-color  block-message-no-slots"
         ng-if="(vm.responseCode === '1008' || vm.responseCode === '2152')  && vm.emitted">
      <h4>Não há mais vagas para o serviço escolhido...</h4>
      <p>
        Entre em contato com o responsavel para mais detalhes.
      </p>
    </div>
    <div class="block-message block-message-color  block-message-time-out" ng-if="vm.timedOut">
      <h4>Sessão expirada...</h4>
      <p>
        Iremos voltar para o começo em breve.
      </p>
    </div>
  </div>
</div>
