<ul class="breadcrumb">
  <li><a ui-sref="app.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
  <li><a ui-sref="app.terminals({providerSlug: vm.provider.slug})" class="active" translate="global.contexts.terminals.terminals">terminais</a></li>
</ul>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

  <div ng-show="!vm.isLoading">
    <div class="block-action-top">
      <button class="btn btn-primary" ng-click="vm.addTerminal()"><i class="pg-plus_circle"></i> {{'terminals.register-terminal' | translate | capitalize}}</button>
    </div>

    <div class="input-group transparent">
      <span class="input-group-addon"><i class="pg-search"></i></span>
      <input type="text" class="form-control input-lg" placeholder="{{'terminals.search-terminals' | translate | capitalize}}" ng-model="vm.searchTerminals" ng-disabled="vm.terminalsList.length === 0">
    </div>

    <br>

    <div class="panel panel-default panel-live" ng-if="!vm.isLoading">
      <div class="panel-heading separate">
        <div class="row">
          <div class="col-sm-8">
            <div class="panel-title">
              <span ng-show="vm.filteredTerminals.length === vm.terminalsList.length">{{vm.filteredTerminals.length}} {{'global.contexts.terminals.terminals' | translate}}</span>
              <span ng-show="vm.filteredTerminals.length < vm.terminalsList.length">Mostrando {{vm.filteredTerminals.length}} de {{vm.terminalsList.length}} terminais</span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="block-message block-message-empty" ng-show="vm.terminalsList.length === 0">
          <h4>Ops! Nenhum terminal disponível...</h4>

          <p>Ainda não há painéis disponíveis para esse local.</p>
          <div class="row">
            <button class="btn btn-primary" ng-click="vm.addTerminal()">
              <i class="pg-plus_circle"></i> {{'terminals.register-terminal' | translate | capitalize}}
            </button>
          </div>
        </div>
        <div ng-show="vm.terminalsList.length > 0">
          <div class="table-responsive">
            <div class="block-message block-message-empty" ng-show="vm.filteredTerminals.length == 0">
              <h4>Ops! Nada encontrado...</h4>
              <p>
                Sua pesquisa não encontrou nenhum resultado correspondente.
                <br> Você pode pesquisar pelo nomedo terminal.
              </p>
            </div>
            <table class="table table-hover" ng-show="vm.filteredTerminals.length > 0">
              <thead>
              <tr>
                <th class="order" ng-click="vm.setOrder('name')" ng-class="{ 'order-asc': vm.order=='name', 'order-desc': vm.order=='-name' }">{{'global.form.name' | translate}}</th>
                <th class="order" ng-click="vm.setOrder('services.length')" ng-class="{ 'order-asc': vm.order=='services.length', 'order-desc': vm.order=='-services.length' }">{{'global.contexts.services' | translate}}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="terminal in vm.filteredTerminals = (vm.terminalsList | filter: vm.searchTerminals | orderBy:vm.order) | startFrom: vm.itensLimit*(vm.currentPage-1) | limitTo:vm.itensLimit">
                <td class="v-align-middle">
                  <a href="javascript:;" ng-click="vm.updateTerminal(terminal.id)"><strong>{{terminal.name}}</strong></a>
                </td>
                <td class="v-align-middle">
                  <span class="label" ng-repeat="service in terminal.services">{{service.name | capitalize}}</span>
                </td>
                <td class="v-align-middle toggle-hover nowrap text-right">
                  <a class="btn btn-short" title="{{'global.actions.edit' | translate | capitalize}}" ui-sref="self-service-terminal({providerSlug: vm.providerSlug, locationId: vm.location.id, terminalId: terminal.id})" target="_blank"><i class="fa fa-eye"></i></a>
                  <button class="btn btn-short" title="{{'global.actions.edit' | translate | capitalize}}" ng-click="vm.updateTerminal(terminal.id)"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-short" title="{{'global.actions.remove' | translate | capitalize}}" ng-click="vm.deleteTerminal(terminal)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <!--<div class="row">
            <div class="col-sm-6">
              <span class="m-r-10 muted">Itens por página:</span>
              <select class="cs-select cs-skin-slide" cs-select="" ng-model="vm.itensLimit">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="20">25</option>
                <option value="50">50</option>
              </select>
            </div>

            <div class="col-sm-6" ng-show="vm.terminalsList > vm.itensLimit">
              <ul uib-pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredTerminals.length"></ul>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
