<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-if="vm.isLoading"></div>

<div ng-if="!vm.isLoading">
	<div class="modal-header clearfix">
		<button class="close" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
		<h3 ng-if="!vm.isEditing()">{{'terminals.register-terminal' | translate | capitalize}}</h3>
		<h3 ng-if="vm.isEditing()">{{'terminals.edit-terminal' | translate | capitalize}}</h3>
	</div>

	<div class="modal-body">
		<form name="terminalForm" novalidate>
			<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': terminalForm.name.$invalid && (terminalForm.services.$touched || terminalForm.$submitted)}">
				<label translate="global.form.name" for="name">Nome</label>
				<input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="40" ng-model="vm.terminal.name" ng-init="vm.focus=true"
					focus-me="vm.focus" required>
			</div>
			<div ng-if="terminalForm.name.$invalid && (terminalForm.services.$touched || terminalForm.$submitted)" ng-messages="terminalForm.name.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

			<div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{'has-error': vm.terminal.services.length === 0 && (terminalForm.services.$touched || terminalForm.$submitted)}">
				<label>Services</label>
				<ui-select multiple ng-model="vm.terminal.services" name="services">
					<ui-select-match>{{$item.name | capitalize}}</ui-select-match>
					<ui-select-choices repeat="service.id as service in vm.services | filter: $select.search" ui-disable-choice="vm.serviceAlreadySelected(service)">
						<div ng-bind-html="service.name | highlight: $select.search | capitalize"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<label class="error" ng-if="(terminalForm.services.$touched || terminalForm.$submitted) && vm.terminal.services.length === 0">Ao menos um serviço deve ser selecionado</label>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-cons" ng-click="vm.cancel()" translate="global.modal.cancel">Cancelar</button>
		<button class="btn btn-cons btn-primary" ng-click="vm.save(terminalForm);" type="submit" translate="global.modal.save">Salvar</button>
	</div>
</div>