<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
    <h3>Emissão de bilhete</h3>
  </div>

  <div class="modal-body">
    <div class="form-group" ng-if="vm.services.length > 1">
      <label>Serviço</label>
      <ui-select ng-model="vm.selectedService">
        <ui-select-match placeholder="Selecionar serviço">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="service in vm.services | filter: $select.search">
          <span ng-bind-html="service.name | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="form-group">
      <div ng-show="vm.isNewCustomer">
        <div>
          <label>Novo cliente</label>
          <a href="javascript:;" ng-click="vm.changeCustomerType()" class="pull-right text-small"><i
            class="fa fa-search"></i> Cliente cadastrado</a>
        </div>
        <input type="text" class="form-control" ng-model="vm.selectedCustomer.name">
      </div>

      <div ng-show="!vm.isNewCustomer">
        <div>
          <label>Cliente cadastrado</label>
          <a href="javascript:;" ng-click="vm.changeCustomerType()" class="pull-right text-small"><i
            class="fa fa-plus-circle"></i> Novo cliente</a>
        </div>

        <ui-select class="m-b-10" ng-model="vm.selectedCustomer">
          <ui-select-match placeholder="Selecionar cliente">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="customer in vm.customers track by $index" refresh="vm.getCustomers($select.search)" refresh-delay="0">
            <span>{{customer.name}}</span>

            <div>
              <small>{{customer.email}} | {{customer.phone}}</small>
            </div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" ng-model="vm.selectedCustomer.email">
    </div>

    <div class="form-group">
      <label>Telefone</label>
      <input type="text" class="form-control" ng-model="vm.selectedCustomer.phone" ui-mask="99 99999999?9" ui-mask-placeholder
        ui-mask-placeholder-char="space">
    </div>

    <div class="form-group-custom clean">
      <div class="radio radio-primary m-t-15 m-b-15">
        <input id="special0" name="special" type="radio" ng-model="vm.selectedSpecial" value="false">
        <label for="special0" class="margin-bottom-0">Não preferencial</label>
        <input id="special1" name="special" type="radio" ng-model="vm.selectedSpecial" value="true">
        <label for="special1" class="margin-bottom-0">Preferencial</label>
      </div>
    </div>

    <button class="btn btn-block btn-lg btn-primary" ng-disabled="!vm.canEmitTicket()" ng-click="vm.emitTicket()"><i
      class="fa fa-ticket"></i> Gerar bilhete
    </button>
  </div>
</div>
