<ul class="breadcrumb">
	<li><a ui-sref="app.provider.dashboard({providerSlug: provider.slug})">{{'global.contexts.dashboard' | translate}}</a>
	</li>
	<li><a ui-sref="app.provider.schedule({providerSlug: provider.slug})" class="active">{{'global.contexts.schedule' |
    translate}}</a></li>
</ul>

<div class="container-fluid container-fixed-lg main-content">
	<div class="progress-circle-indeterminate progress-circle-primary" ng-show="isLoadingServices"></div>

	<div ng-show="!isLoadingServices">
		<div class="panel panel-default panel-live" ng-show="!hasServices">
			<div class="block-message block-message-empty">
				<h4>Ops! Nenhum serviço disponível...</h4>
				<p>Ainda não há serviço definido para esse local.</p>
				<button class="btn btn-primary" ui-sref="app.provider.service-add({providerSlug: provider.slug})"><i
          class="fa fa-plus-circle"></i> Novo serviço
        </button>
			</div>
		</div>

		<div ng-show="hasServices">
			<div class="row">
				<div class="col-sm-12">
					<div class="block-step min-height-0">
						<h5 class="block-heading">Serviço</h5>
						<ui-select ng-model="selected.service">
							<ui-select-match placeholder="Selecionar serviço">{{$select.selected.name | capitalize}}</ui-select-match>
							<ui-select-choices repeat="service in services | filter: $select.search">
								<span ng-bind-html="service.name | highlight: $select.search | capitalize"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
			</div>

			<div class="block-separate">
				<div class="row">
					<div class="progress-circle-indeterminate progress-circle-primary" ng-show="isLoadingDatesAvailability"></div>

					<div ng-show="!isLoadingDatesAvailability">
						<div class="block-step col-sm-4">
							<h5 class="block-heading">Dia</h5>

							<div class="datepicker-custom">
								<div uib-datepicker class="well well-sm" ng-model="selected.date" datepicker-options="datepickerOptions" ng-if="hasDatesAvailability()"></div>
							</div>

							<div class="block-legend text-center m-t-30">
								<div class="block-hover-content">
									<div class="item success-light">Vagas disponíveis</div>
									<div class="item danger-light">Vagas esgotadas</div>
								</div>
							</div>
						</div>

						<div class="block-step col-sm-4 b-l b-r b-grey">
							<h5 class="block-heading">Sessão</h5>

							<div class="progress-circle-indeterminate progress-circle-primary m-t-45" ng-show="isLoadingSessionsAvailability"></div>

							<div ng-show="!isLoadingSessionsAvailability">
								<div class="block-message block-message-error" ng-show="!hasSessions">
									<h4>Ops! Nenhuma sessão disponível...</h4>
									<p>Selecione outro dia no calendário</p>
									<button class="btn btn-block btn-lg btn-primary" ng-click="goNextDate()" ng-disabled="!hasDatesAvailable()">Ir para a data mais próxima
                  </button>
								</div>

								<div ng-show="hasSessions">
									<div class="form-group-custom clean">
										<label>Preferência para atendimento</label>
										<ui-select ng-model="selected.resource" theme="bootstrap">
											<ui-select-match placeholder="Selecionar preferência">{{$select.selected.name}}</ui-select-match>
											<ui-select-choices repeat="resource in availability.resources | filter: $select.search" ui-disable-choice="!hasSessionForResource(resource)">
												<span>{{resource.name}}</span>
											</ui-select-choices>
										</ui-select>
									</div>

									<div class="form-group-custom clean">
										<label>Horários disponíveis</label>
										<div class="radio radio-primary">
											<div ng-repeat="session in availability.sessions" ng-show="showSession(session)">
												<input id="sessionTime-{{session.id}}-{{$index}}" name="sessionTime-{{service.id}}" type="radio" ng-model="selected.session"
													ng-value="session">
												<label for="sessionTime-{{session.id}}-{{$index}}">{{session.start | date: 'shortTime'}} às
                          {{session.end | date: 'shortTime'}}
                          <span ng-show="!hasSelectedResource() && session.resourceId"> - {{resourceNameById(session.resourceId)}}</span>
                          <span ng-show="!session.resourceId"> - Compartilhada</span>
                          <span ng-show="!session.hasSlotsLeft" class="badge badge-danger">Esgotada</span>
                        </label>
											</div>
										</div>
									</div>
									<button class="btn btn-block btn-lg btn-primary bottom" ng-click="goNextDate()" ng-disabled="!hasDatesAvailable()" ng-show="!hasSessionsWithSlots()">Ir para a data mais
                    próxima
                  </button>
								</div>
							</div>
						</div>

						<div class="block-step col-sm-4">
							<div class="progress-circle-indeterminate progress-circle-primary" ng-show="isLoadingEmission"></div>
							<form name="ticketForm" ng-submit="emitTicket()" ng-show="!isLoadingEmission">
								<h5 class="block-heading" ng-show="hasSessions && hasSessionsWithSlots()">Emissão de bilhete</h5>
								<h5 class="block-heading" ng-show="!hasSessions || !hasSessionsWithSlots()">Lista de espera</h5>

								<div class="block-message block-message-empty" ng-show="pastDate()">
									<h4>Não é possivel agendar na data selecionada.</h4>
								</div>

								<div ng-show="!pastDate()">
									<div class="form-group">
										<div ng-show="isNewCustomer" ng-class="{'has-error': ticketForm.name.$invalid && ticketForm.name.$touched}">
											<div class="row">
												<div class="col-sm-12 col-lg-6">
													<label>Novo cliente</label>
												</div>
												<div class="col-sm-12 col-lg-6">
													<a href="javascript:;" ng-click="changeCustomerType()" class="pull-right text-small"><i
                            class="fa fa-search"></i>&nbsp&nbsp&nbspCliente cadastrado</a>
												</div>
											</div>
											<input type="text" id="name" name="name" class="form-control" minlength="3" ng-model="selected.customer.name" ng-required="isNewCustomer">
											<div class="ticket-form-error" ng-if="ticketForm.name.$touched" ng-messages="ticketForm.name.$error">
												<span ng-messages-include="modules/core/errors/error-messages.html"></span>
											</div>
										</div>

										<div ng-show="!isNewCustomer">
											<div class="row">
												<div class="col-sm-12 col-lg-6">
													<label>Cliente cadastrado</label>
												</div>
												<div class="col-sm-12 col-lg-6">
													<a href="javascript:;" ng-click="changeCustomerType()" class="pull-right text-small"><i
                            class="fa fa-plus-circle"></i>&nbsp&nbsp&nbspNovo cliente</a>
												</div>
											</div>

											<ui-select class="m-b-10" ng-model="selected.customer">
												<ui-select-match placeholder="Selecionar cliente">{{$select.selected.name}}</ui-select-match>
												<ui-select-choices repeat="customer in customers track by $index" refresh="getCustomers($select.search)" refresh-delay="0">
													<span>{{customer.name}}</span>
													<div>
														<small>{{customer.email}} | {{customer.phone}}</small>
													</div>
												</ui-select-choices>
											</ui-select>
										</div>

									</div>

									<div class="form-group" ng-class="{'has-error': ticketForm.email.$invalid && ticketForm.email.$touched}">
										<label for="email">Email</label>
										<input type="email" id="email" name="email" class="form-control" ng-model="selected.customer.email" required>
										<div class="ticket-form-error" ng-if="ticketForm.email.$touched" ng-messages="ticketForm.email.$error">
											<span ng-messages-include="modules/core/errors/error-messages.html"></span>
										</div>
									</div>

									<div class="form-group" ng-class="{'has-error': ticketForm.phone.$invalid && ticketForm.phone.$touched}">
										<label for="phone">Telefone</label>
										<input type="text" id="phone" name="phone" class="form-control" ng-model="selected.customer.phone" ui-mask="99 99999999?9"
											ui-mask-placeholder ui-mask-placeholder-char="space" ui-options="{clearOnBlur:false}" required>
										<label class="error margin-top-5" ng-if="ticketForm.phone.$touched && (!selected.customer.phone || ticketForm.phone.$invalid)">Telefone
                      inválido</label>
									</div>

									<div class="form-group-custom clean" ng-show="hasSessions">
										<div class="radio radio-primary m-t-15 m-b-15">
											<input id="special0" name="special" type="radio" ng-model="selected.special" value="false">
											<label for="special0" class="margin-bottom-0">Não preferencial</label>
											<input id="special1" name="special" type="radio" ng-model="selected.special" value="true">
											<label for="special1" class="margin-bottom-0">Preferencial</label>
										</div>
									</div>

									<div class="form-group-custom clean" ng-show="hasSessions">
										<div class="checkbox check-primary">
											<input type="checkbox" id="check" ng-model="autoCheckIn">
											<label for="check">Auto-check-in</label>
										</div>
									</div>

									<button class="btn btn-block btn-lg btn-primary" type="submit" ng-disabled="!canEmitTicket()" ng-show="hasSessions && hasSessionsWithSlots()"><i class="fa fa-ticket"></i> Gerar bilhete
                  </button>
									<button class="btn btn-block btn-lg btn-primary" ng-disabled="!canOverbook()" ng-click="overbook()" ng-show="!hasSessions || !hasSessionsWithSlots()"><i class="pg-mail"></i> Adicionar a lista
                  </button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-12" ng-class="{'loader-partial': isLoadingSession}" ng-show="hasSelectedSession()">
				<div class="row m-b-30">
					<div class="col-sm-6">
						<h5 class="m-t-0 m-b-5 font-montserrat">{{selected.date | date: 'fullDate' | capitalize}} - {{session.start | date: 'shortTime'}} às {{session.end | date:
							'shortTime'}}
						</h5>
						<div class="text-small">
							<span><span class="hint-text"><i class="fa fa-ticket"></i> Emitidos:</span> <strong>{{session.emittedTickets}}</strong></span>
							<span class="m-l-20" ng-class="{'text-danger': session.isOverTime || !sessionHasSlotsLeft()}"><span
                class="hint-text"><i class="fa fa-ticket"></i> Disponíveis:</span> <strong>{{session.slotsLeft}}</strong></span>
							<span class="hint-text m-l-20"><i class="fa fa-clock-o"></i> Atendimento médio:</span> <strong>{{session.averageTime}}
              minutos</strong>
						</div>
					</div>

					<div class="col-sm-3">
						<a class="btn btn-primary pull-right" ui-sref="app.provider.print-session({providerSlug: provider.slug, sessionId: selected.session.id, orderBy: order})"
							target="_blank"><i class="fa fa-print"></i> Imprimir atendimentos</a>
					</div>

					<div class="col-sm-3">
						<div class="input-group transparent">
							<span class="input-group-addon"><i class="pg-search"></i></span>
							<input type="text" class="form-control" placeholder="Pesquisar bilhetes" ng-model="searchTicket">
						</div>
					</div>
				</div>

				<div class="block-message block-message-empty" ng-show="!hasTickets">
					<h4>Ops! Nenhum bilhete para mostrar...</h4>
				</div>

				<div class="block-message block-message-empty" ng-show="filteredTickets.length === 0 && hasTickets">
					<h4>Ops! Nenhum bilhete para mostrar...</h4>
					<p>O filtro selecionado não encontrou nenhum bilhete correspondente.</p>
				</div>

				<div class="table-responsive" ng-show="hasTickets && filteredTickets.length > 0">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="order" ng-click="setOrder('friendlyCode')" ng-class="{ 'order-asc': order=='friendlyCode', 'order-desc': order=='-friendlyCode' }">Bilhete</th>
								<th class="order" ng-click="setOrder('customer.name')" ng-class="{ 'order-asc': order=='customer.name', 'order-desc': order=='-customer.name' }">Cliente</th>
								<th>Serviço</th>
								<th class="text-center">Preferencial</th>
								<th class="order" ng-click="setOrder('estimatedTimeTicket')" ng-class="{ 'order-asc': order=='estimatedTimeTicket', 'order-desc': order=='-estimatedTimeTicket' }">Previsão</th>
								<th class="order" ng-click="setOrder('status')" ng-class="{ 'order-asc': order=='status', 'order-desc': order=='-status' }">Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="ticket in filteredTickets = (session.tickets | filter: searchTicket | orderBy: order)">
								<td class="v-align-middle">
									<span class="text-xlarge font-montserrat"><i class="fa fa-ticket"
                                                             ng-class="ticket.isSpecial ? 'text-warning' : 'muted'"></i> <a
                  href="javascript:;"
                  ng-click="ticketDetails(ticket.id)"><strong>{{ticket.friendlyCode}}</strong></a></span>
								</td>
								<td class="v-align-middle">
									<strong>{{ticket.customer.name}}</strong>
									<br> {{ticket.customer.email}}
									<br> {{ticket.customer.phone}}
								</td>
								<td class="v-align-middle">
									{{findService(ticket.serviceId).name}}
								</td>
								<td class="v-align-middle text-center">
									<span ng-show="ticket.isSpecial">Sim</span>
									<span ng-show="!ticket.isSpecial">Não</span>
								</td>
								<td class="v-align-middle">
									<span title="Previsão de atendimento" ng-show="isConfirmed(ticket)">
                    <i class="fa fa-clock-o"></i> {{ticket.estimatedTimeTicket | date: 'shortTime'}}
                  </span>
								</td>
								<td class="v-align-middle">
									<span class="label" ng-show="!isConfirmed(ticket)">Agendado</span>
									<span class="label" ng-show="isConfirmed(ticket)">{{'global.status.' + ticket.status.toLowerCase() | translate}}</span>
									<br>
								</td>
								<td class="v-align-middle toggle-hover nowrap text-right">
									<button class="btn btn-short" title="Confirmar" ng-show="canConfirmTicket(ticket)" ng-click="doTicketAction(ticket.id, 'confirm')"><i class="fa fa-check"></i></button>
									<button class="btn btn-short" title="Cancelar" ng-show="canCancelTicket(ticket)" ng-click="doTicketAction(ticket.id, 'cancel')"><i class="fa fa-times"></i></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row" ng-show="session.emittedTickets > 5">
					<div class="col-sm-6">
						<span class="m-r-10 muted">Itens por página:</span>
						<select class="cs-select cs-skin-slide" cs-select="" ng-model="itensLimit">
              <option value="5">5</option>
              <option value="10" selected>10</option>
              <option value="20">25</option>
              <option value="50">50</option>
            </select>
					</div>

					<div class="col-sm-6" ng-show="session.emittedTickets > itensLimit">
						<ul uib-pagination class="pagination" items-per-page="itensLimit" ng-model="currentPage" ng-change="getSession(selected.session.id)"
							direction-links="false" total-items="session.emittedTickets">
							</pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>