<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix">
		<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
		<h3>Convidar usuário</h3>
	</div>

	<div class="modal-body">
		<form name="user" novalidate>
			<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': user.email.$invalid && user.$submitted}">
				<label translate="global.form.email" for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email" minlength="3" maxlength="40" ng-model="vm.user.email" ng-init="vm.focus=true"
					focus-me="vm.focus" required>
			</div>
			<div ng-if="user.$submitted" ng-messages="user.email.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

			<div pg-form-group class="form-group form-group-default required">
				<label for="roles">Permissões</label>
				<div class="btn-group" id="roles">
					<label class="btn btn-primary tip" uib-tooltip="Admin" ng-class="{'active': vm.hasRole(vm.user, '1')}" ng-click="vm.changeRole(vm.user,'1')"><i class="fa fa-sitemap"></i></label>
					<label class="btn btn-primary tip" uib-tooltip="Gerente" ng-class="{'active': vm.hasRole(vm.user, '2')}" ng-click="vm.changeRole(vm.user,'2')"><i class="fa fa-desktop"></i></label>
					<label class="btn btn-primary tip" uib-tooltip="Atendente" ng-class="{'active': vm.hasRole(vm.user, '3')}" ng-click="vm.changeRole(vm.user,'3')"><i class="fa fa-bullhorn"></i></label>
				</div>
			</div>
			<label ng-show="vm.user.roles.length === 0 && user.$submitted" class="error">Selecione uma pemissão</label>

			<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': user.messa.$invalid && user.message.$dirty}">
				<label for="message">Mensagem</label>
				<textarea type="text" class="form-control" id="message" name="message" minlength="3" ng-model="vm.user.message"></textarea>
			</div>
			<div ng-if="user.message.$dirty" ng-messages="user.message.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cons" data-dismiss="modal" ng-click="vm.cancel()" translate="global.modal.cancel">Cancelar</button>
		<button class="btn btn-cons btn-primary" ng-click="vm.invite(vm.user)">Convidar</button>
	</div>

</div>