<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
  <li><a ui-sref="app.provider.users({providerSlug: vm.provider.slug})" class="active">{{'global.contexts.users.users' | translate}}</a></li>
</ul>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingUsers"></div>

  <div ng-show="!vm.isLoadingUsers">
    <div class="block-action-top">
      <button class="btn btn-primary" ng-click="vm.inviteUser()"><i class="pg-mail"></i> <span ng-translate="global.contexts.users.invite-user | filter: capitalize">Convidar usuário</span></button>
    </div>

    <div class="input-group transparent">
      <span class="input-group-addon"><i class="pg-search"></i></span>
      <input type="text" class="form-control input-lg" placeholder="Pesquisar usuario" ng-model="vm.searchUsers" ng-disabled="vm.usersList.length === 0">
    </div>

    <br>

    <div class="panel panel-default panel-live">
      <div class="panel-heading separate">
        <div class="row">
          <div class="col-sm-8">
            <div class="panel-title">
              <span ng-show="vm.filteredUsers.length == vm.usersList.length">{{vm.filteredUsers.length}} usuários</span>
              <span ng-show="vm.filteredUsers.length < vm.usersList.length">Mostrando {{vm.filteredUsers.length}} de {{vm.usersList.length}} usuários</span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body" ng-show="vm.usersList.length > 0">
        <div class="table-responsive">
          <div class="block-message block-message-empty" ng-show="vm.filteredUsers.length == 0">
            <h4>Ops! Nada encontrado...</h4>
            <p>
              Sua pesquisa não encontrou nenhum resultado correspondente.
              <br> Você pode pesquisar pelo nome, email e recursos.
            </p>
          </div>
          <table class="table table-hover" ng-show="vm.filteredUsers.length > 0">
            <thead>
              <tr>
                <th class="order" ng-click="vm.setOrder('name')" ng-class="{ 'order-asc': vm.order=='name', 'order-desc': vm.order=='-name' }">Nome</th>
                <th class="order" ng-click="vm.setOrder('email')" ng-class="{ 'order-asc': vm.order=='email', 'order-desc': vm.order=='-email' }">Email</th>
                <th>Permissões</th>
                <th style="width:20%">Recursos</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in vm.filteredUsers = (vm.usersList | filter: vm.searchUsers | orderBy:vm.order) | startFrom: vm.itensLimit*(vm.currentPage-1) | limitTo:vm.itensLimit">
                <td class="v-align-middle">
                  <a href="javascript:;"><strong>{{user.name}}</strong></a>
                </td>
                <td class="v-align-middle">
                  <span>{{user.email}}</span>
                </td>
                <td>
                  <div class="btn-group" ng-show="!vm.isOwner(user)">
                    <label class="btn btn-primary tip" uib-tooltip="Admin" ng-class="{'active': vm.hasRole(user, '1')}" ng-click="vm.changeRole(user,'1')"><i class="fa fa-sitemap"></i></label>
                    <label class="btn btn-primary tip" uib-tooltip="Gerente" ng-class="{'active': vm.hasRole(user, '2')}" ng-click="vm.changeRole(user,'2')"><i class="fa fa-desktop"></i></label>
                    <label class="btn btn-primary tip" uib-tooltip="Atendente" ng-class="{'active': vm.hasRole(user, '3')}" ng-click="vm.changeRole(user,'3')"><i class="fa fa-bullhorn"></i></label>
                  </div>
                  <label class=" label label-important" ng-show="vm.isOwner(user)"><i class="fa fa-trophy"></i>Owner</label>
                </td>
                <td>
                  <span class="label" ng-repeat="resource in user.resources | orderBy: 'name'">{{resource.name}}</span>
                </td>
                <td class="v-align-middle toggle-hover nowrap text-right">
                  <button class="btn btn-short" title="Remover" ng-show="!vm.isOwner(user)"><i class="fa fa-trash" ng-click="vm.removeUser(user.id)"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <span class="m-r-10 muted">Itens por página:</span>
            <select class="cs-select cs-skin-slide" cs-select="" ng-model="vm.itensLimit">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="20">25</option>
              <option value="50">50</option>
            </select>
          </div>

          <div class="col-sm-6" ng-show="vm.itensLimit < vm.usersList.length">
            <ul uib-pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredUsers.length"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingInvitations && !vm.isLoadingUsers"></div>

  <div ng-show="!vm.isLoadingInvitations">
    <div class="panel panel-default panel-live">
      <div class="panel-heading separate">
        <div class="row">
          <div class="col-sm-8">
            <div class="panel-title">
              {{vm.invites.length}} Convites
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body" ng-show="vm.invites.length > 0">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Email</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="invite in vm.invites">
              <td class="v-align-middle">
                <a><strong>{{invite.email}}</strong></a>
              </td>
              <td class="v-align-middle toggle-hover nowrap text-right">
                <button class="btn btn-short" title="Cancelar"><i class="fa fa-times" ng-click="vm.cancelInvite(invite)"></i></button>
                <button class="btn btn-short" title="Reenviar"><i class="fa fa-send-o" ng-click="vm.resendInvite(invite)"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
