<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix">
		<button class="close" ng-click="vm.closeModal()"><i class="pg-close fs-14"></i></button>
		<h3 ng-if="vm.isNewModal()">Novo recurso</h3>
		<h3 ng-if="!vm.isNewModal()">Editar recurso</h3>
	</div>

	<div class="modal-body">
		<form name="resource" ng-submit="vm.save(vm.resource)" novalidate>
			<div pg-form-group class="form-group form-group-default form-group-default-select" ng-class="{'has-error': resource.name.$invalid && resource.name.$touched}">
				<label>Nome</label>
				<input type="text" class="form-control" name="name" ng-model="vm.resource.name" maxlength="40" ng-init="vm.focus=true" focus-me="vm.focus"
					required>
			</div>
			<div ng-if="resource.name.$touched" ng-messages="resource.name.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

			<div pg-form-group class="form-group form-group-default form-group-default-select">
				<label class="">Staff</label>
				<ui-select multiple ng-model="vm.resource.staffs" theme="bootstrap">
					<ui-select-match placeholder="Selecionar staff(s)">{{$item.name}}</ui-select-match>
					<ui-select-choices repeat="user.id as user in vm.users | filter: $select.search | orderBy: name" ui-disable-choice="vm.disableUser(user)">
						<span ng-bind-html="user.name | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cons" ng-click="vm.closeModal()">Cancelar</button>
		<button class="btn btn-cons btn-primary" type="submit" ng-click="vm.save(vm.resource)" ng-disabled="resource.name.$invalid">Salvar</button>
	</div>
</div>