<button class="close" ng-click="vm.closeModal()">
  <i class="pg-close fs-14"></i>
</button>

<div class="panel panel-transparent">
  <div class="panel-body">
    <ul class="nav nav-tabs nav-tabs-simple">
      <li ng-class="{'active': vm.isCurrentTab('tabRooms')}"><a ng-click="vm.setCurrentTab('tabRooms')"><span>Salas</span></a></li>
      <li ng-class="{'active': vm.isCurrentTab('tabResources')}"><a ng-click="vm.setCurrentTab('tabResources')"><span>Recursos</span></a></li>
    </ul>

    <div class="tab-content p-t-15">
      <div class="tab-pane fade in active" ng-if="vm.isCurrentTab('tabRooms')" ng-controller="RoomsModalController as roomsvm">
        <div class="loader-partial" ng-show="roomsvm.isLoading"></div>

        <div ng-show="!roomsvm.isLoading">
          <div class="row">
            <div class="col-sm-8">
              <div class="input-group transparent sm-m-b-10">
                <span class="input-group-addon"><i class="pg-search"></i></span>
                <input type="text" class="form-control" placeholder="Pesquisar sala" ng-model="roomsvm.searchRooms" ng-disabled="roomsvm.rooms.length === 0">
              </div>
            </div>

            <div class="col-sm-4">
              <button class="btn btn-block btn-primary" ng-click="roomsvm.addRoom()"><i class="pg-plus_circle"></i> Nova sala</button>
            </div>
          </div>

          <div class="block-title m-t-25 m-b-15">
            <span ng-show="roomsvm.filteredRooms.length == roomsvm.rooms.length">{{roomsvm.filteredRooms.length}} salas</span>
            <span ng-show="roomsvm.filteredRooms.length < roomsvm.rooms.length">Mostrando {{roomsvm.filteredRooms.length}} de {{roomsvm.rooms.length}} salas</span>
          </div>

          <div class="block-message block-message-empty" ng-show="roomsvm.rooms.length === 0">
            <h4>Ops! Nenhuma sala para mostrar...</h4>
            <p>Ainda não há sala definida para esse local.</p>
            <button class="btn btn-primary" ng-click="roomsvm.addRoom()">
              <i class="pg-plus_circle"></i>
              Nova sala
            </button>
          </div>

          <div ng-show="roomsvm.rooms.length > 0">
            <div class="block-message block-message-empty" ng-show="roomsvm.filteredRooms.length === 0">
              <h4>Ops! Nada encontrado...</h4>
              <p>Sua pesquisa não encontrou nenhum resultado correspondente.</p>
            </div>

            <div class="table-responsive" ng-show="roomsvm.filteredRooms.length > 0">
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th class="order" ng-click="roomsvm.setOrder('name')" ng-class="{ 'order-asc': roomsvm.order=='name', 'order-desc': roomsvm.order=='-name' }">Nome</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="room in roomsvm.filteredRooms = (roomsvm.rooms | filter: roomsvm.searchRooms | orderBy:roomsvm.order) | startFrom: roomsvm.itensLimit*(roomsvm.currentPage-1) | limitTo:roomsvm.itensLimit">
                    <td class="v-align-middle">
                      <a href="javascript:;" ng-click="roomsvm.editRoom(room)"><strong>{{room.name}}</strong></a>
                    </td>
                    <td class="v-align-middle toggle-hover nowrap text-right">
                      <a class="btn btn-short" title="Sessões" ui-sref="app.provider.sessions({roomId: room.id})" ng-click="vm.closeModal()"><i class="fa fa-clock-o"></i></a>
                      <button class="btn btn-short" title="Editar" ng-click="roomsvm.editRoom(room)"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-short" title="Remover" ng-click="roomsvm.removeRoom(room)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="row" ng-show="roomsvm.filteredRooms.length > roomsvm.itensLimit">
              <div class="col-sm-12 pull-right">
                <ul uib-pagination class="pagination" items-per-page="roomsvm.itensLimit" ng-model="roomsvm.currentPage" direction-links="false"
                total-items="roomsvm.filteredRooms.length"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade in active" ng-if="vm.isCurrentTab('tabResources')" ng-controller="ResourcesModalController as resourcesvm">
        <div class="loader-partial" ng-show="resourcesvm.isLoading"></div>

        <div ng-show="!resourcesvm.isLoading">
          <div class="row">
            <div class="col-sm-8">
              <div class="input-group transparent sm-m-b-10">
                <span class="input-group-addon"><i class="pg-search"></i></span>
                <input type="text" class="form-control" placeholder="Pesquisar recurso" ng-model="resourcesvm.searchResources" ng-disabled="resourcesvm.resources.length === 0">
              </div>
            </div>

            <div class="col-sm-4">
              <button class="btn btn-block btn-primary" ng-click="resourcesvm.addResource(resource)"><i class="pg-plus_circle"></i> Novo recurso</button>
            </div>
          </div>

          <div class="block-title m-t-25 m-b-15">
            <span ng-show="resourcesvm.filteredResources.length == resourcesvm.resources.length">{{resourcesvm.filteredResources.length}} recursos</span>
            <span ng-show="resourcesvm.filteredResources.length < resourcesvm.resources.length">Mostrando {{resourcesvm.filteredResources.length}} de {{resourcesvm.resources.length}} recursos</span>
          </div>

          <div class="block-message block-message-empty" ng-show="resourcesvm.resources.length === 0">
            <h4>Ops! Nenhum recurso para mostrar...</h4>
            <p>Ainda não há recurso definido para esse local.</p>
            <button class="btn btn-primary" ng-click="resourcesvm.addResource()">
              <i class="pg-plus_circle"></i>
              Novo recurso
            </button>
          </div>

          <div ng-show="resourcesvm.resources.length > 0">
            <div class="block-message block-message-empty" ng-show="resourcesvm.filteredResources.length === 0">
              <h4>Ops! Nada encontrado...</h4>
              <p>Sua pesquisa não encontrou nenhum resultado correspondente.</p>
            </div>

            <div class="table-responsive" ng-show="resourcesvm.filteredResources.length > 0">
              <table class="table table-condensed table-hover">
                <thead>
                  <tr>
                    <th class="order" ng-click="resourcesvm.setOrder('name')" ng-class="{ 'order-asc': resourcesvm.order=='name', 'order-desc': resourcesvm.order=='-name' }">Nome</th>
                    <th>Staff</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="resource in resourcesvm.filteredResources = (resourcesvm.resources | filter: resourcesvm.searchResources | orderBy:resourcesvm.order) | startFrom: resourcesvm.itensLimit*(resourcesvm.currentPage-1) | limitTo:resourcesvm.itensLimit">
                    <td class="v-align-middle">
                      <a href="javascript:;" ng-click="resourcesvm.editResource(resource)"><strong>{{resource.name}}</strong></a>
                    </td>
                    <td class="v-align-middle white-space-normal">
                      <span class="label" ng-repeat="staff in resource.staffs">{{staff.name}}</span>
                    </td>
                    <td class="v-align-middle toggle-hover nowrap text-right">
                      <a class="btn btn-short" title="Sessões" ui-sref="app.provider.sessions({resourceId: resource.id})" ng-click="vm.closeModal()"><i class="fa fa-clock-o"></i></a>
                      <button class="btn btn-short" title="Editar" ng-click="resourcesvm.editResource(resource)"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-short" title="Remover" ng-click="resourcesvm.removeResource(resource)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="row" ng-show="resourcesvm.filteredResources.length > resourcesvm.itensLimit">
              <div class="col-sm-12 pull-right">
                <ul uib-pagination class="pagination" items-per-page="resourcesvm.itensLimit" ng-model="resourcesvm.currentPage" direction-links="false"
                total-items="resourcesvm.filteredResources.length"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
