<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
  <li><a ui-sref="app.provider.service({providerSlug: vm.provider.slug})" class="active">{{'global.contexts.services.services' | translate}}</a></li>
</ul>

<div class="container-fluid container-fixed-lg main-content">

  <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

  <div ng-show="!vm.isLoading">
    <div class="block-action-top">
      <a class="btn btn-primary" ng-click="vm.addService()"><i class="pg-plus_circle"></i> Novo serviço</a>
    </div>

    <div class="input-group transparent">
      <span class="input-group-addon"><i class="pg-search"></i></span>
      <input type="text" class="form-control input-lg" placeholder="Pesquisar serviço" ng-model="vm.searchServices" ng-disabled="vm.services.length === 0">
    </div>

    <br>

    <div class="panel panel-default panel-live">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-6">
            <div class="panel-title">
              {{vm.services.length}} serviços
            </div>
          </div>

          <div class="col-sm-6">
            <div class="pull-right">
              <button class="btn btn-default" ng-click="vm.openManagementModal()">Gerenciar salas e recursos</button>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="block-message block-message-empty" ng-show="vm.services.length === 0">
          <h4>Ops! Nenhum serviço para mostrar...</h4>
          <p>Ainda não há serviço definido para esse local.</p>
          <button class="btn btn-primary" ng-click="vm.addService()">
            <i class="pg-plus_circle"></i> Novo serviço
          </button>
        </div>

        <div ng-show="vm.services.length > 0">
          <div class="block-message block-message-empty" ng-show="vm.filteredServices.length === 0">
            <h4>Ops! Nada encontrado...</h4>
            <p>Sua pesquisa não encontrou nenhum resultado correspondente.</p>
          </div>

          <div ng-show="vm.filteredServices.length > 0">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="order" ng-click="vm.setOrder('name')" ng-class="{ 'order-asc': vm.order=='name', 'order-desc': vm.order=='-name' }">Nome</th>
                    <th>Recurso(s)</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="service in vm.filteredServices = (vm.services | filter: vm.searchServices | orderBy: vm.order) | startFrom: vm.itensLimit*(vm.currentPage-1) | limitTo:vm.itensLimit">
                    <td class="v-align-middle">
                      <a href="javascript:;" ng-click="vm.editService(service)"><strong>{{service.name | capitalize}}</strong></a>
                    </td>
                    <td class="v-align-middle">
                      <span class="label" ng-repeat="resourceRoom in service.resourcesRooms">{{resourceRoom.resource.name}}</span>
                    </td>
                    <td class="v-align-middle toggle-hover nowrap text-right">
                      <a class="btn btn-short" title="Sessões" ui-sref="app.provider.sessions({serviceId: service.id})"><i class="fa fa-clock-o"></i></a>
                      <button class="btn btn-short" title="Editar" ng-click="vm.editService(service)"><i class="fa fa-pencil"></i></button>
                      <button class="btn btn-short" title="Remover" ng-click="vm.removeService(service)"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <span class="m-r-10 muted">Itens por página:</span>
                <select class="cs-select cs-skin-slide" cs-select="" ng-model="vm.itensLimit">
                  <option value="5">5</option>
                  <option value="10" selected>10</option>
                  <option value="20">25</option>
                  <option value="50">50</option>
                </select>
              </div>

              <div class="col-sm-6" ng-show="vm.filteredServices.length > vm.itensLimit">
                <ul uib-pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredServices.length"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
