<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-if="!vm.isLoading">
  <div class="modal-header clearfix">
    <button class="close" data-dismiss="modal"><i class="pg-close fs-14"></i></button>
  </div>

  <div class="modal-body">
    <div class="block-message block-message-dialog block-message-warning">
      <h4>Deseja mesmo remover <strong>{{vm.service.name | capitalize}}</strong>?</h4>
      <p>Essa ação não poderá ser desfeita!</p>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-cons" ng-click="vm.closeModal()">Cancelar</button>
    <button class="btn btn-cons btn-primary" ng-click="vm.removeService()">Confirmar</button>
  </div>
</div>

