<ul class="breadcrumb">
	<li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
	<li><a ui-sref="app.provider.services({providerSlug: vm.provider.slug})">{{'global.contexts.services.services' | translate}}</a></li>
	<li ng-if="!vm.service.id"><a href="#" class="active">{{'global.contexts.services.register-service' | translate}}</a></li>
	<li ng-if="vm.service.id"><a href="#" class="active">{{'global.contexts.services.edit-service' | translate}}</a></li>
</ul>

<div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

<div class="container-fluid container-fixed-lg main-content" ng-show="!vm.isLoading">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<form name="service">
				<div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{'has-error': service.name.$invalid && service.name.$touched}">
					<label>Nome</label>
					<input type="text" class="form-control" maxlength="40" ng-model="vm.service.name" typeahead="service.name for service in vm.searchServices($viewValue)"
						typeahead-template-url="customTemplate.html" typeahead-wait-ms="500">
				</div>
				<div ng-if="service.name.$touched" ng-messages="service.name.$error">
					<span ng-messages-include="modules/core/errors/error-messages.html"></span>
				</div>

				<div pg-form-group class="form-group form-group-default form-group-default-select required">
					<label>Descrição</label>
					<textarea type="text" class="form-control height-60" name="description" ng-model="vm.service.description"></textarea>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div pg-form-group class="form-group form-group-default">
							<label>Tags</label>
							<tags-input ng-model="vm.service.tags"></tags-input>
						</div>
					</div>

					<div class="col-sm-6">
						<div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{'has-error': service.averageTime.$invalid && service.averageTime.$touched}">
							<label>Atendimento médio em minutos</label>
							<input type="number" class="form-control" name="averageTime" placeholder="Tempo em minutos" min="0" max="999" ng-model="vm.service.averageTime"
								required>
						</div>
						<div ng-if="service.averageTime.$touched" ng-messages="service.averageTime.$error">
							<span ng-messages-include="modules/core/errors/error-messages.html"></span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-6 col-xs-12">
			<div>
				<div class="form-group-custom">
					<label>Salas e recursos</label>

					<div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingResourcesOrRooms"></div>

					<div ng-show="!vm.isLoadingResourcesOrRooms">
						<div class="row p-b-5">
							<div class="col-sm-5">
								<ui-select ng-model="vm.selected.resource" ng-disabled="vm.resoures.length === 0">
									<ui-select-match placeholder="Selecionar recurso(s)">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="resource in vm.resources | filter: $select.search | orderBy: 'name'" ui-disable-choice="vm.isResourceSelected(resource)">
										<div ng-bind-html="resource.name | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>

								<div class="m-t-5 text-small text-right">
									<a href="javascript:;" ng-click="vm.addResource()"><i class="fa fa-plus-circle"></i> Novo recurso</a>
								</div>
							</div>

							<div class="col-sm-5">
								<ui-select ng-model="vm.selected.room" ng-disabled="vm.room.length === 0">
									<ui-select-match placeholder="Selecionar sala">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="room in vm.rooms | filter: $select.search | orderBy: 'name'">
										<div ng-bind-html="room.name | highlight: $select.search"></div>
									</ui-select-choices>
								</ui-select>

								<div class="m-t-5 text-small text-right">
									<a href="javascript:;" ng-click="vm.addRoom()"><i class="fa fa-plus-circle"></i> Nova sala</a>
								</div>
							</div>

							<div class="col-sm-2">
								<button class="btn btn-block btn-primary" title="Adicionar" ng-click="vm.addResourceAndRoom(vm.selected)" ng-disabled="!vm.hasSelectedResourceAndRoom()"><i class="fa fa-plus-circle"></i></button>
							</div>
						</div>

						<div class="block-message block-message-error" ng-show="vm.service.resourcesRooms.length === 0">
							<h4>Ops! Nenhum recurso relacionado...</h4>
							<p>Relacione ao menos um recurso</p>
						</div>

						<div class="table-responsive m-t-10" ng-show="vm.service.resourcesRooms.length > 0">
							<table class="table table-condensed table-hover">
								<thead>
									<tr>
										<th style="width: 43%;">Recurso</th>
										<th style="width: 43%;">Sala</th>
										<th style="width: 14%;"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="resourceAndRoom in vm.service.resourcesRooms">
										<td>
											{{resourceAndRoom.resource.name}}
										</td>
										<td>
											{{resourceAndRoom.room.name}}
										</td>
										<td class="v-align-middle toggle-hover nowrap text-right">
											<button class="btn btn-short" title="Remover" ng-click="vm.removeResourceAndRoom(resourceAndRoom)" ng-disabled="vm.service.resourcesRooms.length === 1"><i class="fa fa-minus-circle"></i></button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-t-30">
		<div class="col-md-12">
			<div class="pull-right">
				<button class="btn btn-cons" ng-click="vm.cancel()">Cancelar</button>
				<button class="btn btn-cons btn-primary" ng-click="vm.save(vm.service)" ng-disabled="service.name.$invalid || service.averageTime.$invalid">Salvar</button>
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="customTemplate.html">
  <a>
    <span ng-bind-html="match.label | typeaheadHighlight:query"></span>&nbsp
    <span class="label">{{match.model.occurrences}}</span>
  </a>
</script>