<div class="col-lg-8 col-lg-offset-2 full-height sm-p-t-30">
	<div class="container-sm-height full-height">
		<div class="row row-sm-height">
			<div class="col-sm-12 col-sm-height col-middle">

				<ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
					<li ng-class="{'active': vm.getCurrentStep() == 1 }">
						<a><i class="fa fa-user tab-icon"></i> <span>Conta</span></a>
					</li>
					<li ng-class="{'active': vm.getCurrentStep() == 2 }">
						<a><i class="fa fa-building tab-icon"></i> <span>Empresa</span></a>
					</li>
					<li ng-class="{'active': vm.getCurrentStep() == 3 }">
						<a><i class="fa fa-wrench tab-icon"></i> <span>Serviços</span></a>
					</li>
					<li ng-class="{'active': vm.getCurrentStep() == 4 }">
						<a><i class="fa fa-check tab-icon"></i> <span>Conclusão</span></a>
					</li>
				</ul>

				<wizard class="bg-white" hide-indicators="true">
					<wz-step title="Conta">
						<div class="padding-20 bg-white">
							<div class="row row-same-height">
								<div class="col-md-5 b-r b-dashed b-grey sm-b-b">
									<div class="padding-30 m-t-50">
										<img src="assets/images/custom/logo.png" alt="logo" data-src="assets/images/custom/logo.png" data-src-retina="assets/images/custom/logo_2x.png">
										<h2>Sua empresa no Filazero!</h2>
										<p>Vamos começar o cadastro da sua empresa. Mas antes, crie sua conta Filazero.</p>
										<p class="small hint-text">Informe seus dados pessoais ao lado.</p>
										<div class="m-t-20">
											<button class="btn btn-rounded btn-bordered font-montserrat" ui-sref="login({ 'redirectTo': '/quickstart'})">Já tenho conta</button>
										</div>
									</div>
								</div>
								<div class="col-md-7">
									<div class="padding-30">
										<form id="form-register" class="p-t-15" name="register" novalidate>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group form-group-default required" ng-class="{'has-error': register.firstName.$invalid && register.firstName.$touched}">
														<label>Nome</label>
														<input type="text" name="firstName" class="form-control" ng-model="vm.registration.firstName" maxlength="30" required>
													</div>
													<div ng-if="register.firstName.$touched" ng-messages="register.firstName.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group form-group-default required" ng-class="{'has-error': register.lastName.$invalid && register.lastName.$touched}">
														<label>Sobrenome</label>
														<input type="text" name="lastName" class="form-control" ng-model="vm.registration.lastName" maxlength="30" required>
													</div>
													<div ng-if="register.lastName.$touched" ng-messages="register.lastName.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group form-group-default required" ng-class="{'has-error': register.email.$invalid && register.email.$touched}">
														<label>Email</label>
														<input type="email" name="email" class="form-control" ng-model="vm.registration.email" maxlength="50" required>
													</div>
													<div ng-if="register.email.$touched" ng-messages="register.email.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group form-group-default required" ng-class="{'has-error': register.password.$invalid && register.password.$touched}">
														<label>Senha</label>
														<input type="password" name="password" placeholder="Mínimo de 6 caracteres" class="form-control" ng-model="vm.registration.password"
															maxlength="30" required>
													</div>
													<div ng-if="register.password.$touched" ng-messages="register.password.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group form-group-default required" ng-class="{'has-error': register.confirmPassword.$invalid && register.confirmPassword.$touched}">
														<label>Confirme a senha</label>
														<input type="password" name="confirmPassword" class="form-control" ng-model="vm.registration.confirmPassword" maxlength="30"
															required>
													</div>
													<div ng-if="register.confirmPassword.$touched" ng-messages="register.confirmPassword.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="checkbox check-primary">
														<input id="agree" type="checkbox" value="1" ng-model="vm.registration.checkTerms">
														<label for="agree">Eu aceito os <a ui-sref="app.terms" class="text-primary">termos de uso</a> e de <a ui-sref="app.terms" class="text-primary">privacidade</a> do Filazero.</label>
													</div>
												</div>
											</div>
											<button class="btn btn-primary btn-cons m-t-10 pull-right" ng-click="vm.register(vm.registration)" ladda="vm.isRunningRegister">Criar conta</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</wz-step>
					<wz-step title="Empresa">
						<div class="padding-20 bg-white">
							<div class="row row-same-height">
								<div class="col-md-5 b-r b-dashed b-grey sm-b-b">
									<div class="padding-30 m-t-50">
										<img src="assets/images/custom/logo.png" alt="logo" data-src="assets/images/custom/logo.png" data-src-retina="assets/images/custom/logo_2x.png">
										<h2>Agora já podemos cadastrar sua empresa.</h2>
										<p>Falta muito pouco para você poder usar o Filazero no gerenciamento das filas do seu negócio.</p>
										<p class="small hint-text">Informe os dados da sua empresa ao lado.</p>
									</div>
								</div>
								<div class="col-md-7">
									<div class="padding-30">
										<form id="form-register" class="p-t-15" name="provider" novalidate>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group form-group-default required" ng-class="{'has-error': provider.providerName.$invalid && provider.providerName.$touched}">
														<label>Nome da Empresa</label>
														<input type="text" name="providerName" class="form-control" ng-model="vm.provider.name" maxlength="50" required>
													</div>
													<div ng-if="provider.providerName.$touched" ng-messages="provider.providerName.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group form-group-default required" ng-class="{'has-error': provider.slug.$touched && (!vm.isSlugAvailable || provider.slug.$invalid)}">
														<label>URL da Empresa</label>
														<input type="text" name="slug" class="form-control" ng-model="vm.provider.slug" ng-change="vm.checkSlugAvailability(vm.provider.slug)"
															maxlength="50" required>
													</div>
													<div ng-if="provider.slug.$touched" ng-messages="provider.slug.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
													<label ng-if="!vm.isSlugAvailable && provider.slug.$touched && !provider.slug.$error.required" class="error">Localizador indisponível</label>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div pg-form-group class="form-group form-group-default form-group-default-select required">
														<label>Categoria</label>
														<ui-select id="category" name="category" ng-model="vm.provider.category">
															<ui-select-match>{{'global.categories.' + vm.provider.category | translate}}</ui-select-match>
															<ui-select-choices repeat="category in vm.categories | filter: $select.search">
																<div ng-bind-html="'global.categories.' + category | translate | highlight: $select.search"></div>
															</ui-select-choices>
														</ui-select>
													</div>
													<div ng-if="provider.category.$touched" ng-messages="provider.category.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group form-group-default required" ng-class="{'has-error': provider.phone.$invalid && provider.phone.$touched}">
														<label>Telefone</label>
														<input type="text" name="phone" class="form-control" ng-model="vm.provider.location.phone" ui-mask="99 99999999?9" ui-mask-placeholder
															ui-mask-placeholder-char="space" ui-options="{clearOnBlur: false}" required>
													</div>
													<div ng-if="provider.phone.$touched" ng-messages="provider.phone.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group form-group-default required" ng-class="{'has-error': provider.zipCode.$invalid && provider.zipCode.$touched}">
														<label>CEP</label>
														<input type="text" name="zipCode" class="form-control" ng-model="vm.provider.location.zipCode" ng-blur="vm.getAddress(vm.provider.location.zipCode)"
															ui-mask="99999-999" ui-mask-placeholder ui-mask-placeholder-char="space" required>
													</div>
													<div ng-if="provider.zipCode.$touched" ng-messages="provider.zipCode.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-12">
													<div class="form-group form-group-default required" ng-class="{'has-error': provider.address.$invalid && provider.address.$touched}">
														<label>Endereço</label>
														<input type="text" name="address" class="form-control" ng-model="vm.provider.location.address" maxlength="150" required>
													</div>
													<div ng-if="provider.address.$touched" ng-messages="provider.address.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group form-group-default required" ng-class="{'has-error': provider.number.$invalid && provider.number.$touched}">
														<label>Número</label>
														<input type="text" name="number" class="form-control" ng-model="vm.provider.location.number" maxlength="10" required>
													</div>
													<div ng-if="provider.number.$touched" ng-messages="provider.number.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group form-group-default required" ng-class="{'has-error': provider.district.$invalid && provider.district.$touched}">
														<label>Bairro</label>
														<input type="text" name="district" class="form-control" ng-model="vm.provider.location.district" maxlength="50" required>
													</div>
													<div ng-if="provider.district.$touched" ng-messages="provider.district.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-sm-6">
													<div class="form-group form-group-default required" ng-class="{'has-error': provider.city.$invalid && provider.city.$touched}">
														<label>Cidade</label>
														<input type="text" name="city" class="form-control" ng-model="vm.provider.location.city" maxlength="50" required>
													</div>
													<div ng-if="provider.city.$touched" ng-messages="provider.city.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
												<div class="col-sm-6">
													<div class="form-group form-group-default required" style="overflow: visible" ng-class="{'has-error': provider.state.$invalid && provider.state.$touched}">
														<label>Estado</label>
														<ui-select id="state" name="state" ng-model="vm.provider.location.state" required>
															<ui-select-match>{{$select.selected}}</ui-select-match>
															<ui-select-choices repeat="state in vm.states | filter: $select.search">
																<div>{{state}}</div>
															</ui-select-choices>
														</ui-select>
													</div>
													<div ng-if="provider.state.$touched" ng-messages="provider.state.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<button class="btn btn-primary btn-cons m-t-10 pull-right" ng-click="vm.createProviderAndLocation(vm.provider)" ladda="vm.isRunningCreateProviderAndLocation">Criar Empresa</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</wz-step>
					<wz-step title="Serviço">
						<div class="padding-20 bg-white">
							<div class="row row-same-height">
								<div class="col-md-5 b-r b-dashed b-grey sm-b-b">
									<div class="padding-30 m-t-50">
										<img src="assets/images/custom/logo.png" alt="logo" data-src="assets/images/custom/logo.png" data-src-retina="assets/images/custom/logo_2x.png">
										<h2>Informe a especialidade da sua empresa.</h2>
										<p>Precisamos saber também em quais dias o serviço é ofertado.</p>
										<p class="small hint-text">Informe a especialidade da sua empresa ao lado.</p>
									</div>
								</div>
								<div class="col-md-7">
									<div class="padding-30">
										<form name="specialtyForm" ng-submit="vm.DoneServiceConfiguration(specialtyForm)" novalidate>
											<div class="row">
												<div class="col-xs-12">
													<div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{'has-error': specialtyForm.name.$invalid && (specialtyForm.$submitted || specialtyForm.name.$touched)}">
														<label>Especialidade</label>
														<input type="text" class="form-control" maxlength="40" ng-model="vm.specialty.name" placeholder="Cardiologia, Ortopedia, etc"
															name="name" required typeahead="absservice.name as absservice.name for absservice in vm.SearchService($viewValue)"
															typeahead-template-url="customTemplate.html" typeahead-wait-ms="500">
													</div>
													<div ng-if="specialtyForm.name.$invalid && (specialtyForm.$submitted || specialtyForm.name.$touched)" ng-messages="specialtyForm.name.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{'has-error': specialtyForm.description.$invalid && (specialtyForm.$submitted || specialtyForm.description.$touched)}">
													<label>Descrição</label>
													<textarea type="text" id="description" class="form-control height-60" name="description" ng-model="vm.specialty.description"
														required></textarea>
												</div>
												<div ng-if="specialtyForm.description.$invalid && (specialtyForm.$submitted || specialtyForm.description.$touched)" ng-messages="specialtyForm.description.$error">
													<span ng-messages-include="modules/core/errors/error-messages.html"></span>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-6">
													<div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{'has-error': specialtyForm.averageTime.$invalid && (specialtyForm.$submitted || specialtyForm.averageTime.$touched)}">
														<label>Tempo de atendimento (min)</label>
														<input type="number" class="form-control" name="averageTime" placeholder="30 min" min="0" max="999" ng-model="vm.specialty.averageTime"
															required>
													</div>
													<div ng-if="specialtyForm.averageTime.$invalid && (specialtyForm.$submitted || specialtyForm.averageTime.$touched)" ng-messages="specialtyForm.averageTime.$error">
														<span ng-messages-include="modules/core/errors/error-messages.html"></span>
													</div>
												</div>

												<div class="col-xs-6">
													<div class="checkbox check-primary p-t-10">
														<input id="selfservice" type="checkbox" ng-model="vm.specialty.allowsSelfService">
														<label for="selfservice">Clientes podem fazer agendamento online</label>
													</div>
												</div>
											</div>

											<h5>Horário de atendimento</h5>

											<div class="checkbox check-primary m-t-25">
												<span ng-repeat="day in vm.dayList">
                          <input id="day{{day}}"
                                type="checkbox"
                                checklist-model="vm.specialty.daysOfWeek"
                                checklist-value="$index">
                          <label for="day{{day}}">{{'global.time.daysOfWeek.resumed.' + day | translate}}</label>
                        </span>
											</div>
											<span ng-if="vm.specialty.daysOfWeek.length === 0">
                        <label class="error">Escolha ao menos um dia.</label>
                      </span>

											<div class="table-responsive">
												<table class="table table-compact table-hover">
													<thead>
														<tr>
															<th class="text-center">Início</th>
															<th class="text-center">Duração</th>
															<th class="text-center">Vagas</th>
															<th></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="sessionModel in vm.specialty.sessionModels">
															<td class="text-center">
																<input type="time" class="form-control" ng-class="{'error': vm.HasError($index)}" ng-model="vm.specialty.sessionModels[$index].start">
															</td>
															<td class="text-center">
																<input type="text" ui-mask="99:59" ui-options="vm.maskOptions" placeholder="hh:mm" class="form-control" ng-class="{error: vm.HasError($index)}"
																	ng-model="vm.specialty.sessionModels[$index].duration">
															</td>
															<td class="text-center">
																<input type="number" class="form-control" ng-class="{error: vm.HasError($index)}" ng-model="vm.specialty.sessionModels[$index].slots">
															</td>
															<td class="toggle-hover nowrap text-right">
																<button class="btn btn-short" title="Remover" type="button" ng-click="vm.RemoveSession($index)" ng-show="vm.specialty.sessionModels.length > 1">
                                  <i class="fa fa-trash"></i>
                                </button>
															</td>
														</tr>
													</tbody>
												</table>

												<button class="btn btn-link pull-right" title="Adicionar Horário" ng-click="vm.AddSession()" type="button">
                          <i class="pg-plus_circle"></i> Adicionar Horário
                        </button>
											</div>

											<button type="submit" class="btn btn-primary btn-cons m-t-10 pull-right" title="Concluir" ladda="vm.isRunningDoneServiceConfiguration">Concluir</button>
										</form>
									</div>
								</div>
							</div>

							<script type="text/ng-template" id="customTemplate.html">
                <a>
                  <span ng-bind-html="match.label | typeaheadHighlight:query"></span>&nbsp
                  <span class="label">{{match.model.occurrences}}</span>
                </a>
              </script>
						</div>
					</wz-step>
					<wz-step title="Conclusão">
						<div class="padding-20 bg-white">
							<div class="block-message block-message-success block-message-color">
								<h4>Tudo certo! Sua empresa já está disponível no Filazero</h4>
								<p>Clique no botão abaixo para acessar a página da sua empresa no Filazero</p>
								<a ui-sref="app.provider.attendance({providerSlug: vm.provider.slug})" class="btn btn-lg btn-rounded btn-primary"><strong>Acessar empresa</strong></a>
							</div>
						</div>
					</wz-step>
				</wizard>
			</div>
		</div>
	</div>
</div>