<div class="callboard" ng-show="!vm.showGuideInfo" ng-height="vm.fullHeight">
  <div class="head" ng-height="vm.headerHeight">
    <div class="container">
      <div class="service">
        <div ng-if="vm.panel.showServiceOnListing && !vm.currentCall" inv-marquee
             inv-marquee-value="vm.serviceConfigs[vm.index].concatedName">
        </div>
        <span ng-if="vm.panel.showServiceOnCall && vm.currentCall" inv-marquee
              inv-marquee-value="vm.findObjectInList(vm.serviceConfigs[vm.index].serviceProvisions, vm.currentCall.serviceProvisionId).name">
        </span>
      </div>
      <div class="datetime">
        <div class="clock">{{vm.now | date: 'shortTime'}}</div>
        <div class="day">{{vm.now | date: 'fullDate'}}</div>
      </div>
    </div>
  </div>

  <div class="body">
    <div class="alert" ng-show="!vm.hasCustomerService(vm.serviceConfigs) || vm.serviceConfigs[vm.index].customerServices.length === 0">
      <i class="fa fa-flag-o"></i>
      <h4>fila vazia</h4>
    </div>

    <table class="tickets" ng-show="vm.hasCustomerService(vm.serviceConfigs)">
      <!-- <thead>
        <tr>
          <th>Bilhete</th>
          <th></th>
          <th></th>
          <th></th>
          <th>Atendimento *</th>
        </tr>
      </thead> -->

      <tbody>
      <tr class="animated" ng-repeat="customerService in vm.serviceConfigs[vm.index].customerServices | limitTo:vm.limit | orderBy: 'forecast' | orderBy: vm.orderByStatus() | orderBy: vm.orderBySession()" ng-class="vm.customerServiceClasses(customerService)">
        <td class="index" ng-height="vm.rowHeight">
          <div class="flag checked"></div>
          <div class="code">{{customerService.friendlyCode}}</div>
          <div class="flag priority">Preferencial</div>
        </td>
        <td class="client" ng-show="vm.showColumn(vm.panel.showCustomerOnListing, vm.panel.showCustomerOnCall, customerService)">{{vm.customerName(customerService.customer)}}</td>
        <td class="resource" ng-show="vm.showColumn(vm.panel.showAttendantOnListing, vm.panel.showAttendantOnCall, customerService)">
          <span ng-if="customerService.attendantId">{{vm.findObjectInList(vm.serviceConfigs[vm.index].attendants, customerService.attendantId).name}}</span>
          <span ng-if="!customerService.attendantId"></span>
        </td>
        <td class="room" ng-show="vm.showColumn(vm.panel.showRoomOnListing, vm.panel.showRoomOnCall, customerService)">{{vm.serviceConfigs[vm.index].room}}</td>
        <td class="status">
          <span ng-if="vm.isCustomerServiceCalled(customerService)">
            Chamado
          </span>
          <span ng-if="!vm.isCustomerServiceCalled(customerService)">
            {{customerService.forecast | date: 'shortTime'}}
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="foot" ng-height="vm.footerHeight">
    <div class="guide">
      <ul class="notes">
        <li><div class="flag checked"></div> <strong>No local</strong></li>
        <li><div class="flag priority">Preferencial</div> <strong>Preferencial</strong></li>
        <li>* O horário exibido trata-se de uma <strong>estimativa</strong> e pode não ser exato</li>
      </ul>
      <div class="powered">Powered by</div>
    </div>
  </div>
</div>

<!-- Guide Tour-->
<div class="guidetour mobile-intro" ng-show="vm.showGuideTour">
  <div class="logo">
    <div class="stores">Disponível para Android e iOS</div>
  </div>

  <div class="mockup">
    <div class="screen">
      <div class="view home"></div>
      <div class="view tickets"></div>
      <div class="input">W1Y-LC</div>
    </div>
  </div>

  <div class="text step-1">
    <div class="major">Baixe o Filazero no seu celular</div>
    <div class="minor">Faça o download e instale o aplicativo através do Google Play ou App Store</div>
  </div>

  <div class="text step-2">
    <div class="major">Informe o código de seu atendimento</div>
    <div class="minor">Abra o aplicativo e digite o código de seu bilhete</div>
  </div>

  <div class="text step-3">
    <div class="major">Acompanhe a sua previsão de atendimento</div>
    <div class="minor">Monitore em tempo real o horário do seu atendimento e o seu lugar na fila</div>
  </div>
</div>
