<h3 class="tab-heading">Mudar senha</h3>

<form name="password" novalidate>
	<div class="form-group form-group-inline">
		<div class="row">
			<div class="col-sm-3">
				<label for="password1">Senha atual</label>
			</div>

			<div class="col-sm-9" ng-class="{'has-error': password.password1.$invalid && password.$submitted}">
				<input id="password1" name="password1" type="password" minlength="6" class="form-control" ng-model="vm.passwordObject.currentPassword"
					ng-disabled="user.isSocialAccount" required>
				<div ng-if="password.$submitted" ng-messages="password.password1.$error">
					<span ng-messages-include="modules/core/errors/error-messages.html"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group form-group-inline">
		<div class="row">
			<div class="col-sm-3">
				<label for="password2">Nova senha</label>
			</div>

			<div class="col-sm-9" ng-class="{'has-error': password.password2.$invalid && password.$submitted}">
				<input id="password2" name="password2" type="password" minlength="6" class="form-control" ng-model="vm.passwordObject.newPassword"
					ng-disabled="user.isSocialAccount" required>
				<div ng-if="password.$submitted" ng-messages="password.password2.$error">
					<span ng-messages-include="modules/core/errors/error-messages.html"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group form-group-inline last">
		<div class="row">
			<div class="col-sm-3">
				<label for="password3">Confirme a nova senha</label>
			</div>

			<div class="col-sm-9" ng-class="{'has-error': password.password3.$invalid && password.$submitted}">
				<input id="password3" name="password3" type="password" minlength="6" class="form-control" ng-model="vm.passwordObject.confirmNewPassword"
					ng-disabled="user.isSocialAccount" required>
				<div ng-if="password.$submitted" ng-messages="password.password3.$error">
					<span ng-messages-include="modules/core/errors/error-messages.html"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="block-action">
		<button type="submit" class="btn btn-bordered btn-rounded btn-lg btn-primary" ng-click="vm.editPassword(password)">Salvar</button>
	</div>
</form>