<div class="full-height" style="background-color: #fafafa">
	<div class="register-container full-height sm-p-t-30">
		<div class="container-sm-height full-height">
			<div class="row row-sm-height">
				<div class="col-sm-12 col-sm-height col-middle">
					<div class="col-md-12">
						<div pg-portlet class="panel panel-default" id="portlet-invitation">
							<div class="panel-heading border-bottom m-b-30 p-b-15">
								<div class="row">
									<div class="col-sm-6">
										<img src="assets/images/custom/logo.png" alt="logo" data-src="assets/images/custom/logo.png" data-src-retina="assets/images/custom/logo_2x.png"
											width="116" height="33">
									</div>

									<div class="col-sm-6 text-right">
										<h4 class="m-t-5 font-montserrat">Convite</h4>
									</div>
								</div>
							</div>

							<div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingInvitation"></div>

							<div class="panel-body" ng-show="vm.invitation.active && !vm.isLoadingInvitation">
								<p>Convidamos <b>{{vm.invitation.email}}</b> a colaborar com os trabalhos da empresa <b>{{vm.invitation.providerName}}</b>									por meio desta aplicação.
								</p>
								<hr>
								<b>Permissões</b>

								<div ng-repeat="role in vm.invitation.roles">
									<i class="fa fa-check"></i><span> {{'global.roles.' + role | translate | capitalize}}</span>
								</div>

								<div ng-show="vm.invitation.userRegistred">

									<div class="block-action">
										<button class="btn btn-cons btn-primary" data-toggle="refresh" ng-click="vm.checkLogin()">
                      Aceitar
                    </button>
									</div>
								</div>

								<div class="progress-circle-indeterminate progress-circle-primary" ng-show="!vm.invitation.userRegistred && vm.isLoadingRegistration"></div>

								<form name="invitationForm" class="p-t-15" role="form" ng-if="!vm.invitation.userRegistred && !vm.isLoadingRegistration"
									ng-submit="vm.registerAndAccept()">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group form-group-default required" ng-class="{ 'has-error' : invitationForm.first.$invalid && invitationForm.submitted}"
												pg-form-group>
												<label>Primeiro Nome</label>
												<input type="text" minlength="3" name="first" class="form-control" ng-model="vm.user.firstName" required>
											</div>
											<div ng-if="invitationForm.first.$invalid && invitationForm.submitted" ng-messages="invitationForm.first.$error">
												<span ng-messages-include="modules/core/errors/error-messages.html"></span>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group form-group-default required" ng-class="{ 'has-error' : invitationForm.lastName.$invalid && invitationForm.submitted}"
												pg-form-group>
												<label>Último Nome</label>
												<input type="text" ng-minlength="3" minlength="3" name="lastName" class="form-control" ng-model="vm.user.lastName" required>
											</div>
											<div ng-if="invitationForm.lastName.$invalid && invitationForm.submitted" ng-messages="invitationForm.lastName.$error">
												<span ng-messages-include="modules/core/errors/error-messages.html"></span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group form-group-default required" ng-class="{ 'has-error' : invitationForm.password.$invalid && invitationForm.submitted}"
												pg-form-group>
												<label>Senha</label>
												<input type="password" class="form-control" minlength="6" name="password" ng-model="vm.user.password" required>
											</div>
											<div ng-if="invitationForm.password.$invalid && invitationForm.submitted" ng-messages="invitationForm.password.$error">
												<span ng-messages-include="modules/core/errors/error-messages.html"></span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="form-group form-group-default required" ng-class="{ 'has-error' : invitationForm.passwordConfirm.$invalid && !invitationForm.passwordConfirm.$pristine }"
												pg-form-group>
												<label>Confirmar senha</label>
												<input type="password" class="form-control" minlength="6" name="passwordConfirm" ng-model="vm.user.confirmPassword" required>
											</div>
											<div ng-if="invitationForm.passwordConfirm.$invalid && invitationForm.submitted" ng-messages="invitationForm.passwordConfirm.$error">
												<span ng-messages-include="modules/core/errors/error-messages.html"></span>
											</div>
										</div>
									</div>
									<div class="checkbox check-primary required">
										<input id="agree" type="checkbox" value="1" ng-model="vm.user.checkTerms" required>
										<label for="agree">Eu aceito os <a href="{{vm.siteURL}}app/terms" target="_blank" class="text-primary">termos de uso</a> e de <a href="{{vm.siteURL}}app/terms" target="_blank" class="text-primary">privacidade</a> do Filazero.</label>
									</div>
									<div class="block-action">
										<button class="btn btn-primary btn-cons m-t-10" type="submit"> Aceitar convite
                    </button>
									</div>
								</form>
							</div>
							<div class="block-message block-message-success" ng-show="!vm.invitation.active && !vm.isLoadingInvitation">
								<h4>Convite aceito!</h4>
								<p>O convite já foi aceito.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>