@page
  margin: 0

@media print
  // Settings
  body
    margin: 0

  #chat-application,
  .default-header,
  .default-footer,
  .breadcrumb
    display: none !important
  
  .default-content
    margin: 0
    padding: 0

  .modal-open
    .default-content
      display: none      

  .no-print
    display: none !important

  .print-only
    &,
    *
      display: block !important

  // Modal
  .modal
    &,
    *
      display: block

    &,
    .modal-dialog,
    .modal-content
      margin: 0 !important
      padding: 0 !important
      
    .modal-content
      border: none

    .modal-dialog
      width: 100%

  // Ticket details
  .ticket-details
    page: ticket-print
    width: 58mm
    padding: 15px
    color: #000
    text-align: center

  .ticket-details-heading
    h1
      font:
        weight: bold
        size: 17px
        family: $font-default
      line-height: 100%

    h2
      font:
        weight: normal
        size: 13px
        family: $font-default
      line-height: 100%

  .ticket-details-body
    margin: 10px 0
    padding: 10px 0
    border: 1px solid #000
    border:
      left: none
      right: none

    .session
      .service
        font:
          weight: bold
          size: 12px
          family: $font-default
        line-height: 100%

      .resource
        margin-top: 2px
        font:
          weight: normal
          size: 11px
          family: $font-default
        line-height: 100%

    .code
      margin-top: 10px
      font:
        weight: bold
        size: 30px
        family: $font-default
      line-height: 100%

    .date
      margin-top: 10px
      font:
        weight: bold
        size: 11px
        family: $font-default
      line-height: 100%

    .priority
      margin-top: 5px
      font:
        weight: bold
        size: 13px
        family: $font-default
      line-height: 100%

    .forecast
      margin-top: 5px
      font:
        weight: bold
        size: 11px
        family: $font-default
      line-height: 100%

    .note
      margin-top: 10px
      font:
        weight: normal
        size: 10px
        family: $font-default
      line-height: 100%

  .ticket-details-footer
    font:
      weight: normal
      style: italic
      size: 10px
      family: $font-default
    line-height: 100%

  .report-table
    margin: 0
    padding: 0
    border: none

    .panel
      border: none

      &,
      .panel-heading,
      .panel-body
        padding: 0

      .panel-heading
        min-height: auto
        margin-bottom: 10pt

      // Table
      .table-responsive
        overflow: visible

      .table
        td,
        th
          padding: 5pt

        th
          text-transform: none
          border-bottom: 1px solid #000