<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
  <li><a ui-sref="app.provider.clients({providerSlug: vm.provider.slug})" class="active">{{'global.contexts.clients.clients' | translate}}</a></li>
</ul>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

  <div ng-show="!vm.isLoading">
    <div class="block-action-top">
      <button class="btn btn-primary" ng-click="vm.addClient()"><i class="pg-plus_circle"></i> Novo Cliente</button>
    </div>

    <div class="input-group transparent">
      <span class="input-group-addon"><i class="pg-search"></i></span>
      <input type="text" class="form-control input-lg" placeholder="Pesquisar clientes" ng-model="vm.searchClients" ng-disabled="vm.clientsList.length === 0">
    </div>

    <br>

    <div class="panel panel-default panel-live">
      <div class="panel-heading separate">
        <div class="row">
          <div class="col-sm-8">
            <div class="panel-title">
              <span ng-show="vm.filteredClients.length == vm.clientsList.length">{{vm.filteredClients.length}} clientes</span>
              <span ng-show="vm.filteredClients.length < vm.clientsList.length">Mostrando {{vm.filteredClients.length}} de {{vm.clientsList.length}} clientes</span>
            </div>
          </div>
        </div>
      </div>

      <div class="block-message block-message-empty" ng-show="vm.clientsList.length === 0">
        <h4>Ops! Nenhum cliente para mostrar...</h4>
        <p>Ainda não há clientes no seu provedor.</p>
        <button class="btn btn-primary" ng-click="vm.addClient()">
          <i class="pg-plus_circle"></i> Novo Cliente
        </button>
      </div>

      <div class="panel-body" ng-show="vm.clientsList.length > 0">
        <div class="block-message block-message-empty" ng-show="vm.filteredClients.length == 0">
          <h4>Ops! Nada encontrado...</h4>
          <p>
            Sua pesquisa não encontrou nenhum resultado correspondente.
            <br> Você pode pesquisar pelo nome, endereço, cep e cidade da localização.
          </p>
        </div>
        <div class="table-responsive" ng-show="vm.filteredClients.length > 0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="order" ng-click="vm.setOrder('name')" ng-class="{ 'order-asc': vm.order=='name', 'order-desc': vm.order=='-name' }">Nome</th>
                <th class="order" ng-click="vm.setOrder('email')" ng-class="{ 'order-asc': vm.order=='email', 'order-desc': vm.order=='-email' }">Email</th>
                <th class="order" ng-click="vm.setOrder('phone')" ng-class="{ 'order-asc': vm.order=='phone', 'order-desc': vm.order=='-phone' }">Telefone</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="client in vm.filteredClients = (vm.clientsList | filter: vm.searchClients | orderBy:vm.order) | startFrom: vm.itensLimit*(vm.currentPage-1) | limitTo:vm.itensLimit">
                <td class="v-align-middle">
                  <a href="javascript:;" ng-click="vm.editClient(client.id)"><strong>{{client.name}}</strong></a>
                </td>
                <td class="v-align-middle">
                  <span>{{client.email}}</span>
                </td>
                <td>
                  <span>{{client.phoneNumber}}</span>
                </td>
                <td class="v-align-middle toggle-hover nowrap text-right">
                  <button class="btn btn-short" title="Editar" ng-click="vm.editClient(client.id)"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-short" title="Remover" ng-click="vm.deleteClient(client)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <span class="m-r-10 muted">Itens por página:</span>
            <select class="cs-select cs-skin-slide" cs-select="" ng-model="vm.itensLimit">
              <option value="5">5</option>
              <option value="10" selected>10</option>
              <option value="20">25</option>
              <option value="50">50</option>
            </select>
          </div>

          <div class="col-sm-6" ng-show="vm.filteredClients.length > vm.itensLimit">
            <ul uib-pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredClients.length"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
