<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix">
		<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
		<h3>Cliente</h3>
	</div>

	<div class="modal-body">
		<form name="client" novalidate>
			<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': client.name.$invalid && client.name.$touched}">
				<label translate="global.form.name" for="name">Nome</label>
				<input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="40" ng-model="vm.client.name" ng-init="vm.focus=true"
					focus-me="vm.focus" required>
			</div>
			<div ng-if="client.name.$touched" ng-messages="client.name.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

			<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': client.email.$invalid && client.email.$touched}">
				<label for="email" translate="global.form.email">Email</label>
				<input type="email" class="form-control" id="email" name="email" minlength="3" maxlength="40" ng-model="vm.client.email"
					required>
			</div>
			<div ng-if="client.email.$touched" ng-messages="client.email.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

			<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': client.phone.$touched && (client.phone.$invalid || !vm.client.phoneNumber)}">
				<label translate="global.form.phone" for="phone">Telefone</label>
				<input type="text" id="phone" name="phone" class="form-control" ui-mask="(99) 99999999?9" ng-model="vm.client.phoneNumber"
					ui-options="{clearOnBlur: false}" required>
			</div>
			<label class="error" ng-if="client.phone.$touched && (client.phone.$invalid || !vm.client.phoneNumber)">Campo inválido</label>

		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cons" data-dismiss="modal" ng-click="vm.cancel()" translate="global.modal.cancel">Cancelar</button>
		<button class="btn btn-cons btn-primary" ng-disabled="client.$invalid" ng-click="vm.save(vm.client)" translate="global.modal.save">Salvar</button>
	</div>

</div>