<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix">
		<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
		<h3>Cliente</h3>
	</div>

	<div class="modal-body">
		<ul class="nav nav-tabs nav-tabs-simple">
			<li class="active"><a data-toggle="tab" pg-tab href="#customerDetails"><span>Detalhes</span></a></li>
			<li><a data-toggle="tab" pg-tab href="#customerActivity"><span>Histórico</span></a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade in active" id="customerDetails">
				<form name="client" novalidate>
					<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': client.name.$invalid && client.name.$touched}">
						<label translate="global.form.name" for="name">Nome</label>
						<input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="40" ng-model="vm.client.name" ng-init="vm.focus=true"
							focus-me="vm.focus" required>
					</div>
					<div ng-if="client.name.$touched" ng-messages="client.name.$error">
						<span ng-messages-include="modules/core/errors/error-messages.html"></span>
					</div>

					<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': client.email.$invalid && client.email.$touched}">
						<label for="email" translate="global.form.email">Email</label>
						<input type="email" class="form-control" id="email" name="email" minlength="3" maxlength="100" ng-model="vm.client.email"
							required>
					</div>
					<div ng-if="client.email.$touched" ng-messages="client.email.$error">
						<span ng-messages-include="modules/core/errors/error-messages.html"></span>
					</div>

					<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': client.phone.$touched && (client.phone.$invalid || !vm.client.phoneNumber)}">
						<label translate="global.form.phone" for="phone">Telefone</label>
						<input type="text" id="phone" name="phone" class="form-control" ui-mask="(99) 99999999?9" ng-model="vm.client.phoneNumber"
							ui-options="{clearOnBlur: false}" required>
					</div>
					<label class="error" ng-if="client.phone.$touched && (client.phone.$invalid || !vm.client.phoneNumber)">Campo inválido</label>

					<div class="modal-footer">
						<button class="btn btn-cons" data-dismiss="modal" ng-click="vm.cancel()" translate="global.modal.cancel">Cancelar</button>
						<button class="btn btn-cons btn-primary" ng-disabled="client.$invalid" ng-click="vm.save(vm.client)" translate="global.modal.save">Salvar</button>
					</div>

				</form>
			</div>

			<div class="tab-pane fade" id="customerActivity">
				<div class="row m-b-15">
					<div class="input-group transparent sm-m-b-10">
						<span class="input-group-addon"><i class="pg-search"></i></span>
						<input type="text" class="form-control" placeholder="Pesquisar bilhete" ng-model="vm.searchTicket" ng-disabled="vm.client.tickets.length === 0">
					</div>
				</div>
				<div class="block-message block-message-empty" ng-show="!vm.client.history">
					<h4>Ops! Nenhum bilhete para mostrar...</h4>
					<p>Esse cliente ainda não tem bilhetes na sua empresa.</p>
				</div>
				<div class="block-message block-message-empty" ng-show="vm.filteredTickets.length === 0">
					<h4>Ops! Nada encontrado...</h4>
					<p>Sua pesquisa não encontrou nenhum resultado correspondente.</p>
				</div>
				<table class="table table-condensed table-small table-hover m-b-0" ng-show="vm.filteredTickets.length > 0">
					<tr ng-repeat="ticket in vm.filteredTickets = (vm.client.history | filter: vm.searchTicket) | startFrom: vm.itensLimit*(vm.currentPage-1) | limitTo:vm.itensLimit">
						<td>
							<a class="block-ticket-link" href="javascript:;" ng-click="vm.showTicketDetails(ticket.id)"><strong>{{ticket.friendlyCode}}</strong></a>
						</td>
						<td>{{ticket.service.name}}</td>
						<td class="text-center">
							<div class="status" title="Status"><strong>{{'global.status.'+ ticket.status.toLowerCase() | translate}}</strong></div>
							<div class="last-updated">{{ticket.lastAction | date: 'short'}}</div>
						</td>
					</tr>
				</table>
				<div class="pull-right" ng-show="vm.filteredTickets.length > vm.itensLimit">
					<ul uib-pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredTickets.length"></ul>
				</div>
			</div>
		</div>
	</div>
</div>