<header class="default-header" ng-controller="HeaderController as vm">
  <div class="block-primary">

    <!-- Navicon -->
    <button class="block-item block-item-button" data-nav="toggle" title="Menu principal">
      <i class="fa fa-navicon"></i>
    </button>

    <!-- Logo -->
    <a ui-sref="app.account.providers" class="block-item block-item-logo">
      <img src="assets/images/custom/logo_white_2x.png" alt="Logo">
    </a>
  </div>

  <div class="block-secondary">

    <!-- Search -->
    <button class="block-item block-item-button block-item-search" title="Pesquisar bilhete" ng-click="vm.openSearch()" ng-if="vm.currentProvider">
      <i class="pg-search"></i>
    </button>

    <!-- Provider/location -->
    <button class="block-item block-item-button block-item-location" title="Alterar unidade" ng-click="vm.openLocationSelector()" ng-if="vm.currentProvider">
      <i class="pg-map"></i>
      <strong>{{vm.currentProvider.name}}</strong>
      <em>{{vm.currentLocation.name}}</em>
    </button>

    <!-- Session -->
    <a href="javascript:;" class="block-item block-item-session">
      <div class="major">{{vm.profileInfo.firstName}} {{vm.profileInfo.lastName}}</div>
      <div class="minor">{{vm.profileInfo.userName}}</div>

      <div class="avatar">
        <img ng-src="{{vm.profileInfo.picture}}" alt="Avatar" ng-if="vm.profileInfo.picture">
        <img src="assets/images/avatar-default.svg" alt="Avatar" ng-if="!vm.profileInfo.picture">
      </div>
    </a>

    <ul class="session-dropdown">
      <li class="item-header">
        <div class="major">{{vm.profileInfo.firstName}} {{vm.profileInfo.lastName}}</div>
        <div class="minor">{{vm.profileInfo.userName}}</div>
      </li>
      <li class="item-label">Selecionar empresa:</li>
      <li class="item-card" ng-class="{'selected': vm.isCurrentProvider(provider)}" ng-repeat="provider in vm.providers">
        <a href="javascript:;" ui-sref="app.provider.dashboard({providerSlug: provider.slug})">{{provider.name}}</a>
      </li>
      <li class="item-divider"></li>
      <li><a href="javascript:;" ui-sref="app.account.providers">Editar empresas</a></li>
      <li><a href="javascript:;" ui-sref="app.account.profile">Editar dados</a></li>
      <li><a href="javascript:;" ui-sref="app.account.password">Mudar senha</a></li>
      <li class="item-divider"></li>
      <li><a href="javascript:;" ng-click="vm.logOut()"><strong>Sair</strong></a></li>
    </ul>
  </div>
</header>
