
.boxfilter-filters
  width: 280px
  overflow-x: visible
  float: left

  button
    width: 60%
    display: block
    margin:
      left: auto
      right: auto
    margin-bottom: 10px

  .boxfilter-filters-header
    border-bottom: 1px solid $color-lighter
    padding-bottom: 10px

  .boxfilter-filters-body
    margin-top: 10px

    .item
      border: 1px solid $color-lighter
      height: 50px
      margin: 10px 0 10px 0
      padding: 13px 10px 10px 10px
      position: inherit

      .service-config-name
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        width: 225px

      .name
        display: inline-block !important
        vertical-align: middle
        font-size: 1.1em
        text-overflow: ellipsis
        width: 200px
        white-space: nowrap
        overflow: hidden

      .circle
        width: 15px
        height: 15px
        display: inline-block
        border-radius: 50%
        vertical-align: middle
        margin-right: 5px

      .circle-green
        background-color: #4caf50

      .circle-yellow
        background-color: #f9a825

      .circle-red
        background-color: #f44336

      .circle-gray
        background-color: #bfbfbf

      .tickets
        display: inline
        padding-top: 2px
        font-size: 1em
        float: right
        font-weight: bold

      .green
        color: #4caf50

      .options-button
        height: 14px
        width: 14px
        border: 1px solid $color-lighter
        text-align: center
        float: right
        margin-top: 3px
        visibility: hidden
        cursor: pointer
        background: white
        vertical-align: middle

        div
          position: absolute
          background-color: white
          min-width: 100px

          a
            color: black
            padding: 12px 16px
            display: block

        @extend %icon
        &:before
          content: '\f0d7'
          font-size: 1em

      label
        font-size: 1.1em

      &:hover
        border: 2px solid map-get($color-custom, 1)

        .options-button
          visibility: visible

    .selected-item
      background-color: #daeffd

.boxfilter-content
  padding-left: 295px

  .box-content
    width: 100%
    min-height: 330px
    float: left
    padding: 0 0 30px 15px
    border-left: 1px solid $color-lighter
