.breadcrumb
  padding: 15px $main-gap
  background: $color-lighter

  li
    &:first-child
      a
        margin-left: 0

    &.aux
      float: right

      &:before
        content: ''
        display: none

      button
        $height: 30px
        $border: 1px
        $color: #aaa
        +box-sizing(border-box)
        +border-radius($main-border-radius)
        +transition(all 0.1s)

        position: relative
        padding: 0 10px 0 ($height + 10)
        border: $border solid $color
        background: #fff
        color: $color
        font:
          weight: 700
          size: 0.9em
          family: $font-system
        line-height: $height - ($border * 2)
        text-transform: none

        &:hover
          border-color: lighten($color, 5%)
          color: lighten($color, 5%)

          &:before
            background: lighten($color, 5%)

        &:before
          +icon

          content: '\f069'
          position: absolute
          left: 0
          top: 0
          display: block
          width: $height
          background: $color
          color: #fff
          font-size: 15px
          line-height: $height - ($border * 2)

      +breadcrumb-aux(warning, #ffac00)
      +breadcrumb-aux(success, #1ed760)
      +breadcrumb-aux(danger, #ff432e)
      +breadcrumb-aux(info, #28abe3)

  a
    &.active,
    &:active,
    &:hover
      color: map-get($color-custom, 1) !important

  // Responsivity
  +screen(map-get($screen, medium))
    $main-gap: 15px

    padding: 15px $main-gap

  +screen(map-get($screen, small))
    text-align: center

    li
      display: inline-block

      &:first-child
        a
          margin-left: auto

      &.aux
        float: none
        display: block
        margin-top: 10px
