.callboard
  $main-gap: 3vw
  +background-image(linear-gradient(darken($color-dark, 15%), $color-dark))
  +text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))

  position: relative
  display: flex
  flex-direction: column
  height: 100%
  overflow: hidden
  font-family: $font-regular
  word-spacing: -4px

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family: $font-regular

  // Loading
  &.loading
    &:after
      $size: 2.2vw

      content: ''
      position: absolute
      right: $main-gap
      bottom: ($main-gap / 2)
      display: block
      width: $size
      height: $size
      background:
        image: image-url('progress/progress-circle-lg-white.svg')
        position: 0 50%
        repeat: no-repeat
        size: auto $size

  // Head
  .head
    .container
      display: flex
      flex-direction: row
      align-items: center
      padding: ($main-gap / 2) $main-gap

      .service
        flex-grow: 1
        position: relative
        height: 5vw
        overflow: hidden
        margin-right: $main-gap
        color: #fff
        font:
          weight: 700
          size: 4.3vw
        line-height: 120%
        text-transform: uppercase
        white-space: nowrap

        .js-marquee
          line-height: 100%

        div
          display: inline-block

      .datetime
        padding-left: $main-gap
        color: #fff
        text:
          transform: uppercase
          align: right

        .clock
          font:
            weight: 700
            size: 3vw
          line-height: 100%

        .day
          margin-top: 1vw
          font-size: 1.3vw
          white-space: nowrap
          line-height: 100%

  // Foot
  .foot
    padding: ($main-gap / 2) $main-gap

  // Body
  .body
    +box-sizing(border-box)

    position: relative
    flex-grow: 1
    padding: 0 $main-gap

  // Tickets
  .tickets
    table-layout: fixed
    width: 100%

    thead
      th
        padding: 1vw 2vw
        color: #fff
        font:
          weight: 400
          size: 1.6vw
        white-space: nowrap
        text-transform: uppercase

        &:first-child
          width: 17vw
          padding-left: 0

        &:last-child
          width: 15vw
          padding-right: 0

    tbody
      border-top: 0.2vw solid #fff
      text-transform: uppercase

      tr
        border-bottom: 1px groove rgba(255, 255, 255, 0.2)
        color: #fff

        &.called
          .code,
          .client,
          .status
            color: $color-success

        &.checked
          .index
            .checked
              visibility: visible

        &.priority
          .index
            .priority
              visibility: visible

        &.zoom
          +background-image(linear-gradient(darken($color-success, 15%), $color-success))

          z-index: 999
          position: absolute
          left: 0
          top: 0
          display: flex
          flex:
            direction: row
            wrap: wrap
          align:
            items: center
            content: center
          width: 100%
          height: 100%
          text-align: center

          .index
            .code
              float: none

            .flag
              +border-radius(0)
              +box-shadow(none)

              &.checked
                display: none

              &.priority
                position: absolute
                left: 0
                top: 0
                float: none
                width: 100%
                height: auto
                padding-left: 0
                margin-top: 0
                background: none
                font:
                  weight: 400
                  size: 2.3vw
                line-height: 100%
                text-transform: none

                &:first-letter
                  margin-right: 0

          &.priority
            +background-image(linear-gradient(darken($color-info, 15%), $color-info))

            .index
              position: relative

              .code
                padding-top: 2.3vw

          td
            margin: 0 5vw
            width: 100%
            line-height: 100%

          .code
            color: #fff
            font-size: 12vw

          .client
            color: #fff
            font-size: 3.8vw

          .resource,
          .room
            +border-radius(1vw)

            border: 0.3vw solid
            background: rgba(0, 0, 0, 0.2)
            font-size: 3vw

          .resource
            +border-bottom-radius(0)

            padding-top: 2vw
            margin-top: 3vw
            border-bottom: none

          .room
            +border-top-radius(0)

            padding-bottom: 2vw
            border-top: none
            font-weight: 400

          .status
            display: none

      td
        overflow: hidden
        padding: 1vw 2vw
        font:
          weight: 700
          size: 1.6vw
        white-space: nowrap
        text-overflow: ellipsis

        &:first-child
          width: 17vw
          padding-left: 0

        &:last-child
          width: 15vw
          padding-right: 0

      .index
        overflow: visible

        .code
          float: left
          font-size: 2.5vw
          line-height: 100%

        .flag
          visibility: hidden
          margin-top: 0.47vw

          &.checked
            float: left
            margin-right: 1vw

          &.priority
            float: right

      .status
        background: rgba(0, 0, 0, 0.5)

  // Flag
  .flag
    $size: 1.7vw
    +border-radius($size)
    +box-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))

    display: inline-block
    width: $size
    height: $size
    overflow: hidden
    background: $color-info
    color: #fff
    font-weight: 700
    line-height: $size
    text-align: center

    &.checked
      background: #f9a825
      line-height: 100%

      &:before
        +icon

        content: '\f00c'
        font-size: 1vw
        line-height: $size
        vertical-align: middle

    &.priority
      padding-left: 0.5vw
      background: $color-info
      font-size: 1.2vw

      &:first-letter
        margin-right: $size

  // Guide
  .guide
    display: flex
    flex-direction: row
    align-items: center
    padding-top: 1vw
    margin-top: ($main-gap / 2)
    border-top: 0.2vw solid #fff
    color: #fff
    font-size: 0.9vw
    text-transform: uppercase

    .notes
      flex-grow: 1
      padding: 0
      margin: 0

      li
        display: inline
        margin-right: 2vw
        line-height: 100%

      .flag
        margin-right: 0.2vw
        vertical-align: middle

    .powered
      padding-right: 7.5vw
      background:
        image: image-url('logo-filazero-white.svg')
        position: 100% 0
        repeat: no-repeat
        size: auto 2vw
      color: #fff
      font-size: 0.9vw
      line-height: 2.5vw
      text-transform: uppercase

  // Alert
  .alert
    +border-radius(0)
    +text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))

    z-index: 10
    position: absolute
    left: 0
    top: 0
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    height: 100%
    padding: 0 15vw
    margin: 0
    background: rgba(0, 0, 0, 0.5)
    color: #fff
    text-align: center

    i
      $size: 10vw
      +border-radius($size)
      +box-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
      +box-sizing(border-box)

      width: $size
      height: $size
      margin: 0 auto ($main-gap / 2)
      border: 0.2vw solid
      font-size: 5vw
      line-height: $size - 0.4vw

    h4
      margin: 0
      color: #fff
      font:
        weight: 700
        size: 1.5vw
      line-height: 120%
      text-transform: uppercase

    p
      margin-top: ($main-gap / 2)
      font:
        weight: 400
        size: 1.1vw
      line-height: 160%
      text-transform: uppercase
