.dashbox
  $gap: 25px

  position: relative
  display: flex
  flex-direction: row
  align-items: stretch

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    color: #fff
    font-family: $font-default
    line-height: 100%

  // Loading
  &.loading
    &:after
      $size: 2.2vw

      content: ''
      position: absolute
      right: $gap
      bottom: ($gap / 2)
      display: block
      width: $size
      height: $size
      background:
        image: image-url('progress/progress-circle-lg-master.svg')
        position: 0 50%
        repeat: no-repeat
        size: auto $size

  > div
    position: relative

    &:nth-child(1)
      width: 30%
      padding-top: 20px

      .search
        padding: 10px
        margin: 0
        border-bottom: 1px solid $color-lighter
        background: $color-lightest

      &.compact
        width: 50px + ($gap * 2)

        .collapse-toggle
          &:after
            content: '\f105'

        .search
          display: none

        .list-avatar
          text-align: center

          a
            .block-avatar
              margin: 0 auto

            .description
              display: none

    &:nth-child(2)
      display: flex
      flex:
        direction: row
        wrap: wrap
      align-content: flex-start
      width: 100%
      padding-left: $gap
      border-left: 1px solid $color-lighter

      > div
        width: 50%

        &:nth-child(1)
          width: 100%

        &:nth-child(2)
          padding-right: $gap
          border-right: 1px solid $color-lighter

        &:nth-child(3)
          padding-left: $gap

    &.fully-centered
      display: flex
      align-items: center
      justify-content: center

  .heading
    display: flex
    flex-direction: row
    align-items: top
    margin-bottom: $gap

    > div
      width: 50%

    .details
      margin-right: ($gap * 2)

      .description
        margin-bottom: 15px
        color: $color-dark
        font-family: $font-default

        .major
          font:
            weight: 700
            size: 2.1em
          text-transform: uppercase

        .minor
          margin-top: 10px
          color: $color-light
          font:
            style: italic
            size: 1.4em

      .session
        border-top: 1px dotted $color-lighter

        .time,
        .tickets,
        .ticket-add
          +transition(all 0.1s)

          position: relative
          display: inline-block
          padding: 10px
          margin-right: 5px
          color: $color-dark
          font:
            weight: 700
            size: 1.1em
            family: $font-default
          letter-spacing: 0
          line-height: 100%

          &:before
            +icon

            margin-right: 5px
            color: $color-light
            font-size: 17px

        .time
          &:before
            content: '\f017'

          &.multiple
            cursor: pointer
            color: map-get($color-custom, 1)

            &:hover
              +box-shadow(3px 3px 7px rgba(0, 0, 0, 0.2))

              background: $color-lighter

              ul
                display: block

            &:after
              +icon

              content: '\f107'

          ul
            +box-shadow(3px 3px 7px rgba(0, 0, 0, 0.2))

            z-index: 90
            position: absolute
            left: 0
            top: 100%
            display: none
            padding: 0
            margin: 0
            width: 100%
            background: $color-lighter

            li
              display: block
              padding: 0
              margin: 0

              &.disabled
                +opacity(0.2)

                a
                  &:hover
                    cursor: default
                    background: none
                    color: map-get($color-custom, 1)

            a
              +transition(all 0.1s)

              display: block
              padding: 10px 25px 10px 10px
              color: map-get($color-custom, 1)
              font:
                weight: 400
                size: 12px
              line-height: 100%
              text-align: right

              &:hover
                background: map-get($color-custom, 1)
                color: #fff

        .tickets
          &:before
            content: '\f145'

        .ticket-add
          &:before
            content: '\f055'

  .collapse-toggle
    $size: 25px
    $border: 1px
    +border-radius($size)
    +box-sizing(border-box)
    +transition(all 0.1s)

    z-index: 700
    position: absolute
    right: -($size / 2)
    top: -($size / 2)
    width: $size
    height: $size
    padding: 0
    margin: 0
    border: $border solid $color-lighter
    cursor: pointer
    background: #fff
    line-height: $size - ($border * 2)
    text-align: center

    &:hover
      background: $color-lightest

    &:after
      +icon

      content: '\f104'
      font-size: 15px
      line-height: $size - ($border * 2)

  .search
    position: relative
    display: flex
    flex-direction: row
    margin-bottom: $gap

    &:before
      @extend %input-text
      +icon
      +border-right-radius(0)

      content: '\f002'
      width: 1%
      border-right: none
      color: $color-light
      text-align: center

    .reset
      +transition(all 0.1s)

      position: absolute
      right: 1px
      top: 2px
      padding: 4px 7px
      border: none
      background: #fff
      color: $color-light

      &:before
        +icon

        content: '\f00d'
        font-size: 22px

      &:hover
        color: darken($color-light, 15%)

    input
      @extend %input-text
      +border-left-radius(0)

      border-left: none

      &:focus
        border-color: rgba(0, 0, 0, 0.07)
        background-color: #fff

    .select
      width: 100%

      .form-control
        border-left: none

        &:hover,
        &:focus
          border-color: rgba(0, 0, 0, 0.07)
          background-color: #fff

    .code
      font-size: large
      font-weight: 500

    .info
      padding-left: 10px
      font-style: italic
      font-size: large

    .details
      padding-left: 20px

  .togglebox
    margin-bottom: $gap
    background: $color-lightest

    &:last-child
      margin-bottom: 0

    &.on
      .togglebox-header
        border-bottom: 1px dotted $color-light

        &:after
          content: '\f106'

      .togglebox-body
        display: block

    &.unseen
      $color: map-get($color-custom, 1)

      .togglebox-header
        .tickets
          color: $color

          &:before
            color: $color

    .togglebox-header
      +transition(all 0.1s)

      position: relative
      padding: 5px 15px
      cursor: pointer
      background: $color-lightest
      color: $color-dark
      font:
        weight: 400
        size: 0.9em
        family: $font-default
      letter-spacing: 0.1px
      text-transform: uppercase

      &:hover,
      &:active
        background: $color-lighter

      &:after
        +icon

        content: '\f107'
        float: right
        font-size: 17px

      .tickets
        display: inline-block
        margin-left: 10px
        font:
          weight: 700
          size: 1em
          family: $font-default
        line-height: 100%

        &:before
          +icon

          content: '\f145'
          margin-right: 5px
          color: $color-light

    .togglebox-body
      display: none
      padding: 10px

  +dashbox-togglebox('called', map-get($color-ticket, called))
  +dashbox-togglebox('finalized', map-get($color-ticket, finalized))
  +dashbox-togglebox('canceled', map-get($color-ticket, canceled))
  +dashbox-togglebox('checked', map-get($color-ticket, checked))
  +dashbox-togglebox('confirmed', map-get($color-ticket, confirmed))
  +dashbox-togglebox('scheduled', map-get($color-ticket, scheduled))

  .message
    margin: 10px
    color: $color-light
    font:
      weight: 700
      size: 1em
    text-align: center

    &:before
      +icon

      display: block
      margin-bottom: 5px
      font-size: 60px

    &.ticket
      &:before
        content: '\f145'

    &.session
      &:before
        content: '\f017'

  .callbox
    padding: 10px
    background: $color-lightest

    .action
      display: flex
      flex-direction: row

      button
        $color: map-get($color-custom, 1)
        $height: 70px
        +text-shadow(1px 1px 0 rgba(0, 0, 0, 0.2))
        +box-shadow(inset 0 1px 1px $color, 0 5px 0 0 darken($color, 20%))
        +transition(top 0.1s)

        position: relative
        flex-grow: 1
        height: $height
        padding: 0
        border: none
        background:
          color: $color-success
          image: linear-gradient($color, darken($color, 10%))
        color: #fff
        font:
          weight: 700
          size: 1.1em
          family: $font-default
        line-height: $height
        text:
          transform: uppercase
          align: center

        &:active:hover:enabled
          +box-shadow(inset 0 3px 0 $color, 0 2px 0 0 darken($color, 20%))

          top: 3px

        &:disabled
          +opacity(0.5)

        &:before
          +icon

          content: '\f0a1'
          margin-right: 10px
          font-size: 20px
          line-height: $height

        &.priority
          +border-left-radius(0)

          max-width: 100px
          padding-right: 20px
          border-left: 1px solid rgba(255, 255, 255, 0.5)
          background:
            image: image-url('accessibility-white.svg'), linear-gradient($color, darken($color, 10%))
            position: 15px 50%
            repeat: no-repeat, repeat
            size: 30px auto, 100% 100%
          text-align: right

          &:before
            display: none

        &.loading
          background:
            image: image-url('progress/progress-circle-lg-white.svg')
            position: 50% 50%
            repeat: no-repeat
            size: auto 30px
          text-indent: -9999px

          &:before
            display: none

          .total
            display: none

        .total
          $size: 25px
          +text-shadow(none)
          +border-radius($size)

          display: inline-block
          width: $size
          height: $size
          margin-left: 10px
          background: rgba(0, 0, 0, 0.2)
          color: #fff
          font:
            weight: 700
            size: 10px
            family: $font-default
          line-height: $size
          text-align: center

    .tool
      display: flex
      flex-direction: row
      align-items: flex-start
      margin-top: 15px

      .choose
        width: 100%

        &.ui-select-error
          .ui-select-container
            border: 1px solid $color-danger

      .keep
        $size: 35px
        +transition(all 0.1s)

        width: $size
        height: $size
        margin-left: 5px
        border: none
        cursor: pointer
        background: none
        color: $color-light
        text-align: center

        &:hover
          color: darken($color-light, 15%)

        &:before
          +icon

          content: '\f08d'
          font-size: 20px
          line-height: $size

        &.on
          color: map-get($color-custom, 1)

      input
        @extend %input-text

      .error-input
        border-color: $color-danger

      .error-message
        margin-top: 5px
        color: $color-danger
        font-size: 12px

        &:before
          @extend %icon

          content: '\f06a'
          margin-right: 5px

  // Responsivity
  +screen(map-get($screen, large))
    > div
      &:nth-child(1)
        width: 50px + ($gap * 2)

        .collapse-toggle,
        .search
          display: none

  +screen(map-get($screen, medium))
    $gap: 15px

    flex-wrap: wrap

    > div
      &:nth-child(1)
        width: 100%
        overflow-x: auto
        overflow-y: hidden
        padding-top: 0
        white-space: nowrap

      &:nth-child(2)
        padding: $gap 0 0
        margin-top: 0
        border: none

        > div
          width: 100%

          &:nth-child(2)
            order: 3
            padding: 0
            border: none

          &:nth-child(3)
            order: 2
            padding: 0 0 $gap

    .heading
      flex-wrap: wrap
      text-align: center

      > div
        width: 100%

      .details
        margin: 0 0 $gap

        .description
          .major
            font-size: 1.7em

          .minor
            font-size: 1.4em

    .togglebox
      margin-bottom: $gap

    .callbox
      .action
        button
          font-size: 0.9em

          &:before
            font-size: 25px

          &.priority
            background-size: 25px auto, 100% 100%
