.datepicker-custom
  text-align: center

  .well
    +border-radius(0)

    display: inline-block
    padding: 0
    margin: 0
    background: none

  button
    +box-sizing(border-box)

    margin: 0
    border: none

    &:hover
      border: none

  table
    outline: 0

  [ng-switch-when="day"]
    td
      button
        $size: 33px

        +border-radius(100%)

        min-width: $size !important
        width: $size
        height: $size
        padding: 0

        &:hover
          border: 2px solid map-get($color-custom, 1)
          color: map-get($color-custom, 1)

        &:disabled
          +opacity(0.5)

        &.active // First day (month)
          background: #fff

        &.btn-info // Selected day
          background: map-get($color-custom, 1)

          &:hover
            border: none

          span
            color: #fff !important

  th
    font-size: 12px
    line-height: 100%
    text-transform: uppercase

    button
      +border-radius($main-border-radius)

      padding-bottom: 10px
      color: map-get($color-custom, 1)
      text-transform: uppercase

  td
    padding: 4px 2px 0

    &.available // Available day
      button
        background: $color-success-light

    &.unavailable // Unavailable day
      button
        background: $color-danger-light

    span
      color: map-get($color-custom, 1) !important
      font:
        size: 12px
        family: $font-system

      &.text-muted
        +opacity(0.3)

      &.text-info // Current (today...)
        font-weight: bold

.uib-datepicker-popup
  &:focus
    outline: 0

  li
    &:focus
      outline: 0

    div
      &:focus
        outline: 0

  // Responsive
  +screen(map-get($screen, small))
    [ng-switch-when="day"]
      td
        button
          $size: 31px

          min-width: $size !important
          width: $size
          height: $size
