label
  &.error
    margin: -7px 0 10px
    padding: 0
    color: $color-danger
    font-size: 0.9em

    &:before
      @extend %icon

      content: '\f06a'
      margin-right: 5px

  &.queue
    +border-radius($main-border-radius)
    +box-sizing(border-box)
    +opacity(0.4)
    +transition(all 0.1s)

    display: block
    height: 150px
    position: relative
    cursor: pointer
    background:
      color: $color-lighter
      position: 50% 10px
      repeat: no-repeat

    &:hover,
    &.queue-checked
      +opacity(1)

    &.queue-checked
      background-color: $color-highlight

      &:after
        @extend %icon

        content: '\f058'
        position: absolute
        left: 7px
        top: 7px
        color: map-get($color-custom, 1)
        font-size: 17px

    &.queue-single
      background-image: image-url('queue-single.png')

    &.queue-multiple
      background-image: image-url('queue-multiple.png')

    span
      display: block
      width: 100%
      position: absolute
      left: 0
      bottom: 0
      padding: 10px
      font:
        weight: normal
        size: 1.3em
        family: $font-system
      text:
        transform: none
        align: center

    input
      +opacity(0)

      visibility: hidden
      position: absolute
      left: 0
      top: 0


.service-config-details
  max-height: 310px
  max-width: 90%
  margin-left: auto
  margin-right: auto
  overflow-y: auto

.form-group
  margin-bottom: 20px

  &.has-error
    border-color: $color-danger-light !important

.form-group-custom
  +border-radius(2px)

  margin-bottom: 20px
  padding: 7px 12px 4px
  border: 1px solid rgba(0, 0, 0, .07)

  &.clean
    padding: 0
    border: none

  > label
    font:
      size: 11px
      family: $font-heading
      weight: 600
    text-transform: uppercase

  .table
    margin: 0

    tr
      &:last-child
        td
          border: none

.form-group-light
  background: $color-lighter

.form-group-default-select
  padding-bottom: 10px

  .ui-select-container
    margin-top: 5px

.form-group-inline
  margin: 0
  padding: 20px 0
  border-bottom: 1px dotted $color-lighter

  label
    margin-top: 7px

  .radio,
  .checkbox
    label
      margin:
        top: 0
        bottom: 0
      font:
        weight: normal
        size: 1em
        family: $font-system
      text-transform: none

.input-loading
  background:
    image: image-url('progress/progress-circle-master.svg')
    position: 99% 50%
    repeat: no-repeat
    size: auto 25px

.ticket-form-error
  label
    margin-top: 5px !important

.service-config-panel
  padding: 0 !important
  max-height: 600px
  overflow-y: auto

  .table
    margin: 0 !important

// invInputRange
[inv-input-range]
  $font-size: 17px

  display: block
  color: $color-dark
  font:
    weight: 700
    size: $font-size
  text-align: center

  output,
  .output

    display: inline
    color: $color-dark
    font:
      weight: 700
      size: $font-size

  .output
    width: 110px
    margin: 0 3px
    text-align: right

  input[type="range"]
    &:focus
      + .rangeslider
        .rangeslider__handle
          +box-shadow(0 0 8px map-get($color-custom, 1))

  .rangeslider__fill
    +border-radius($main-border-radius)
    +box-shadow(none)

    background: map-get($color-custom, 1)

  .rangeslider--horizontal
    +border-radius($main-border-radius)
    +box-shadow(none)

    height: 5px
    margin: 15px 0

  .rangeslider__handle
    $size: 25px

    width: $size
    height: $size

    &:after
      width: ($size - 10)
      height: ($size - 10)
