.guidetour
  z-index: 888
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: hidden
  background: map-get($color-custom, 1)

  &.mobile-intro
    $duration: 30s
    +background-image(linear-gradient(map-get($color-custom, 1), darken(map-get($color-custom, 1), 25%)))

    .logo
      +opacity(0)
      +animation(logo $duration infinite)

      position: absolute
      left: 50%
      top: 50%
      width: 60vw
      height: 60vh
      margin: -30vh 0 0 -30vw
      background:
        image: image-url('logo-filazero-white.svg')
        position: 50% 0
        repeat: no-repeat
        size: 80% auto

      .stores
        +text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))

        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 12vw
        background:
          image: image-url('stores.png')
          position: 50% 100%
          repeat: no-repeat
          size: 80% auto
        color: #fff
        font:
          weight: 700
          size: 2.5vw
          family: $font-default
        line-height: 100%
        text-align: center

    .mockup
      +opacity(0)
      +animation(mockup $duration infinite)

      position: absolute
      left: 15vw
      top: 50%
      width: 23vw
      height: 46.5vw
      padding: 4vw 1.2vw 5.3vw 0.8vw
      margin-top: -23.2vw
      background:
        image: image-url('nexus.png')
        position: 0 0
        repeat: no-repeat
        size: contain

      .screen
        position: relative
        width: 100%
        height: 100%
        background: #000

        .view
          +opacity(0)

          position: absolute
          width: 100%
          height: 100%
          background:
            position: 0 0
            repeat: no-repeat
            size: 100% auto

          &.home
            +animation(mockup-home $duration infinite)

            background-image: image-url('screenshots/mobile-home.png')

          &.tickets
            +animation(mockup-tickets $duration infinite)

            background-image: image-url('screenshots/mobile-tickets.png')

        .input
          +opacity(0)
          +animation(mockup-screen-input $duration infinite)

          position: absolute
          left: 0
          top: 17.6vw
          width: 100%
          color: #000
          font:
            weight: 700
            size: 3vw
            family: $font-default
          text-align: center
          line-height: 100%

    .text
      +text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))
      +opacity(0)

      position: absolute
      right: 15vw
      top: 50%
      width: 41vw
      height: 36vw
      margin-top: -18vw

      &.step-1
        +animation(text-step-1 $duration infinite)

        background:
          image: image-url('stores.png')
          position: 50% 100%
          repeat: no-repeat
          size: 100% auto

      &.step-2
        +animation(text-step-2 $duration infinite)

      &.step-3
        +animation(text-step-3 $duration infinite)

      .major
        color: #fff
        font:
          weight: 700
          size: 5vw
          family: $font-default
        line-height: 5vw

      .minor
        margin-top: 3vw
        color: #fff
        font:
          weight: 400
          size: 3vw
          family: $font-default
        line-height: 4vw

    // Animation: logo
    @keyframes logo
      75%
        +scale(1.2)
        +opacity(0)

      76%
        +scale(1)
        +opacity(1)

      98%
        +opacity(1)

      99%
        +opacity(0)

    // Animation: mockup
    @keyframes mockup
      0%
        +translate(-5vw)
        +opacity(0)

      1%
        +translate(0)
        +opacity(1)

      74%
        +translate(0)
        +opacity(1)

      75%
        +translate(-5vw)
        +opacity(0)

    // Animation: mockup home
    @keyframes mockup-home
      0%
        +opacity(0)

      1%
        +opacity(1)

      49%
        +opacity(1)

      50%
        +opacity(0)

    // Animation: mockup tickets
    @keyframes mockup-tickets
      49%
        +opacity(0)

      50%
        +opacity(1)

      75%
        +opacity(1)

    // Animation: mockup screen input
    @keyframes mockup-screen-input
      24%
        +opacity(0)

      25%
        +opacity(1)

      49%
        +opacity(1)

      50%
        +opacity(0)

    // Animation: text step 1
    @keyframes text-step-1
      0%
        +translate(5vw)
        +opacity(0)

      1%
        +translate(0)
        +opacity(1)

      24%
        +translate(0)
        +opacity(1)

      25%
        +translate(5vw)
        +opacity(0)

    // Animation: text step 2
    @keyframes text-step-2
      24%
        +translate(5vw)
        +opacity(0)

      25%
        +translate(0)
        +opacity(1)

      49%
        +translate(0)
        +opacity(1)

      50%
        +translate(5vw)
        +opacity(0)

    // Animation: text step 3
    @keyframes text-step-3
      49%
        +translate(5vw)
        +opacity(0)

      50%
        +opacity(1)
        +translate(0)

      74%
        +opacity(1)
        +translate(0)

      75%
        +translate(5vw)
        +opacity(0)
