// Default overlay
.default-overlay
  z-index: 900
  display: none
  width: 100%
  height: 100%
  overflow: hidden
  position: fixed
  left: 0
  top: 0
  background: rgba(0, 0, 0, 0.7)

// Default header
.default-header
  +box-shadow(0 2px 0 rgba(0, 0, 0, 0.1))
  +box-sizing(border-box)

  z-index: 800
  width: 100%
  height: $main-header-height
  position: fixed
  left: 0
  top: 0
  padding: 0 $main-gap
  background: map-get($color-custom, 1)

  .block-primary
    position: relative
    float: left

    .block-item
      margin-right: $main-gap

  .block-secondary
    position: relative
    float: right

    .block-item
      margin-left: $main-gap

  .block-item
    display: block
    float: left

  .block-item-button
    +opacity(0.7)
    +transition(all 0.1s)

    padding: 0
    border: none
    background: none
    color: #fff
    font:
      size: 1.1em
      family: $font-default
    line-height: $main-header-height

    &:hover
      +opacity(1)

    i
      font-size: 18px

  .block-item-logo
    margin-top: 14px
    padding-right: $main-gap
    border-right: 1px solid rgba(255, 255, 255, 0.2)

    img
      width: 110px

  .block-item-location
    position: fixed
    left: 210px
    top: 0

  .block-item-session
    +box-sizing(border-box)

    height: $main-header-height
    position: relative
    padding: 13px 65px 0 0
    color: #fff
    text:
      align: right
      decoration: none

    &:hover
      .major,
      .minor
        +opacity(1)

    &:after
      @extend %icon

      content: '\f107'
      position: absolute
      right: 0
      top: 22px

    .major,
    .minor
      +opacity(0.7)
      +transition(all 0.1s)

      line-height: 100%

    .major
      font:
        weight: bold
        size: 1.1em
        family: $font-default

    .minor
      margin-top: 3px
      font-size: 0.9em

    .avatar
      $size: 35px
      +border-radius($size)
      +box-sizing(border-box)

      width: $size
      height: $size
      overflow: hidden
      position: absolute
      right: 18px
      top: 10px

      img
        height: 100%

  .session-dropdown
    +border-bottom-radius($main-border-radius)
    +box-shadow(0 2px 4px rgba(0, 0, 0, 0.2))
    +box-sizing(border-box)

    z-index: 99
    display: none
    min-width: 200px
    max-width: 260px
    overflow-y: auto
    position: absolute
    right: 0
    top: 100%
    padding: 7px 0
    background: #fff

    &:before
      +icon

      content: '\f0d8'
      position: absolute
      top: -17px
      right: 27px
      font-size: 30px
      line-height: 100%
      color: #fff

    li
      display: block
      padding: 0

    .item-divider
      height: 1px
      overflow: hidden
      margin: 7px 0
      background: rgba(0, 0, 0, 0.1)

    .item-header
      display: none
      padding: 7px 10px
      line-height: 130%

      .major
        font:
          weight: bold
          size: 1.1em
          family: $font-default

      .minor
        font-size: 0.9em

    .item-label
      padding: 7px 10px
      color: $color-light

    .item-card
      &.selected
        a
          position: relative
          border-color: $color-light
          background: $color-lighter
          color: $color-dark

          &:after
            +icon

            content: '\f058'
            position: absolute
            right: 10px
            top: 10px
            font-size: 15px

      a
        +border-radius($main-border-radius)

        margin: 0 10px 5px 10px
        padding: 10px 25px 10px 10px
        border: 1px solid $color-lighter
        background: lighten($color-lighter, 4%)
        color: $color-light
        font:
          weight: bold
          size: 0.9em

        &:hover
          border-color: $color-light
          background: $color-lighter
          color: $color-dark

    a
      +transition(all 0.1s)

      display: block
      padding: 7px 10px
      color: $color-dark
      line-height: 130%

      &:hover
        background: $color-lighter

  +screen(map-get($screen, medium))
    $main-gap: 15px

    padding: 0 $main-gap

    .block-primary
      .block-item
        margin-right: $main-gap

    .block-secondary
      .block-item
        margin-left: $main-gap

    .block-item-button
      strong,
      em
        display: none

    .block-item-logo
      padding-right: 0
      border-right: none

    .block-item-location
      position: relative
      left: 0

    .block-item-session
      .major,
      .minor
        display: none

    .session-dropdown
      .item-header
        display: block

  +screen(map-get($screen, small))
    .block-item-search
      display: none

// Default nav
.default-nav
  $width: 280px
  +box-sizing(border-box)
  +transition(all 0.1s)

  width: $width
  height: 100%
  overflow: auto
  position: absolute
  left: -$width
  top: 0
  background: #fff

  &.opened
    left: 0

  .top
    padding: 15px

    img
      width: 80px

    button
      position: absolute
      right: 15px
      top: 18px
      padding: 0
      border: none
      background: none

      &:before
        +icon(map-get($font-icon, 2))

        content: '\e601'
        color: map-get($color-custom, 1)
        font-size: 15px

  .menu
    padding: 0

    li
      display: block
      padding: 0

      &.search
        display: none

        a
          background: $color-light
          color: #fff

      &.on
        a
          background: map-get($color-custom, 1)
          color: #fff

    a
      +transition(all 0.1s)

      display: block
      position: relative
      padding: 7px 15px
      color: $color-dark
      font:
        weight: bold
        family: $font-default
      line-height: 130%

      &:hover,
      &:focus
        background: $color-lighter
        color: map-get($color-custom, 1)

      i
        $size: 30px
        +border-radius($size)
        +transition(all 0.1s)

        width: $size
        height: $size
        margin-right: 7px
        line-height: $size
        text-align: center

  +screen(map-get($screen, small))
    .menu
      li
        &.search
          display: block

// Default footer
.default-footer
  z-index: 500
  position: relative
  padding: $main-gap
  font-size: 0.9em

  +screen(map-get($screen, medium))
    $main-gap: 15px

    padding: $main-gap

// Default content
.default-content
  z-index: 600
  min-height: 80%
  position: relative
  padding: $main-header-height 0
  background: #fff
