// Avatar
.list-avatar
  padding: 0
  margin: 0

  li
    display: block
    padding: 0

    &.on
      a
        background: $color-lightest

        &:after
          visibility: visible

        .description
          color: $color-dark

  a
    +transition(all 0.1s)

    position: relative
    display: flex
    flex-direction: row
    align-items: center
    padding: 12px 10px
    border-bottom: 1px solid $color-lightest

    &:after
      +icon

      content: '\f00c'
      visibility: hidden
      width: 20px
      margin-left: 10px
      color: $color-light

    &:hover
      background: $color-lightest

      .description
        color: $color-dark

    .block-avatar
      min-width: 50px
      margin-right: 10px

    .description
      +transition(all 0.1s)

      width: 100%
      color: $color-light
      font:
        weight: 700
        size: 0.9em
        family: $font-default
      line-height: 140%
      text:
        transform: uppercase
        decoration: none

  // Responsivity
  +screen(map-get($screen, large))
    a
      .block-avatar
        margin: 0 auto

      .description
        display: none

  +screen(map-get($screen, medium))
    text-align: center

    li
      display: inline

    a
      display: inline-block
      border: none
      overflow: auto

// Tickets
.list-tickets
  $color: $color-light

  padding: 0
  margin: 0

  li
    +box-sizing(border-box)
    +box-shadow(0 0 7px rgba(0, 0, 0, 0.1))
    +transition(all 0.1s)

    position: relative
    width: 100%
    display: block
    padding: 0
    margin-top: 12px
    border: 1px solid lighten($color-light, 5%)
    border-left: 5px solid darken($color-light, 5%)

    &.on
      .primary
        .more
          &:after
            content: '\f106'

      .secondary
        display: block

    &.highlighted
      +animation(animation 0.9s 4) // Total 3.6s

      @keyframes animation
        0%
          +box-shadow(0 0 10px rgba($color-info, 0.3))

          border-top-color: $color-info-light
          border-right-color: $color-info-light
          border-bottom-color: $color-info-light

        50%
          +box-shadow(0 0 15px rgba($color-info, 0.5))

          border-top-color: $color-info-light
          border-right-color: $color-info-light
          border-bottom-color: $color-info-light

        100%
          +box-shadow(0 0 10px rgba($color-info, 0.3))

          border-top-color: $color-info-light
          border-right-color: $color-info-light
          border-bottom-color: $color-info-light

    button
      +transition(background-color 0.1s)

      position: relative
      width: 100%
      padding: 0
      border: none
      background-color: transparent
      color: $color-dark
      font:
        weight: 700
        size: 1em
        family: $font-default
      text:
        transform: uppercase
        align: center

      &:hover:enabled,
      &:active:enabled
        color: lighten($color-dark, 5%)

      &:disabled
        +opacity(0.3)

      &.loading
        +opacity(1)

        background:
          image: image-url('progress/progress-circle-lg-master.svg')
          position: 50% 50%
          repeat: no-repeat
          size: auto 15px
        text-indent: -9999px

      span
        $size: 19px
        +border-radius($size)

        position: absolute
        right: 7px
        top: 7px
        display: block
        width: $size
        height: $size
        background: $color-lightest
        font:
          weight: 700
          size: 9px
        line-height: $size
        text-align: center

  .primary
    display: flex
    height: 70px
    flex-direction: row
    align-items: stretch
    cursor: pointer
    background: #fff
    color: $color-dark

    .notifier
      $height: 18px
      +box-shadow(1px 1px 0 rgba(0, 0, 0, 0.2))

      position: absolute
      left: -7px
      top: -7px
      display: block
      height: $height
      overflow: hidden
      background: $color-dark
      color: #fff

      .priority
        float: left
        width: $height + 10
        height: $height
        background:
          color: $color-info
          image: image-url('accessibility-white.svg')
          position: center center
          repeat: no-repeat
          size: auto 75%

      .text
        float: left
        padding: 0 5px
        font:
          weight: 700
          size: 0.8em
        line-height: $height

        &:before
          +icon

          margin-right: 3px
          font-size: 11px
          line-height: $height

        &.forecast
          &:before
            content: '\f017'

        &.flag
          &:before
            content: '\f024'

    .position
      $size: 20px
      +border-radius($size)
      +box-sizing(border-box)
      +box-shadow(1px 1px 0 rgba(0, 0, 0, 0.2))

      align-self: center
      width: $size
      height: $size
      margin-left: 10px
      border: 1px solid rgba(255, 255, 255, 0.5)
      background: #fff
      color: $color-dark
      font:
        weight: 700
        size: 0.8em
        family: $font-default
      line-height: $size - 2
      text-align: center

    .details
      flex-grow: 1
      align-self: center
      padding: 0 10px

      .major
        font:
          weight: 700
          size: 1.7em
          family: $font-default
        line-height: 100%

      .minor
        margin-top: 5px
        font:
          weight: 400
          size: 1em
          family: $font-default
        line-height: 100%

    .action,
    .more
      width: auto
      padding: 0 20px

    .action
      font-size: 1.3em

    .more
      color: $color-dark

      &:hover:enabled,
      &:active:enabled
        color: $color-dark

      &:after
        +icon

        content: '\f107'
        font-size: 17px

  .secondary
    display: none
    background: #fff
    border-top: 1px dotted $color-light

    table
      table-layout: fixed
      width: 100%

      tr
        &:last-child
          th,
          td
            border: none

      th,
      td
        padding: 10px
        border-bottom: 1px solid $color-lighter
        font-size: 0.9em
        line-height: 130%

      th
        width: 30%
        color: $color-light
        font-weight: 700

    .actions
      display: flex
      flex-direction: row
      align-items: stretch
      border-top: 1px dotted $color-light
      height: 50px
      background: $color-lightest

      button
        font-size: 0.9em

        i
          margin-right: 2px

    .truncate
      display: block
      width: 100%
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

  +list-tickets('called', map-get($color-ticket, called))
  +list-tickets('finalized', map-get($color-ticket, finalized))
  +list-tickets('canceled', map-get($color-ticket, canceled))
  +list-tickets('checked', map-get($color-ticket, checked))
  +list-tickets('confirmed', map-get($color-ticket, confirmed))
  +list-tickets('scheduled', map-get($color-ticket, scheduled))
