.modal
  &.fade
    &.slide-right
      .modal-dialog
        .modal-content
          height: auto
          min-height: 100%

  .modal-header
    padding-bottom: 15px

.modal-progress-circle
  margin-top: 150px !important
  margin-bottom: 150px !important
