.pace
  $color: map-get($color-custom, 1)

  .pace-progress
    background: $color

  .pace-progress-inner
    box-shadow: 0 0 10px $color, 0 0 5px $color

  .pace-activity
    top: inherit
    bottom: 10px
    border-top-color: $color
    border-left-color: $color
    background-image: image-url('progress/progress-circle-primary.svg')
