.pagination
  $color: map-get($color-custom, 1)

  display: block
  margin: 15px 0 0
  text-align: right

  > li
    display: inline-block

    &.active
      > a
        background: none
        color: $color
        font-weight: bold

        &:focus,
        &:hover
          color: $color

    &.disabled
      > span,
      > a
        color: $color-lighter

        &:focus,
        &:hover
          color: $color-lighter

    > span,
    > a
      +border-radius(0 !important)

      padding: 6px 10px
      border: none
      background: none !important
      color: darken($color-light, 10%)
      font:
        size: 11px
        family: $font-system

    > span
      &:focus,
      &:hover
        color: darken($color-light, 10%)

    > a
      &:focus,
      &:hover
        color: $color
