.panel-device
  width: 100%
  height: 100%
  overflow: hidden

.panel-device-basic
  $color-base: map-get($color-custom, 1)

  width: 100%
  height: 100%
  padding-top: 30px
  background: repeating-linear-gradient(45deg, darken($color-base, 7%), darken($color-base, 7%) 10px, darken($color-base, 10%) 10px, darken($color-base, 10%) 20px)
  color: #fff
  font:
    size: 1em
    family: $font-default

  .current
    padding: 50px 0
    background: rgba(0, 0, 0, 0.4)
    font-size: 1em

    &.pulse
      +animation-pulse-background(rgba(0, 0, 0, 0.4), $color-success, 0.4s)

    .container
      +animation-duration(0.5s)

      height: 200px
      overflow: hidden
      margin: 0 auto
      padding: 0 30px
      text-align: center

      .empty
        font:
          weight: bold
          size: 22px

        &:before
          @extend %icon

          display: block
          margin: 0 auto 20px
          content: '\f145'
          color: rgba(255, 255, 255, 0.5)
          font-size: 90px

        .service
          margin-bottom: 20px
          font-size: 1.7em
          line-height: 100%

    .primary
      @extend %centered-vertical

      width: 50%
      height: 100%
      float: left

      .bigger
        margin-bottom: 10px
        font:
          weight: bold
          size: 5.9em
        line-height: 100%

      .major
        margin-bottom: 10px
        font:
          weight: bold
          size: 3.3em
        line-height: 100%

      .minor
        margin-top: 10px
        font:
          weight: bold
          style: italic
          size: 1.3em
        letter-spacing: 5px
        line-height: 100%
        text-transform: uppercase

    .secondary
      @extend %centered-vertical

      width: 50%
      overflow: hidden
      float: left

      .full
        @extend %centered-vertical

        height: 80px
        padding: 0 20px
        border-bottom: 1px solid rgba(255, 255, 255, 0.4)
        font:
          weight: normal
          size: 2.0em
        letter-spacing: 3px
        line-height: 120%
        text-transform: uppercase

      .half
        @extend %clearfix

        div
          @extend %centered-vertical
          +box-sizing(border-box)

          width: 50%
          height: 120px
          float: left
          padding: 0 20px
          font:
            weight: bold
            size: 2.7em
          line-height: 120%

          &:first-child
            border-right: 1px solid rgba(255, 255, 255, 0.4)

  .in-out
    display: flex
    flex-direction: row-reverse

  .in-out-block
    +box-sizing(border-box)

    margin: 30px

    &:first-child
      margin-left: 15px

    &:last-child
      margin-right: 15px

    .heading
      $height: 50px
      +text-shadow(1px 1px 0 rgba(0, 0, 0, 0.7))
      +border-top-radius(5px)

      height: $height
      margin: 0 auto
      padding: 0 15px
      color: #fff
      font:
        weight: bold
        size: 1.8em
        family: $font-heading
      letter-spacing: 1px
      line-height: $height
      text-transform: uppercase

      &:after
        @extend %icon

        content: '\f062'
        float: right
        font-size: 25px
        line-height: $height

    .tickets
      +border-radius(5px)

      display: table
      width: 100%
      background: rgba(0, 0, 0, 0.4)
      font-size: 1.5em
      text-align: center

      td
        padding: 12px 10px
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)
        line-height: 100%

        &.empty
          padding: 60px 10px
          font:
            weight: bold
            size: 22px

          &:before
            @extend %icon

            display: block
            margin: 0 auto 20px
            content: '\f145'
            color: rgba(255, 255, 255, 0.5)
            font-size: 70px

        &.icon
          font-size: 1.2em

        &.main
          white-space: nowrap
          font:
            weight: bold
            size: 1.4em

      tr
        &:last-child
          td
            border: none

  .in-out-block-called
    $color: $color-success

    width: 50%
    float: right

    .heading
      background: $color

      &:after
        content: '\f063'

    .tickets
      td
        &:first-child
          border-left-color: $color

  .in-out-block-queue
    $color: map-get($color-custom, 2)

    width: 50%
    float: left

    .heading
      background: $color

      &:after
        content: '\f062'

    .tickets
      td
        &:first-child
          border-left-color: $color

        &.icon
          color: $color-warning

  +screen(portrait, orientation)
    .current
      padding: 30px 0
      font-size: 0.9em

      .container
        height: auto

      .primary,
      .secondary
        width: 100%
        float: none

    .in-out-block-called,
    .in-out-block-queue
      width: 100%
      float: none

    .in-out-block-queue
      margin-top: 30px
