// Live
.panel-live
  margin-bottom: 30px
  border-top-color: map-get($color-custom, 1) !important

  .form-group-inline
    &:last-child
      padding-bottom: 0
      border-bottom: none

// Attendance
.panel-attendance
  padding: 55px 15px 15px

  .panel-attendance-top
    width: 100%
    position: fixed
    top: 0
    left: 0
    padding: 5px 15px 5px 55px
    background:
      color: $color-dark
      image: image-url('icon-filazero-white.svg')
      position: 10px 50%
      repeat: no-repeat
      size: 40px auto
    color: #fff
    line-height: 100%
    text-align: left
    z-index: 2

    .provider
      font-weight: bold

    .location
      margin-top: 3px
      font:
        style: italic
        size: 0.9em

    .btn-group
      right: 7px
      top: 3px
      position: absolute

  .panel-attendance-header
    +border-radius($main-border-radius)

    padding: 15px
    border: 1px solid $color-lighter
    background: lighten($color-lighter, 4%)
    text-align: center

    .service
      color: map-get($color-custom, 1)
      font:
        weight: normal
        size: 1.5em
      line-height: 100%
      text-transform: uppercase

    .resource
      margin-top: 15px
      padding-top: 15px
      border-top: 1px dotted $color-lighter
      font:
        weight: bold
        size: 1.5em
      line-height: 100%

    .room
      margin-top: 5px
      font:
        weight: normal
        size: 1.2em
      line-height: 100%

  .panel-live
    margin-top: 15px

    .checkbox
      margin-top: 0

      label
        margin-right: 0

  .ticket-list
    .item
      height: 150px
      font-size: 1.2em

.panel-toolbar
  a
    &:hover
      opacity: 1

.panel-empty
  margin-top: 14%
  font-size: 1.5em
  width: 100%
  height: 350px
  overflow: hidden
  text-align: center
  background: rgba(0, 0, 0, 0.4)

  .empty-title
    font-size: 2em
    line-height: 2em

  &:before
    @extend %icon

    display: block
    margin: 65px auto 20px
    content: '\f0f4'
    color: rgba(255, 255, 255, 0.5)
    font-size: 100px

.waiting-list-title
  color: #6d5cae
  font-weight: 400 !important
  font-style: italic
  display: inline

.collapse-list
  display: inline-flex
  margin-top: 10px
  float: right
  font-size: 1.2em

  &.show-list

    &:before
      @extend %icon

      content: '\f055'
      float: right

  &.hide-list

    &:before
      @extend %icon

      content: '\f056'
      float: right
