.table
  > thead
    > tr
      > th
        padding: 10px 20px
        font:
          size: 0.9em
          family: $font-default
        white-space: nowrap
        vertical-align: middle

        &.order
          +transition(all 0.1s)

          cursor: pointer

          &:hover
            color: $color-dark

          &:after
            @extend %icon

            float: right
            margin-top: 1px

        &.order-asc
          color: $color-dark

          &:after
            content: '\f106'

        &.order-desc
          color: $color-dark

          &:after
            content: '\f107'

  > tbody
    > tr
      &:hover
        .toggle-hover
          *
            +opacity(1)

      .toggle-hover
        *
          +opacity(0.4)

      > td
        padding: 20px
        background: none
        font:
          size: 0.9em
          family: $font-system
        vertical-align: middle

  .checkbox
    margin: 0

  [type="time"]
    font-size: 1em

  &.table-compact
    > thead
      > tr
        > th
          padding: 10px !important

    > tbody
      > tr
        > td
          padding: 5px 10px

.table-group
  color: #444 !important
