.container
  width: 100%
  padding: 0

.container-fluid
  &.container-fixed-lg
    width: 100%

.well
  background: #f0f0f0

.well-disabled
  +opacity(0.5)

  *
    cursor: default

.main-content
  padding-top: 30px

  +screen(map-get($screen, medium))
    padding: 15px

.quickview-wrapper
  .nav-tabs
    padding: 0 5px

.chat-user-list
  &.item-selected
    background-color: $color-highlight

    .marker
      visibility: visible

  > a
    height: 80px

    span
      line-height: 120%

  .marker
    visibility: hidden

    &:before
      @extend %icon

      content: '\f058'
      font-size: 17px

.pgn-wrapper
  z-index: 999999 !important

