.terminal-header
  +box-shadow(0 2px 0 rgba(0, 0, 0, 0.1))
  +box-sizing(border-box)

  z-index: 800
  width: 100%
  height: 80px
  position: fixed
  left: 0
  top: 0
  padding: 0 $main-gap
  background: map-get($color-custom, 1)

  .block-primary
    position: relative
    float: left

    .terminal-location
      +opacity(0.7)
      +transition(all 0.1s)

      color: #fff
      display: inline-block
      padding-top: 26px
      line-height: 100%
      font:
        weight: bold
        size: 2.0em
        family: $font-default

    .block-item
      margin-right: $main-gap

  .block-secondary
    position: relative
    float: right

    .block-item
      margin-left: $main-gap

  .block-item
    display: block
    float: left

  .block-item-logo
    margin-top: 15px
    padding-right: $main-gap
    border-right: 1px solid rgba(255, 255, 255, 0.2)

    img
      width: 150px

  .block-item-date
    +box-sizing(border-box)

    height: 100px
    position: relative
    padding: 30px 0 0 0
    color: #fff
    text:
      align: right
      decoration: none

    &:hover
      .major,
      .minor
        +opacity(1)

    .major,
    .minor
      +opacity(0.7)
      +transition(all 0.1s)

      line-height: 100%

    .major
      font:
        weight: bold
        size: 1.8em
        family: $font-default

    .minor
      margin-top: 3px
      font-size: 0.9em

.terminal-content
  padding: 80px 0 10px 0
  height: 100%
  width: 100%
  background-color: white

  .title
    margin: 20px 0 10px 25px
    color: map-get($color-custom, 1)
    text-align: center
    font:
      weight: bold
      size: 2.5em
      family: $font-default

  .button-container
    text-align: center
    background-color: white

    .service-button
      padding: 35px 0 35px 0
      margin: 20px 0 20px 0
      width: 400px
      font-size: 1.5em !important

  .previous-services
    &:before
      +icon(map-get($font-icon, 2))

      content: '\e629'
      font-size: 150px
      margin: 200px 0 0 0
      text-align: center
      color: map_get($color-custom, 2)

  .next-services
    &:before
      +icon(map-get($font-icon, 2))

      content: '\e631'
      font-size: 150px
      margin: 200px 0 0 0
      text-align: center
      color: map_get($color-custom, 2)

  .terminal-error
    text-align: center
    margin-top: 230px
    font-size: 1.5em
