.ticket-list
  @extend %clearfix

  padding: 30px 0 15px

  .item
    +box-sizing(border-box)
    +transition(all 0.1s)

    display: block
    width: 160px
    height: 140px
    position: relative
    float: left
    margin: 10px
    padding-top: 25px
    border:
      top: 1px solid darken($color-light, 5%)
      bottom: 1px solid rgba(0, 0, 0, 0.1)
    background: rgba(0, 0, 0, 0.05)
    color: $color-dark
    text-align: center

    &:hover
      background: rgba(0, 0, 0, 0.07)

    button
      $size: 25px
      +border-radius($main-border-radius)
      +transition(all 0.1s)

      display: inline-block
      width: $size
      height: $size
      margin: 5px
      padding: 0
      border: none
      background: none
      color: $color-dark
      line-height: $size

      &:disabled
        +opacity(0.2)

      &:hover:enabled,
      &:focus:enabled
        background: #fff

    =item($name, $color)
      &.#{$name}
        border-top-color: $color

        .guide
          color: $color

        .status,
        .where
          background: $color

    +item('next', map-get($color-ticket-v1, next))
    +item('called', map-get($color-ticket-v1, called))
    +item('finalized', map-get($color-ticket-v1, finalized))
    +item('canceled', map-get($color-ticket-v1, canceled))
    +item('checked', map-get($color-ticket-v1, checked))
    +item('confirmed', map-get($color-ticket-v1, confirmed))
    +item('scheduled', map-get($color-ticket-v1, scheduled))

    .loader
      @extend %centered-vertical

      z-index: 11
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background:
        color: rgba(255, 255, 255, 0.8)
        image: image-url('progress/progress-circle-master.svg')
        position: 50% 50%
        size: 30px auto
        repeat: no-repeat
      text-align: center

    .guide
      width: 100%
      overflow: hidden
      position: absolute
      left: 0
      top: 0
      padding: 5px
      color: darken($color-light, 5%)
      font-size: 0.8em

      .indicator
        float: left
        line-height: 100%

        i
          margin-right: 10px

      .position
        float: right
        line-height: 100%

    .friendlycode
      +transition(all 0.1s)

      display: block
      color: $color-dark
      font:
        size: 1.7em
        family: $font-heading
      line-height: 100%

    .status
      margin-top: 8px
      padding: 5px
      background: darken($color-light, 5%)
      line-height: 130%
      color: #fff
      font-family: $font-system

      .description
        font:
          weight: bold
          size: 0.9em

      .where
        font-size: 0.8em

    .action
      z-index: 10
      width: 100%
      position: absolute
      left: 0
      bottom: 0

  +screen(map-get($screen, small))
    .item
      width: 100%
      margin: 0 0 15px
