.walkthrough
  position: fixed
  left: 0
  top: 0
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  padding: $main-gap
  background: map-get($color-custom, 2)

  .heading
    +text-shadow(1px 1px 0 map-get($color-custom, 1))

    max-width: map-get($screen, medium)
    margin-bottom: $main-gap
    padding: 0
    color: #fff
    font:
      weight: 700
      size: 3em
      family: $font-default
    letter-spacing: -0.03em
    text-align: center

  .step
    display: flex
    flex-direction: row
    align-items: center
    max-width: map-get($screen, medium)

    .image
      flex-grow: 1
      margin-right: $main-gap

      div
        $size: 300px
        +border-radius($size)

        width: $size
        height: $size
        overflow: hidden
        background:
          color: #fff
          position: 0 center
          repeat: no-repeat
          size: auto 100%

    .description
      flex-grow: 2
      width: 100%

      .title
        +text-shadow(1px 1px 0 map-get($color-custom, 1))

        padding-bottom: $main-gap / 2
        margin-bottom: $main-gap / 2
        border-bottom: 1px dotted #fff
        color: #fff
        font:
          weight: 400
          size: 1.9em
          family: $font-default
        text-transform: uppercase

      .text
        color: #fff
        font:
          weight: 400
          size: 1.3em
          family: $font-default
        line-height: 140%

  .action
    max-width: map-get($screen, medium)
    margin-top: $main-gap
    text-align: right

    button
      +transition(all 0.1s)

      padding: 0
      margin-left: $main-gap
      border: none
      cursor: pointer
      background: none
      color: darken(map-get($color-custom, 1), 5%)
      font:
        weight: 700
        size: 1.2em
        family: $font-default
      text-transform: uppercase

      &:hover
        color: #fff

      &:before
        +icon

        margin-right: 5px
        font-size: 1.2em

      &.previous
        &:before
          content: '\f137'

      &.next,
      &.finish
        &:before
          content: '\f138'

  // Responsivity
  +screen(map-get($screen, small))
    position: relative

    .step
      flex-direction: column

      .image
        margin-right: 0

      .description
        margin-top: ($main-gap / 2)
        text-align: center

    .action
      text-align: center

      button
        margin: 0 ($main-gap / 2)
