<div class="modal-content">
  <button type="button" class="close" ng-click="vm.close()"><i class="pg-close fs-14"></i></button>

  <div class="panel panel-transparent m-t-15">
    <div class="panel-heading">
      <div class="form-group">
        <label>Modelos de sessão</label>

        <div class="well">
          <div class="row">
            <form name="sessionModelForm" ng-submit="vm.addSessionModel(vm.sessionModel)">
              <div class="col-sm-4">
                <label class="muted">Descrição</label>
                <input type="text" class="form-control" ng-model="vm.sessionModel.description" required>
              </div>
              <div class="col-sm-2">
                <label class="muted">Início</label>
                <input type="time" class="form-control" ng-model="vm.sessionModel.start" required>
              </div>
              <div class="col-sm-2">
                <label class="muted">Duração</label>
                <input type="text" ui-mask="99:59" ui-options="vm.maskOptions" placeholder="hh:mm" class="form-control" ng-model="vm.sessionModel.duration" required>
              </div>
              <div class="col-sm-2">
                <label class="muted">Vagas</label>
                <input type="number" class="form-control" ng-model="vm.sessionModel.slots" required>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-block btn-primary m-t-25" title="Adicionar" ng-disabled="sessionModelForm.$invalid"><i class="fa fa-plus-circle"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group transparent">
          <span class="input-group-addon"><i class="pg-search"></i></span>
          <input type="text" class="form-control" placeholder="Pesquisar modelo de sessão" ng-model="vm.searchSessionModel" ng-disabled="vm.sessionModels.length === 0">
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="progress-circle-indeterminate progress-circle-primary m-t-30" ng-show="vm.isLoading"></div>

      <div class="block-message block-message-empty" ng-show="vm.sessionModels.length === 0 && !vm.isLoading">
        <h4>Ops! Nenhum modelo de sessão para mostrar...</h4>
        <p>Ainda não há modelo de sessão definido para esse local.</p>
      </div>

      <div class="block-message block-message-empty" ng-show="vm.filteredSessionModels.length === 0 && !vm.isLoading && vm.sessionModels.length !== 0">
        <h4>Ops! Nada encontrado...</h4>
        <p>Sua pesquisa não encontrou nenhum resultado correspondente.</p>
      </div>

      <div class="table-responsive" ng-show="vm.sessionModels.length > 0 && vm.filteredSessionModels.length > 0 && !vm.isLoading">
        <table class="table table-compact table-hover">
          <thead>
          <tr>
            <th style="width: 5%;"></th>
            <th class="order" ng-click="vm.setOrder('description')" ng-class="{ 'order-asc': vm.order=='description', 'order-desc': vm.order=='-description' }">Descrição</th>
            <th class="text-center order" ng-click="vm.setOrder('start')" ng-class="{ 'order-asc': vm.order=='start', 'order-desc': vm.order=='-start' }">Início</th>
            <th class="text-center order" ng-click="vm.setOrder('duration')" ng-class="{ 'order-asc': vm.order=='duration', 'order-desc': vm.order=='-duration' }">Duração</th>
            <th class="text-center order" ng-click="vm.setOrder('slots')" ng-class="{ 'order-asc': vm.order=='slots', 'order-desc': vm.order=='-slots' }">Vagas</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="sessionModel in vm.filteredSessionModels = (vm.sessionModels | filter: vm.searchSessionModel | orderBy: vm.order) | startFrom: vm.itensLimit*(vm.currentPage - 1)| limitTo: vm.itensLimit" ng-class="{'selected': sessionModel.isSelected}">
            <td>
              <div class="checkbox check-primary">
                <input id="itemCheck{{sessionModel.id}}" type="checkbox" ng-model="sessionModel.isSelected" ng-change="vm.sessionModelSelectionChanged(sessionModel.isSelected, sessionModel.id)">
                <label for="itemCheck{{sessionModel.id}}"></label>
              </div>
            </td>
            <td>
              {{sessionModel.description}}
            </td>
            <td class="text-center">
              <strong>{{sessionModel.start}}</strong>
            </td>
            <td class="text-center">
              {{sessionModel.duration}}
            </td>
            <td class="text-center">
              <strong>{{sessionModel.slots}}</strong>
            </td>
            <td class="toggle-hover nowrap text-right">
              <button class="btn btn-short" title="Remover" ng-click="vm.removeSessionModel(sessionModel)"><i
                class="fa fa-trash"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-sm-6 m-t-10 p-l-20">
          <button class="btn btn-primary" ng-click="vm.useSelected()">Usar selecionado(s)</button>
        </div>
        <div class="col-sm-6">
          <ul uib-pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredSessionModels.length" ng-show="vm.filteredSessionModels.length > vm.itensLimit && !vm.isLoading"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
