<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' |
    translate}}</a></li>
  <li><a ui-sref="app.provider.sessions({providerSlug: vm.provider.slug})">{{'global.contexts.sessions.sessions' |
    translate}}</a></li>
  <li><a href="javascript:;" class="active">{{'global.contexts.sessions.register-sessions' | translate}}</a></li>
</ul>

<div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingAll"></div>

<div class="container-fluid container-fixed-lg main-content" ng-show="!vm.isLoadingAll">
  <div class="panel panel-default panel-live">
    <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingServices"></div>
    <div class="panel-body" ng-show="!vm.isLoadingServices">
      <div class="form-group form-group-inline">
        <div class="row">
          <div class="col-sm-3">
            <label>Configuração de atendimento</label>
          </div>

          <div class="col-sm-9">
            <ui-select ng-model="vm.selectedServiceConfig" ng-change="vm.serviceConfigSelected()"
                       ng-disabled="vm.serviceConfigs.length === 0">
              <ui-select-match placeholder="Selecione uma configuração de atendimento">{{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="serviceConfig in vm.serviceConfigs | filter: $select.search | orderBy: 'name'">
                <div>{{serviceConfig.name}}</div>
              </ui-select-choices>
            </ui-select>
            <label class="error" ng-if="vm.serviceConfigs.length === 0">Nenhum serviço disponível!</label>
          </div>
        </div>
      </div>

      <div class="form-group form-group-inline">

        <div class="row">
          <div class="col-sm-3">
            <label>Detalhes da configuração</label>
          </div>

          <div class="col-sm-9">

            <div class="row service-config-details">
              <div class="row margin-0" ng-show="vm.selectedServiceConfig && vm.selectedServiceConfig.id">
                <h4 class="pull-right m-r-30 color-base bold">{{vm.selectedServiceConfig.room.name}}</h4>
              </div>

              <div class="block-message block-message-empty" ng-show="(!vm.selectedServiceConfig || !vm.selectedServiceConfig.id) && !vm.isLoadingServiceConfig">
                <h4>Nenhuma configuração selecionada...</h4>
                <p>Você deve selecionar uma configuração de atendimento.</p>
              </div>

              <div ng-show="(vm.selectedServiceConfig && vm.selectedServiceConfig.id) || vm.isLoadingServiceConfig">

                <!-- Loading -->
                <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingServiceConfig"></div>

                <div ng-show="!vm.isLoadingServiceConfig && vm.selectedServiceConfig.serviceProvisions.length === 0 && vm.selectedServiceConfig.attendants.length === 0">
                  <div class="block-message block-message-empty">
                    <h4>Ops! Nenhum serviço ou atendente para mostrar...</h4>
                    <p>Essa configuração não ainda possui serviços nem atendente.</p>
                  </div>
                </div>

                <div ng-show="!vm.isLoadingServiceConfig && (vm.selectedServiceConfig.serviceProvisions.length > 0 || vm.selectedServiceConfig.attendants.length > 0)">

                  <!-- Services -->
                  <div class="col-sm-6">
                    <!-- Empty State -->
                    <div class="block-message block-message-empty" ng-show="vm.selectedServiceConfig.serviceProvisions.length === 0">
                      <h4>Ops! Nenhum serviço para mostrar...</h4>
                      <p>Essa configuração não ainda possui serviços.</p>
                    </div>

                    <!-- Services List -->
                    <div class="table-responsive" ng-show="vm.selectedServiceConfig.serviceProvisions.length > 0">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>Serviço(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="serviceProvision in vm.selectedServiceConfig.serviceProvisions">
                          <td>
                            {{serviceProvision.name}}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!-- Attendants -->
                  <div class="col-sm-6">
                    <!-- Empty State -->
                    <div class="block-message block-message-empty" ng-show="vm.selectedServiceConfig.attendants.length === 0">
                      <h4>Ops! Nenhum atendente para mostrar...</h4>
                      <p>Essa configuração não ainda possui serviços.</p>
                    </div>

                    <!-- Attendances List -->
                    <div class="table-responsive" ng-show="vm.selectedServiceConfig.serviceProvisions.length > 0">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>Atendente(s)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="attendant in vm.selectedServiceConfig.attendants">
                          <td>
                            {{attendant.name}}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default panel-live">
    <div class="panel-body">
      <div class="form-group form-group-inline">
        <div class="row">
          <div class="col-sm-3">
            <label class="required">Modelo(s) de sessão</label>
          </div>

          <div class="col-sm-9">
            <button class="btn btn-primary" ladda="vm.isLoadingSessionModels" ng-click="vm.showSessionModelsModal()">
              Selecionar modelo(s)
            </button>

            <div class="table-responsive m-t-15" ng-show="vm.selectedSessionModels.length > 0">
              <table class="table table-compact table-hover">
                <thead>
                <tr>
                  <th>Descrição</th>
                  <th class="text-center">Início</th>
                  <th class="text-center">Duração</th>
                  <th class="text-center">Vagas</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sessionModel in vm.selectedSessionModels">
                  <td>
                    {{sessionModel.description}}
                  </td>
                  <td class="text-center">
                    <strong>{{sessionModel.start}}</strong>
                  </td>
                  <td class="text-center">
                    {{sessionModel.duration}}
                  </td>
                  <td class="text-center">
                    <strong>{{sessionModel.slots}}</strong>
                  </td>
                  <td class="toggle-hover nowrap text-right">
                    <button class="btn btn-short" title="Remover" ng-click="vm.removeSessionModel($index)"><i
                      class="fa fa-minus-circle"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-group-inline">
        <div class="row">
          <div class="col-sm-3">
            <label>Dias</label>
              <span class="m-l-15 text-small" ng-click="vm.checkAll()">(<a href="javascript:;">Selecionar
                todos</a>)</span>
          </div>

          <div class="col-sm-9">
            <div class="checkbox check-primary">
              <span ng-repeat="day in vm.weekdays">
                <input id="day{{day.name}}" type="checkbox" ng-model="day.isSelected">
                <label for="day{{day.name}}">{{'global.time.daysOfWeek.resumed.' + day.name | translate}}</label>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-group-inline">
        <div class="row">
          <div class="col-sm-3">
            <label>Data de início</label>
          </div>

          <div class="col-sm-9">
            <div class="input-group date col-sm-3">
              <div class="datepicker-custom">
                <input id="startDate" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="vm.selectedStartDate"
                       is-open="vm.status.startOpened" min-date="vm.startDateConfig.minDate"
                       max-date="vm.startDateConfig.maxDate"
                       show-button-bar="false" close-on-date-selection="true" onkeydown="return false"
                       ng-click="vm.openStartDatepicker($event)" show-weeks="false" ng-required="true">
              </div>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group form-group-inline">
        <div class="row">
          <div class="col-sm-3">
            <label>Data de término</label>
          </div>

          <div class="col-sm-9">
            <div class="input-group date col-sm-3">
              <div class="datepicker-custom">
                <input id="endDate" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="vm.selectedEndDate"
                       is-open="vm.status.endOpened" min-date="vm.endDateConfig.minDate"
                       max-date="vm.endDateConfig.maxDate"
                       show-button-bar="false" close-on-date-selection="true" onkeydown="return false"
                       ng-click="vm.openEndDatepicker($event)" show-weeks="false" ng-required="true">
              </div>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-action">
    <button class="btn btn-lg btn-primary" ng-click="vm.generateSessions()">Gerar agora</button>
  </div>
</div>
