﻿<label class="error" ng-message="required">{{'global.form.validation.required' | translate}}</label>
<label class="error" ng-message="minlength">{{'global.form.validation.minlength' | translate}}</label>
<label class="error" ng-message="maxlength">{{'global.form.validation.maxlength' | translate}}</label>
<label class="error" ng-message="max">Valor acima do permitido</label>
<label class="error" ng-message="min">Valor abaixo do permitido</label>
<label class="error" ng-message="email">Email inválido</label>
<label class="error" ng-message="time">Horário inválido</label>
