<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
  <li><a ui-sref="app.provider.locations({providerSlug: vm.provider.slug})" class="active">{{'global.contexts.locations.locations' | translate}}</a></li>
</ul>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

  <div ng-show="!vm.isLoading">
    <div class="block-action-top">
      <button class="btn btn-primary" ng-click="vm.addLocation()"><i class="pg-plus_circle"></i> Nova unidade</button>
    </div>

    <div class="input-group transparent">
      <span class="input-group-addon"><i class="pg-search"></i></span>
      <input type="text" class="form-control input-lg" placeholder="Pesquisar unidade" ng-model="vm.searchLocations">
    </div>

    <div class="clearfix m-t-15 m-b-30">
      <div class="pull-right">
        <div class="checkbox check-primary m-t-0 m-b-0">
          <span class="m-r-10 muted">Mostrar:</span>

          <input id="filterCheck1" type="checkbox" ng-model="vm.filter.Fixed">
          <label for="filterCheck1">Unidades fixas</label>

          <input id="filterCheck2" type="checkbox" ng-model="vm.filter.Mobile">
          <label for="filterCheck2">Unidades móveis</label>
        </div>
      </div>
    </div>

    <div class="panel panel-default panel-live" ng-show="vm.locationsList.length > 0">
      <div class="panel-heading">
        <div class="row">
          <div class="col-sm-8">
            <div class="panel-title">
              <span ng-show="vm.filteredLocations.length == vm.locationsList.length">{{vm.filteredLocations.length}} unidades</span>
              <span ng-show="vm.filteredLocations.length < vm.locationsList.length">Mostrando {{vm.filteredLocations.length}} de {{vm.locationsList.length}} unidades</span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body" ng-show="vm.locationsList.length > 0">
        <div class="table-responsive">
          <div class="block-message block-message-empty" ng-show="vm.filteredLocations.length == 0">
            <h4>Ops! Nada encontrado...</h4>

            <p>
              Sua pesquisa não encontrou nenhum resultado correspondente.
              <br> Você pode pesquisar pelo nome, endereço, cep e cidade da unidade.
            </p>
          </div>

          <table class="table table-hover" ng-show="vm.filteredLocations.length > 0">
            <thead>
              <tr>
                <th class="order" ng-click="vm.setOrder('name')" ng-class="{ 'order-asc': vm.order=='name', 'order-desc': vm.order=='-name' }">Nome
                </th>
                <th class="order" ng-click="vm.setOrder('address')" ng-class="{ 'order-asc': vm.order=='address', 'order-desc': vm.order=='-address' }">Endereço
                </th>
                <th class="order" ng-click="vm.setOrder('city')" ng-class="{ 'order-asc': vm.order=='city', 'order-desc': vm.order=='-city' }">Cidade
                </th>
                <th class="order" ng-click="vm.setOrder('zipCode')" ng-class="{ 'order-asc': vm.order=='zipCode', 'order-desc': vm.order=='-zipCode' }">CEP
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="location in vm.filteredLocations = (vm.locationsList | filter: vm.searchLocations | filter: vm.filterByType() | orderBy:vm.order) | startFrom: vm.itensLimit*(vm.currentPage-1) | limitTo:vm.itensLimit">
                <td class="v-align-middle">
                  <a href="javascript:;" ng-click="vm.editLocation(location.id)"><strong>{{location.name}}</strong></a>
                </td>
                <td class="v-align-middle">
                  <span ng-show="!vm.isMobile(location.type)">{{location.address}}</span>
                  <span ng-show="vm.isMobile(location.type)">Unidade Móvel</span>
                </td>
                <td>
                  <span ng-show="!vm.isMobile(location.type)">{{location.city}}</span>
                  <span ng-show="vm.isMobile(location.type)">-</span>
                </td>
                <td>
                  <span ng-show="!vm.isMobile(location.type)">{{location.zipCode}}</span>
                  <span ng-show="vm.isMobile(location.type)">-</span>
                </td>
                <td class="v-align-middle toggle-hover nowrap text-right">
                  <button class="btn btn-short" title="Editar" ng-click="vm.editLocation(location.id)"><i class="fa fa-pencil"></i></button>
                  <button class="btn btn-short" title="Remover" ng-click="vm.removeLocation(location)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <span class="m-r-10 muted">Itens por página:</span>
            <select class="cs-select cs-skin-slide" cs-select="" ng-model="vm.itensLimit">
              <option value="5">5</option>
              <option value="10" selected>10</option>
              <option value="20">25</option>
              <option value="50">50</option>
            </select>
          </div>

          <div class="col-sm-6" ng-show="vm.locationsList.length > vm.itensLimit">
            <ul uib-pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredLocations.length"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
