<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix" id="modalLocation">
		<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
		<h3 ng-show="!vm.location.id">Nova unidade</h3>
		<h3 ng-show="vm.location.id">Editar unidade</h3>
	</div>

	<div class="modal-body">
		<form name="locationForm" novalidate>
			<div class="row">
				<div class="col-sm-6">
					<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': locationForm.name.$invalid && (locationForm.name.$touched || locationForm.$submitted)}">
						<label translate="global.form.name" for="name">Nome</label>
						<input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="40" ng-model="vm.location.name" ng-init="vm.focus=true"
							focus-me="vm.focus" required>
					</div>
					<div ng-if="locationForm.name.$touched || locationForm.$submitted" ng-messages="locationForm.name.$error">
						<span ng-messages-include="modules/core/errors/error-messages.html"></span>
					</div>

					<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': (locationForm.phone.$invalid || !vm.location.phone) && locationForm.phone.$touched}">
						<label translate="global.form.phone" for="phone">Telefone</label>
						<input type="text" id="phone" name="phone" class="form-control" ui-mask="(99) 99999999?9" ng-model="vm.location.phone" ui-mask-placeholder
							ui-mask-placeholder-char="space" ui-options="{clearOnBlur: false}" required>
					</div>
					<label class="error" ng-if="(locationForm.phone.$invalid || !vm.location.phone) && locationForm.phone.$touched">Campo inválido</label>

					<div class="form-group-custom">
						<label>Tipo</label>

						<div class="radio radio-primary">
							<input id="type1" name="type" type="radio" value="Fixed" ng-model="vm.location.type">
							<label for="type1" translate="admin.locations.modal.details.form.location-type.fixed">Unidade fixa</label>

							<input id="type2" name="type" type="radio" value="Mobile" ng-model="vm.location.type">
							<label for="type2" translate="admin.locations.modal.details.form.location-type.mobile">Unidade móvel</label>
						</div>
					</div>

					<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': locationForm.zipCode.$invalid && (locationForm.zipCode.$touched || locationForm.$submitted), 'disabled': vm.isMobile(), 'required': !vm.isMobile()}">
						<label translate="admin.locations.modal.details.form.zip-code" for="zipCode">CEP</label>
						<input type="text" class="form-control" id="zipCode" name="zipCode" minlength="8" maxlength="9" ui-mask="99999-999" ng-model="vm.location.zipCode"
							ng-disabled="vm.isMobile()" ng-required="!vm.isMobile()">
					</div>
					<div ng-if="locationForm.zipCode.$touched || locationForm.$submitted" ng-messages="locationForm.zipCode.$error">
						<span ng-messages-include="modules/core/errors/error-messages.html"></span>
					</div>

					<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': locationForm.address.$invalid && (locationForm.address.$touched || locationForm.$submitted), 'disabled': vm.isMobile(), 'required': !vm.isMobile()}">
						<label translate="admin.locations.modal.details.form.address">Endereço</label>
						<input type="text" class="form-control" id="address" name="address" minlength="3" maxlength="300" ng-model="vm.location.address"
							ng-disabled="vm.isMobile()" ng-required="!vm.isMobile()">
					</div>
					<div ng-if="locationForm.address.$touched || locationForm.$submitted" ng-messages="locationForm.address.$error">
						<span ng-messages-include="modules/core/errors/error-messages.html"></span>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': locationForm.city.$invalid && (locationForm.city.$touched || locationForm.$submitted), 'disabled': vm.isMobile(), 'required': !vm.isMobile()}">
								<label translate="admin.locations.modal.details.form.city" for="city">Cidade</label>
								<input type="text" class="form-control" id="city" name="city" minlength="3" maxlength="30" ng-model="vm.location.city" ng-disabled="vm.isMobile()"
									ng-required="!vm.isMobile()">
							</div>
							<div ng-if="locationForm.city.$touched || locationForm.$submitted" ng-messages="locationForm.city.$error">
								<span ng-messages-include="modules/core/errors/error-messages.html"></span>
							</div>
						</div>

						<div class="col-sm-6">
							<div pg-form-group class="form-group form-group-default form-group-default-select" ng-class="{'has-error': locationForm.state.$invalid && (locationForm.state.$touched || locationForm.$submitted), 'disabled': vm.isMobile(), 'required': !vm.isMobile()}">
								<label for="state">Estado</label>
								<ui-select id="state" name="state" ng-model="vm.location.state" ng-required="!vm.isMobile()" ng-disabled="vm.isMobile()">
									<ui-select-match>{{$select.selected}}</ui-select-match>
									<ui-select-choices repeat="state in vm.states | filter: $select.search">
										<div>{{state}}</div>
									</ui-select-choices>
								</ui-select>
							</div>
							<div ng-if="locationForm.state.$touched || locationForm.$submitted" ng-messages="locationForm.state.$error">
								<span ng-messages-include="modules/core/errors/error-messages.html"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group-custom">
						<label>Expediente</label>
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Dia</th>
									<th>Hora início</th>
									<th>Hora fim</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="expedient in vm.location.expedients">
									<td>
										<div class="checkbox check-primary">
											<input id="{{expedient.name}}" type="checkbox" ng-model="expedient.isOpen">
											<label for="{{expedient.name}}">{{"global.time.daysOfWeek.resumed." + expedient.name | translate}}</label>
										</div>
									</td>
									<td>
										<input type="time" class="form-control" ng-class="{error: vm.invalidTime(expedient.opens) && expedient.isOpen}" id="opens"
											name="opens" ng-model="expedient.opens" ng-disabled="!expedient.isOpen" ng-required="expedient.isOpen" ng-change="vm.teste(expedient.opens)">
										<div ng-show="vm.invalidTime(expedient.opens) && expedient.isOpen" class="error">Horário inválido</div>
									</td>
									<td>
										<input type="time" class="form-control" ng-class="{error: vm.invalidTime(expedient.closes) && expedient.isOpen}" id="closes"
											name="closes" ng-model="expedient.closes" ng-disabled="!expedient.isOpen" ng-required="expedient.isOpen">
										<div ng-show="vm.invalidTime(expedient.closes) && expedient.isOpen" class="error">Horário inválido</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cons" data-dismiss="modal" ng-click="vm.cancel()" translate="global.modal.cancel">Cancelar</button>
		<button class="btn btn-cons btn-primary" ng-click="vm.save(vm.location)" translate="global.modal.save">Salvar</button>
	</div>

</div>