<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
  <h2 class="m-b-0 p-b-0"><i class="fa fa-ticket"></i> <span class="semi-bold"> Chamar {{vm.ticket.friendlyCode}}</span></h2>
</div>

<div class="modal-body">
  <h2>Selecione o recurso e a sala:</h2>

  <div class="radio radio-primary">
    <div ng-repeat="resourceRoom in vm.resourcesRooms">
      <input id="resource + {{resourceRoom.resource.id}}" name="room" type="radio" ng-model="vm.selectedResource" ng-value="resourceRoom">
      <label for="resource + {{resourceRoom.resource.id}}">{{resourceRoom.resource.name}} - {{resourceRoom.room.name}}</label>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn btn-cons" ng-click="vm.cancel()" translate="global.modal.cancel">Cancel</button>
  <button class="btn btn-cons btn-primary" ng-click="vm.callNext()">Chamar</button>
</div>
