<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
  <div class="modal-header clearfix">
    <button class="close" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
  </div>

  <div class="modal-body">
    <div class="block-message block-message-dialog block-message-warning">
      <h4>Deseja mesmo bloquear a sessão das <strong>{{vm.session.startDate | date: 'shortTime'}} às {{vm.session.endDate | date: 'shortTime'}}</strong> do serviço <strong>{{vm.session.serviceName}}</strong>?</h4>
      <p>Essa ação não poderá ser desfeita!</p>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-cons" translate="global.modal.cancel" ng-click="vm.cancel()">Cancelar</button>
    <button class="btn btn-cons btn-primary" translate="global.modal.confirm" ng-click="vm.confirm()">Confirmar</button>
  </div>

</div>
