<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
  <li><a class="active">{{'global.contexts.attendance' | translate}}</a></li>
  <li class="aux">
    <button ng-click="vm.goToOldAttendanceRoute()">Usar interface clássica</button>
  </li>
</ul>

<div class="container-fluid container-fixed-lg main-content">
  <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

  <div ng-show="!vm.isLoading">
    <div class="dashbox">
      <div ng-class="{'compact': vm.isServiceConfigsListCollapsed()}">
        <button class="collapse-toggle" title="Recolher" ng-click="vm.collapseServiceConfigsList()" ng-if="!vm.isServiceConfigsListCollapsed()"></button>
        <button class="collapse-toggle" title="Expandir" ng-click="vm.collapseServiceConfigsList()" ng-if="vm.isServiceConfigsListCollapsed()"></button>

        <div class="search">
          <input type="text" placeholder="Buscar configuração" ng-model="vm.searchServiceConfig">
        </div>

        <ul class="list-avatar">
          <li ng-repeat="serviceConfig in vm.serviceConfigs | filter: vm.searchServiceConfig | orderBy: [vm.orderServiceConfigs, 'name']"
            ng-class="{'on': vm.isCurrentServiceConfig(serviceConfig)}" title="{{serviceConfig.name}}">
            <a href="javascript:;" ng-click="vm.setCurrentServiceConfig(serviceConfig)" analytics-on analytics-category="ServiceConfiguration"
              analytics-event="Choose" analytics-label="{{serviceConfig.previsionStatus}}">
              <div class="block-avatar" ng-class="{'success': vm.isServiceConfigOnTime(serviceConfig), 'warning': vm.isServiceConfigOnWarning(serviceConfig), 'danger': vm.isServiceConfigLate(serviceConfig)}">
                <div class="abreviation">{{serviceConfig.name | limitTo: 3}}</div>
                <div class="notification">{{serviceConfig.totalTicketsForAttendance}}</div>
              </div>
              <div class="description">{{serviceConfig.name}}</div>
            </a>
          </li>
        </ul>
      </div>

      <div class="fully-centered" ng-if="!vm.hasCurrentSession()">
        <div class="message session">Nenhuma sessão para mostrar aqui</div>
      </div>

      <div ng-if="vm.hasCurrentSession()">
        <div>
          <div class="heading">
            <div class="details">
              <div class="description">
                <div class="major">{{vm.currentServiceConfig.name}}</div>
                <div class="minor">{{vm.currentSession.room.name}}</div>
              </div>

              <div class="session">
                <div class="time" ng-class="{'multiple': vm.hasServiceConfigMoreThanOneSession(vm.currentServiceConfig)}" title="Sessão">
                  {{vm.currentSession.startDate | date: 'shortTime'}} - {{vm.currentSession.endDate | date: 'shortTime'}}

                  <ul title="">
                    <li ng-repeat="session in vm.currentServiceConfig.sessions" ng-class="{'disabled': vm.isCurrentSession(session)}">
                      <a href="javascript:;" ng-click="vm.setCurrentSession(session)" analytics-on analytics-category="Session" analytics-event="ChooseSession">{{session.startDate | date: 'shortTime'}} - {{session.endDate | date: 'shortTime'}}</a>
                    </li>
                  </ul>
                </div>

                <div class="tickets" title="Bilhetes">{{vm.currentSession.tickets.length}}/{{vm.currentSession.capacity}}</div>

                <div class="ticket-add">
                  <a href="javascript:;" ng-click="vm.emitTicket(vm.currentSession)" analytics-on analytics-category="Session" analytics-event="NewCustomerService">Emitir bilhete</a>
                </div>
              </div>
            </div>

            <div class="callbox">
              <div class="action">
                <button ng-click="vm.callNextTicket()" analytics-on analytics-category="Session" analytics-event="CallNext">Chamar próximo <span class="total">{{checkedTickets.length + calledTickets.length}}</span></button>
                <button class="priority" title="Chamar preferencial" ng-click="vm.callNextPriorityService()" analytics-on analytics-category="Session"
                  analytics-event="CallNextPriority"><span class="total">{{vm.specialTicketsCount}}</span></button>
              </div>
              <div class="tool">
                <div class="choose" ng-class="{'ui-select-error': vm.hasChooseResouceError}">
                  <ui-select ng-model="vm.currentServiceConfig.selectedResource">
                    <ui-select-match placeholder="Selecione um Atendente">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="resource in vm.currentSession.resources | filter: $select.search | orderBy: 'resource.name'">
                      <div ng-bind-html="resource.name | highlight: $select.search" analytics-on analytics-category="Session" analytics-event="ChooseAttendant"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
                <button class="keep" ng-class="{'on': vm.isCurrentResourcePinned}" ng-disabled="!vm.hasCurrentResource()" ng-click="vm.setCurrentResource()"
                  analytics-on analytics-category="Session" analytics-event="FixAttendant" title="Manter selecionado"></button>
              </div>
            </div>
          </div>

          <div class="search">
            <ui-select class="select" ng-model="vm.selectedTicket">
              <ui-select-match placeholder="Buscar bilhete">{{$select.selected.friendlyCode}}</ui-select-match>
              <ui-select-choices repeat="ticket in vm.currentSession.tickets | filter: $select.search">
                <span class="code">{{ticket.friendlyCode}}</span>
                <span class="info">{{ticket.customer.name}}</span>
                <div class="details">
                  <span>{{ticket.customer.email}} | {{ticket.customer.phone}}</span>
                </div>
              </ui-select-choices>
            </ui-select>

            <button class="reset" ng-show="vm.selectedTicket" ng-click="vm.clearSelectedTicket()" type="button" title="Limpar busca"></button>
          </div>
        </div>

        <div>
          <!-- Checked tickets -->
          <div class="togglebox" ng-class="{'on': vm.getStatusListDetailsState(2), 'unseen': vm.getUnseenTicketsState(2, checkedTickets.length)}">
            <div class="togglebox-header" ng-click="vm.changeStatusListDetailsState(2)">Aguardando chamada <span class="tickets">{{checkedTickets.length}}</span></div>
            <div class="togglebox-body">
              <ul class="list-tickets">
                <div class="message ticket" ng-if="!checkedTickets.length">Nenhum bilhete para mostrar aqui</div>
                <div ng-repeat="ticket in checkedTickets = (vm.currentSession.tickets | filter: vm.isTicketOfStatus('checked') | orderBy: 'prevision')">
                  <li id="ticket-{{ticket.id}}" ng-class="[vm.areTicketDetailsOpened(ticket), vm.getTicketStatusClass(ticket), vm.isSelectedTicket(ticket)]">
                    <div class="primary">
                      <div class="notifier">
                        <div class="text forecast" title="Previsão de atendimento" ng-if="vm.showPrevisionIndicator(ticket)">{{ticket.prevision | date: 'shortTime'}}</div>
                        <div class="text" title="Atendente" ng-if="vm.showResourceIndicator(ticket)">{{ticket.resource.name}}</div>
                        <div class="priority" title="Atendimento prefencial" ng-if="ticket.isSpecial"></div>
                      </div>
                      <div class="details" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService" analytics-event="Detail"
                        analytics-label="Toggle Item">
                        <div class="major">{{ticket.friendlyCode}}</div>
                        <div class="minor">{{vm.isNotAnonymous(ticket) ? ticket.customer.name: 'Autoatendimento'}}</div>
                      </div>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Confirmar" ng-if="vm.canConfirmTicket(ticket)"
                        ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Confirm" analytics-label="Item Button"><i class="fa fa-check"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Check-in" ng-if="vm.canCheckTicket(ticket)"
                        ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Check" analytics-label="Item Button"><i class="fa fa-map-marker"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Chamar" ng-if="vm.canCallTicket(ticket)"
                        ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Call" analytics-label="Item Button"><i class="fa fa-bullhorn"></i> <span ng-if="vm.isTicketCalled(ticket)">{{ticket.timesCalled}}x</span></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Reabrir" ng-if="vm.canReopenTicket(ticket)"
                        ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Reopen" analytics-label="Item Button"><i class="fa fa-repeat"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Iniciar" ng-if="vm.canStartTicket(ticket)"
                        ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Start" analytics-label="Item Button"><i class="fa fa-sign-in"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Finalizar" ng-if="vm.canCompleteTicket(ticket)"
                        ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="End" analytics-label="Item Button"><i class="fa fa-sign-out"></i></button>
                      <button class="more" title="Detalhes" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService"
                        analytics-event="Detail" analytics-label="Toggle Icon"></button>
                    </div>

                    <div class="secondary" ng-show="ticket.detailsOpened">
                      <table>
                        <tr ng-if="vm.isNotAnonymous(ticket)">
                          <th>Cliente</th>
                          <td>
                            <strong>{{ticket.customer.name}}</strong>
                            <span class="truncate">{{ticket.customer.email}}</span>
                            {{ticket.customer.phone}}
                          </td>
                        </tr>
                        <tr>
                          <th>Serviço</th>
                          <td>{{ticket.service.name}}</td>
                        </tr>
                        <tr>
                          <th>Preferencial</th>
                          <td>
                            <div class="radio radio-primary">
                              <input id="checkedSpecial{{$index}}0" name="checkedSpecial-{{ticket.id + '-' +$index}}" type="radio" ng-model="ticket.isSpecial" ng-value="false"
                                ng-change="vm.changePriority(ticket)">
                              <label for="checkedSpecial{{$index}}0" class="margin-bottom-0">Não</label>
                              <input id="checkedSpecial{{$index}}1" name="checkedSpecial-{{ticket.id + '-' +$index}}" type="radio" ng-model="ticket.isSpecial" ng-value="true"
                                ng-change="vm.changePriority(ticket)">
                              <label for="checkedSpecial{{$index}}1" class="margin-bottom-0">Sim</label>
                            </div>
                          </td>
                        </tr>
                        <tr ng-if="vm.hasTicketResource(ticket)">
                          <th>Atendente</th>
                          <td>{{ticket.resource.name}}</td>
                        </tr>
                        <tr ng-if="vm.hasTicketPrevision(ticket)">
                          <th>Previsão</th>
                          <td><strong>{{ticket.prevision | date: 'shortTime'}}</strong></td>
                        </tr>
                        <tr ng-if="vm.isTicketCalled(ticket)">
                          <th>Chamada</th>
                          <td><strong>{{ticket.timesCalled}}x</strong> - Última chamada às <strong>{{ticket.lastTimeCalled | date: 'shortTime'}}</strong></td>
                        </tr>
                      </table>

                      <div class="actions" ng-if="!vm.cannotTicketDoAnyAction(ticket)">
                        <button ng-if="vm.canConfirmTicket(ticket)" ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Confirm" analytics-label="Detail Button"><i class="fa fa-check"></i> Confirmar</button>
                        <button ng-if="vm.canCheckTicket(ticket)" ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Check" analytics-label="Detail Button"><i class="fa fa-map-marker"></i> Check-in</button>
                        <button ng-if="vm.canCallTicket(ticket)" ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Call" analytics-label="Detail Button"><i class="fa fa-bullhorn"></i> Chamar</button>
                        <button ng-if="vm.canReopenTicket(ticket)" ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Reopen" analytics-label="Detail Button"><i class="fa fa-repeat"></i> Reabrir</button>
                        <button ng-if="vm.canStartTicket(ticket)" ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Start" analytics-label="Detail Button"><i class="fa fa-sign-in"></i> Iniciar</button>
                        <button ng-if="vm.canCompleteTicket(ticket)" ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="End" analytics-label="Detail Button"><i class="fa fa-sign-out"></i> Finalizar</button>
                        <button ng-if="vm.canCancelTicket(ticket)" ng-click="vm.cancelTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Cancel"><i class="fa fa-times"></i> Cancelar</button>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>

          <!-- Confirmed tickets -->
          <div class="togglebox" ng-class="{'on': vm.getStatusListDetailsState(1), 'unseen': vm.getUnseenTicketsState(1, confirmedTickets.length)}">
            <div class="togglebox-header" ng-click="vm.changeStatusListDetailsState(1)">Confirmados <span class="tickets">{{confirmedTickets.length}}</span></div>
            <div class="togglebox-body">
              <ul class="list-tickets">
                <div class="message ticket" ng-if="!confirmedTickets.length">Nenhum bilhete para mostrar aqui</div>
                <div ng-repeat="ticket in confirmedTickets = (vm.currentSession.tickets | filter: vm.isTicketOfStatus('confirmed') | orderBy: 'prevision')">
                  <li id="ticket-{{ticket.id}}" ng-class="[vm.areTicketDetailsOpened(ticket), vm.getTicketStatusClass(ticket), vm.isSelectedTicket(ticket)]">
                    <div class="primary">
                      <div class="notifier">
                        <div class="text forecast" title="Previsão de atendimento" ng-if="vm.showPrevisionIndicator(ticket)">{{ticket.prevision | date: 'shortTime'}}</div>
                        <div class="text" title="Atendente" ng-if="vm.showResourceIndicator(ticket)">{{ticket.resource.name}}</div>
                        <div class="priority" title="Atendimento prefencial" ng-if="ticket.isSpecial"></div>
                      </div>
                      <div class="details" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService" analytics-event="Detail"
                        analytics-label="Toggle Item">
                        <div class="major">{{ticket.friendlyCode}}</div>
                        <div class="minor">{{vm.isNotAnonymous(ticket) ? ticket.customer.name: 'Autoatendimento'}}</div>
                      </div>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Confirmar" ng-if="vm.canConfirmTicket(ticket)"
                        ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Confirm" analytics-label="Item Button"><i class="fa fa-check"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Check-in" ng-if="vm.canCheckTicket(ticket)"
                        ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Check" analytics-label="Item Button"><i class="fa fa-map-marker"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Chamar" ng-if="vm.canCallTicket(ticket)"
                        ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Call" analytics-label="Item Button"><i class="fa fa-bullhorn"></i> <span ng-if="vm.isTicketCalled(ticket)">{{ticket.timesCalled}}x</span></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Reabrir" ng-if="vm.canReopenTicket(ticket)"
                        ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Reopen" analytics-label="Item Button"><i class="fa fa-repeat"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Iniciar" ng-if="vm.canStartTicket(ticket)"
                        ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Start" analytics-label="Item Button"><i class="fa fa-sign-in"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Finalizar" ng-if="vm.canCompleteTicket(ticket)"
                        ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="End" analytics-label="Item Button"><i class="fa fa-sign-out"></i></button>
                      <button class="more" title="Detalhes" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService"
                        analytics-event="Detail" analytics-label="Toggle Icon"></button>
                    </div>

                    <div class="secondary" ng-show="ticket.detailsOpened">
                      <table>
                        <tr>
                          <th>Cliente</th>
                          <td>
                            <strong>{{ticket.customer.name}}</strong>
                            <span class="truncate">{{ticket.customer.email}}</span>
                            {{ticket.customer.phone}}
                          </td>
                        </tr>
                        <tr>
                          <th>Serviço</th>
                          <td>{{ticket.service.name}}</td>
                        </tr>
                        <tr>
                          <th>Preferencial</th>
                          <td>
                            <div class="radio radio-primary">
                              <input id="confirmedSpecial{{$index}}0" name="confirmedSpecial-{{ticket.id + '-' +$index}}" type="radio" ng-model="ticket.isSpecial" ng-value="false"
                                ng-change="vm.changePriority(ticket)">
                              <label for="confirmedSpecial{{$index}}0" class="margin-bottom-0">Não</label>
                              <input id="confirmedSpecial{{$index}}1" name="confirmedSpecial-{{ticket.id + '-' +$index}}" type="radio" ng-model="ticket.isSpecial" ng-value="true"
                                ng-change="vm.changePriority(ticket)">
                              <label for="confirmedSpecial{{$index}}1" class="margin-bottom-0">Sim</label>
                            </div>
                          </td>
                        </tr>
                        <tr ng-if="vm.hasTicketResource(ticket)">
                          <th>Atendente</th>
                          <td>{{ticket.resource.name}}</td>
                        </tr>
                        <tr ng-if="vm.hasTicketPrevision(ticket)">
                          <th>Previsão</th>
                          <td><strong>{{ticket.prevision | date: 'shortTime'}}</strong></td>
                        </tr>
                        <tr ng-if="vm.isTicketCalled(ticket)">
                          <th>Chamada</th>
                          <td><strong>{{ticket.timesCalled}}x</strong> - Última chamada às <strong>{{ticket.lastTimeCalled | date: 'shortTime'}}</strong></td>
                        </tr>
                      </table>

                      <div class="actions" ng-if="!vm.cannotTicketDoAnyAction(ticket)">
                        <button ng-if="vm.canConfirmTicket(ticket)" ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Confirm" analytics-label="Detail Button"><i class="fa fa-check"></i> Confirmar</button>
                        <button ng-if="vm.canCheckTicket(ticket)" ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Check" analytics-label="Detail Button"><i class="fa fa-map-marker"></i> Check-in</button>
                        <button ng-if="vm.canCallTicket(ticket)" ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Call" analytics-label="Detail Button"><i class="fa fa-bullhorn"></i> Chamar</button>
                        <button ng-if="vm.canReopenTicket(ticket)" ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Reopen" analytics-label="Detail Button"><i class="fa fa-repeat"></i> Reabrir</button>
                        <button ng-if="vm.canStartTicket(ticket)" ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Start" analytics-label="Detail Button"><i class="fa fa-sign-in"></i> Iniciar</button>
                        <button ng-if="vm.canCompleteTicket(ticket)" ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="End" analytics-label="Detail Button"><i class="fa fa-sign-out"></i> Finalizar</button>
                        <button ng-if="vm.canCancelTicket(ticket)" ng-click="vm.cancelTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Cancel"><i class="fa fa-times"></i> Cancelar</button>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>

          <!-- Scheduled tickets -->
          <div class="togglebox" ng-class="{'on': vm.getStatusListDetailsState(0), 'unseen': vm.getUnseenTicketsState(0, authorizedTickets.length)}">
            <div class="togglebox-header" ng-click="vm.changeStatusListDetailsState(0)">Agendados <span class="tickets">{{authorizedTickets.length}}</span></div>
            <div class="togglebox-body">
              <ul class="list-tickets">
                <div class="message ticket" ng-if="!authorizedTickets.length">Nenhum bilhete para mostrar aqui</div>
                <div ng-repeat="ticket in authorizedTickets = (vm.currentSession.tickets | filter: vm.isTicketOfStatus('authorized') | orderBy: 'prevision')">
                  <li id="ticket-{{ticket.id}}" ng-class="[vm.areTicketDetailsOpened(ticket), vm.getTicketStatusClass(ticket), vm.isSelectedTicket(ticket)]">
                    <div class="primary">
                      <div class="notifier">
                        <div class="text forecast" title="Previsão de atendimento" ng-if="vm.showPrevisionIndicator(ticket)">{{ticket.prevision | date: 'shortTime'}}</div>
                        <div class="text" title="Atendente" ng-if="vm.showResourceIndicator(ticket)">{{ticket.resource.name}}</div>
                        <div class="priority" title="Atendimento prefencial" ng-if="ticket.isSpecial"></div>
                      </div>
                      <div class="details" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService" analytics-event="Detail"
                        analytics-label="Toggle Item">
                        <div class="major">{{ticket.friendlyCode}}</div>
                        <div class="minor">{{vm.isNotAnonymous(ticket) ? ticket.customer.name: 'Autoatendimento'}}</div>
                      </div>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Confirmar" ng-if="vm.canConfirmTicket(ticket)"
                        ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Confirm" analytics-label="Item Button"><i class="fa fa-check"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Check-in" ng-if="vm.canCheckTicket(ticket)"
                        ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Check" analytics-label="Item Button"><i class="fa fa-map-marker"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Chamar" ng-if="vm.canCallTicket(ticket)"
                        ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Call" analytics-label="Item Button"><i class="fa fa-bullhorn"></i> <span ng-if="vm.isTicketCalled(ticket)">{{ticket.timesCalled}}x</span></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Reabrir" ng-if="vm.canReopenTicket(ticket)"
                        ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Reopen" analytics-label="Item Button"><i class="fa fa-repeat"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Iniciar" ng-if="vm.canStartTicket(ticket)"
                        ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Start" analytics-label="Item Button"><i class="fa fa-sign-in"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Finalizar" ng-if="vm.canCompleteTicket(ticket)"
                        ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="End" analytics-label="Item Button"><i class="fa fa-sign-out"></i></button>
                      <button class="more" title="Detalhes" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService"
                        analytics-event="Detail" analytics-label="Toggle Icon"></button>
                    </div>

                    <div class="secondary" ng-show="ticket.detailsOpened">
                      <table>
                        <tr>
                          <th>Cliente</th>
                          <td>
                            <strong>{{ticket.customer.name}}</strong>
                            <span class="truncate">{{ticket.customer.email}}</span>
                            {{ticket.customer.phone}}
                          </td>
                        </tr>
                        <tr>
                          <th>Serviço</th>
                          <td>{{ticket.service.name}}</td>
                        </tr>
                        <tr>
                          <th>Preferencial</th>
                          <td>
                            <div class="radio radio-primary">
                              <input id="scheduledSpecial{{$index}}0" name="scheduledSpecial-{{ticket.id + '-' +$index}}" type="radio" ng-model="ticket.isSpecial" ng-value="false"
                                ng-change="vm.changePriority(ticket)">
                              <label for="scheduledSpecial{{$index}}0" class="margin-bottom-0">Não</label>
                              <input id="scheduledSpecial{{$index}}1" name="scheduledSpecial-{{ticket.id + '-' +$index}}" type="radio" ng-model="ticket.isSpecial" ng-value="true"
                                ng-change="vm.changePriority(ticket)">
                              <label for="scheduledSpecial{{$index}}1" class="margin-bottom-0">Sim</label>
                            </div>
                          </td>
                        </tr>
                        <tr ng-if="vm.hasTicketResource(ticket)">
                          <th>Atendente</th>
                          <td>{{ticket.resource.name}}</td>
                        </tr>
                        <tr ng-if="vm.hasTicketPrevision(ticket)">
                          <th>Previsão</th>
                          <td><strong>{{ticket.prevision | date: 'shortTime'}}</strong></td>
                        </tr>
                        <tr ng-if="vm.isTicketCalled(ticket)">
                          <th>Chamada</th>
                          <td><strong>{{ticket.timesCalled}}x</strong> - Última chamada às <strong>{{ticket.lastTimeCalled | date: 'shortTime'}}</strong></td>
                        </tr>
                      </table>

                      <div class="actions" ng-if="!vm.cannotTicketDoAnyAction(ticket)">
                        <button ng-if="vm.canConfirmTicket(ticket)" ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Confirm" analytics-label="Detail Button"><i class="fa fa-check"></i> Confirmar</button>
                        <button ng-if="vm.canCheckTicket(ticket)" ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Check" analytics-label="Detail Button"><i class="fa fa-map-marker"></i> Check-in</button>
                        <button ng-if="vm.canCallTicket(ticket)" ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Call" analytics-label="Detail Button"><i class="fa fa-bullhorn"></i> Chamar</button>
                        <button ng-if="vm.canReopenTicket(ticket)" ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Reopen" analytics-label="Detail Button"><i class="fa fa-repeat"></i> Reabrir</button>
                        <button ng-if="vm.canStartTicket(ticket)" ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Start" analytics-label="Detail Button"><i class="fa fa-sign-in"></i> Iniciar</button>
                        <button ng-if="vm.canCompleteTicket(ticket)" ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="End" analytics-label="Detail Button"><i class="fa fa-sign-out"></i> Finalizar</button>
                        <button ng-if="vm.canCancelTicket(ticket)" ng-click="vm.cancelTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Cancel"><i class="fa fa-times"></i> Cancelar</button>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>

        <div>
          <!-- Called tickets -->
          <div class="togglebox" ng-class="{'on': vm.getStatusListDetailsState(3), 'unseen': vm.getUnseenTicketsState(3, calledTickets.length)}">
            <div class="togglebox-header" ng-click="vm.changeStatusListDetailsState(3)">Chamados <span class="tickets">{{calledTickets.length}}</span></div>
            <div class="togglebox-body">
              <ul class="list-tickets">
                <div class="message ticket" ng-if="!calledTickets.length">Nenhum bilhete para mostrar aqui</div>
                <div ng-repeat="ticket in calledTickets = (vm.currentSession.tickets | filter: vm.isTicketOfStatus('called') | orderBy: 'prevision')">
                  <li id="ticket-{{ticket.id}}" ng-class="[vm.areTicketDetailsOpened(ticket), vm.getTicketStatusClass(ticket), vm.isSelectedTicket(ticket)]">
                    <div class="primary">
                      <div class="notifier">
                        <div class="text forecast" title="Previsão de atendimento" ng-if="vm.showPrevisionIndicator(ticket)">{{ticket.prevision | date: 'shortTime'}}</div>
                        <div class="text" title="Atendente" ng-if="vm.showResourceIndicator(ticket)">{{ticket.resource.name}}</div>
                        <div class="priority" title="Atendimento prefencial" ng-if="ticket.isSpecial"></div>
                      </div>
                      <div class="details" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService" analytics-event="Detail"
                        analytics-label="Toggle Item">
                        <div class="major">{{ticket.friendlyCode}}</div>
                        <div class="minor">{{vm.isNotAnonymous(ticket) ? ticket.customer.name: 'Autoatendimento'}}</div>
                      </div>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Confirmar" ng-if="vm.canConfirmTicket(ticket)"
                        ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Confirm" analytics-label="Item Button"><i class="fa fa-check"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Check-in" ng-if="vm.canCheckTicket(ticket)"
                        ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Check" analytics-label="Item Button"><i class="fa fa-map-marker"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Chamar" ng-if="vm.canCallTicket(ticket)"
                        ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Call" analytics-label="Item Button"><i class="fa fa-bullhorn"></i><span ng-if="vm.isTicketCalled(ticket)">{{ticket.timesCalled}}x</span></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Reabrir" ng-if="vm.canReopenTicket(ticket)"
                        ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Reopen" analytics-label="Item Button"><i class="fa fa-repeat"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Iniciar" ng-if="vm.canStartTicket(ticket)"
                        ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Start" analytics-label="Item Button"><i class="fa fa-sign-in"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Finalizar" ng-if="vm.canCompleteTicket(ticket)"
                        ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="End" analytics-label="Item Button"><i class="fa fa-sign-out"></i></button>
                      <button class="more" title="Detalhes" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService"
                        analytics-event="Detail" analytics-label="Toggle Icon"></button>
                    </div>

                    <div class="secondary" ng-show="ticket.detailsOpened">
                      <table>
                        <tr ng-if="vm.isNotAnonymous(ticket)">
                          <th>Cliente</th>
                          <td>
                            <strong>{{ticket.customer.name}}</strong>
                            <span class="truncate">{{ticket.customer.email}}</span>
                            {{ticket.customer.phone}}
                          </td>
                        </tr>
                        <tr>
                          <th>Serviço</th>
                          <td>{{ticket.service.name}}</td>
                        </tr>
                        <tr>
                          <th>Preferencial</th>
                          <td>
                            <div class="radio radio-primary">
                              <input id="calledSpecial{{$index}}0" name="calledSpecial-{{ticket.id + '-' +$index}}" type="radio" ng-model="ticket.isSpecial" ng-value="false"
                                ng-change="vm.changePriority(ticket)">
                              <label for="calledSpecial{{$index}}0" class="margin-bottom-0">Não</label>
                              <input id="calledSpecial{{$index}}1" name="calledSpecial-{{ticket.id + '-' +$index}}" type="radio" ng-model="ticket.isSpecial" ng-value="true"
                                ng-change="vm.changePriority(ticket)">
                              <label for="calledSpecial{{$index}}1" class="margin-bottom-0">Sim</label>
                            </div>
                          </td>
                        </tr>
                        <tr ng-if="vm.hasTicketPrevision(ticket)">
                          <th>Previsão</th>
                          <td><strong>{{ticket.prevision | date: 'shortTime'}}</strong></td>
                        </tr>
                        <tr ng-if="vm.hasTicketResource(ticket)">
                          <th>Atendente</th>
                          <td>{{ticket.resource.name}}</td>
                        </tr>
                        <tr ng-if="vm.isTicketCalled(ticket)">
                          <th>Chamada</th>
                          <td><strong>{{ticket.timesCalled}}x</strong> - Última chamada às <strong>{{ticket.lastTimeCalled | date: 'shortTime'}}</strong></td>
                        </tr>
                      </table>

                      <div class="actions" ng-if="!vm.cannotTicketDoAnyAction(ticket)">
                        <button ng-if="vm.canConfirmTicket(ticket)" ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Confirm" analytics-label="Detail Button"><i class="fa fa-check"></i> Confirmar</button>
                        <button ng-if="vm.canCheckTicket(ticket)" ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Check" analytics-label="Detail Button"><i class="fa fa-map-marker"></i> Check-in</button>
                        <button ng-if="vm.canCallTicket(ticket)" ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Call" analytics-label="Detail Button"><i class="fa fa-bullhorn"></i> Chamar</button>
                        <button ng-if="vm.canReopenTicket(ticket)" ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Reopen" analytics-label="Detail Button"><i class="fa fa-repeat"></i> Reabrir</button>
                        <button ng-if="vm.canStartTicket(ticket)" ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Start" analytics-label="Detail Button"><i class="fa fa-sign-in"></i> Iniciar</button>
                        <button ng-if="vm.canCompleteTicket(ticket)" ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="End" analytics-label="Detail Button"><i class="fa fa-sign-out"></i> Finalizar</button>
                        <button ng-if="vm.canCancelTicket(ticket)" ng-click="vm.cancelTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Cancel"><i class="fa fa-times"></i> Cancelar</button>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>

          <!-- Started tickets -->
          <div class="togglebox" ng-class="{'on': vm.getStatusListDetailsState(4), 'unseen': vm.getUnseenTicketsState(4, startedTickets.length)}">
            <div class="togglebox-header" ng-click="vm.changeStatusListDetailsState(4)">Em atendimento <span class="tickets">{{startedTickets.length}}</span></div>
            <div class="togglebox-body">
              <ul class="list-tickets">
                <div class="message ticket" ng-if="!startedTickets.length">Nenhum bilhete para mostrar aqui</div>
                <div ng-repeat="ticket in startedTickets = (vm.currentSession.tickets | filter: vm.isTicketOfStatus('started') | orderBy: 'prevision')">
                  <li id="ticket-{{ticket.id}}" ng-class="[vm.areTicketDetailsOpened(ticket), vm.getTicketStatusClass(ticket), vm.isSelectedTicket(ticket)]">
                    <div class="primary">
                      <div class="notifier">
                        <div class="text forecast" title="Previsão de atendimento" ng-if="vm.showPrevisionIndicator(ticket)">{{ticket.prevision | date: 'shortTime'}}</div>
                        <div class="text" title="Atendente" ng-if="vm.showResourceIndicator(ticket)">{{ticket.resource.name}}</div>
                        <div class="priority" title="Atendimento prefencial" ng-if="ticket.isSpecial"></div>
                      </div>
                      <div class="details" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService" analytics-event="Detail"
                        analytics-label="Toggle Item">
                        <div class="major">{{ticket.friendlyCode}}</div>
                        <div class="minor">{{vm.isNotAnonymous(ticket) ? ticket.customer.name: 'Autoatendimento'}}</div>
                      </div>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Confirmar" ng-if="vm.canConfirmTicket(ticket)"
                        ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Confirm" analytics-label="Item Button"><i class="fa fa-check"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Check-in" ng-if="vm.canCheckTicket(ticket)"
                        ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Check" analytics-label="Item Button"><i class="fa fa-map-marker"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Chamar" ng-if="vm.canCallTicket(ticket)"
                        ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Call" analytics-label="Item Button"><i class="fa fa-bullhorn"></i> <span ng-if="vm.isTicketCalled(ticket)">{{ticket.timesCalled}}x</span></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Reabrir" ng-if="vm.canReopenTicket(ticket)"
                        ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Reopen" analytics-label="Item Button"><i class="fa fa-repeat"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Iniciar" ng-if="vm.canStartTicket(ticket)"
                        ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Start" analytics-label="Item Button"><i class="fa fa-sign-in"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Finalizar" ng-if="vm.canCompleteTicket(ticket)"
                        ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="End" analytics-label="Item Button"><i class="fa fa-sign-out"></i></button>
                      <button class="more" title="Detalhes" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService"
                        analytics-event="Detail" analytics-label="Toggle Icon"></button>
                    </div>

                    <div class="secondary" ng-show="ticket.detailsOpened">
                      <table>
                        <tr ng-if="vm.isNotAnonymous(ticket)">
                          <th>Cliente</th>
                          <td>
                            <strong>{{ticket.customer.name}}</strong>
                            <span class="truncate">{{ticket.customer.email}}</span>
                            {{ticket.customer.phone}}
                          </td>
                        </tr>
                        <tr>
                          <th>Serviço</th>
                          <td>{{ticket.service.name}}</td>
                        </tr>
                        <tr>
                          <th>Preferencial</th>
                          <td>
                            {{ticket.isSpecial ? "Sim" : "Não"}}
                          </td>
                        </tr>
                        <tr ng-if="vm.hasTicketPrevision(ticket)">
                          <th>Previsão</th>
                          <td><strong>{{ticket.prevision | date: 'shortTime'}}</strong></td>
                        </tr>
                        <tr ng-if="vm.hasTicketResource(ticket)">
                          <th>Atendente</th>
                          <td>{{ticket.resource.name}}</td>
                        </tr>
                        <tr ng-if="vm.isTicketCalled(ticket)">
                          <th>Chamada</th>
                          <td><strong>{{ticket.timesCalled}}x</strong> - Última chamada às <strong>{{ticket.lastTimeCalled | date: 'shortTime'}}</strong></td>
                        </tr>
                      </table>

                      <div class="actions" ng-if="!vm.cannotTicketDoAnyAction(ticket)">
                        <button ng-if="vm.canConfirmTicket(ticket)" ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Confirm" analytics-label="Detail Button"><i class="fa fa-check"></i> Confirmar</button>
                        <button ng-if="vm.canCheckTicket(ticket)" ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Check" analytics-label="Detail Button"><i class="fa fa-map-marker"></i> Check-in</button>
                        <button ng-if="vm.canCallTicket(ticket)" ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Call" analytics-label="Detail Button"><i class="fa fa-bullhorn"></i> Chamar</button>
                        <button ng-if="vm.canReopenTicket(ticket)" ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Reopen" analytics-label="Detail Button"><i class="fa fa-repeat"></i> Reabrir</button>
                        <button ng-if="vm.canStartTicket(ticket)" ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Start" analytics-label="Detail Button"><i class="fa fa-sign-in"></i> Iniciar</button>
                        <button ng-if="vm.canCompleteTicket(ticket)" ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="End" analytics-label="Detail Button"><i class="fa fa-sign-out"></i> Finalizar</button>
                        <button ng-if="vm.canCancelTicket(ticket)" ng-click="vm.cancelTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Cancel"><i class="fa fa-times"></i> Cancelar</button>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>

          <!-- Finalized tickets -->
          <div class="togglebox" ng-class="{'on': vm.getStatusListDetailsState(5), 'unseen': vm.getUnseenTicketsState(5, finalizedTickets.length)}">
            <div class="togglebox-header" ng-click="vm.changeStatusListDetailsState(5)">Finalizados <span class="tickets">{{finalizedTickets.length}}</span></div>
            <div class="togglebox-body">
              <ul class="list-tickets">
                <div class="message ticket" ng-if="!finalizedTickets.length">Nenhum bilhete para mostrar aqui</div>
                <div ng-repeat="ticket in finalizedTickets = (vm.currentSession.tickets | filter: vm.isTicketOfStatus('completed') | orderBy: 'prevision')">
                  <li id="ticket-{{ticket.id}}" ng-class="[vm.areTicketDetailsOpened(ticket), vm.getTicketStatusClass(ticket), vm.isSelectedTicket(ticket)]">
                    <div class="primary">
                      <div class="notifier">
                        <div class="text forecast" title="Previsão de atendimento" ng-if="vm.showPrevisionIndicator(ticket)">{{ticket.prevision | date: 'shortTime'}}</div>
                        <div class="text" title="Atendente" ng-if="vm.showResourceIndicator(ticket)">{{ticket.resource.name}}</div>
                        <div class="priority" title="Atendimento prefencial" ng-if="ticket.isSpecial"></div>
                      </div>
                      <div class="details" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService" analytics-event="Detail"
                        analytics-label="Toggle Item">
                        <div class="major">{{ticket.friendlyCode}}</div>
                        <div class="minor">{{vm.isNotAnonymous(ticket) ? ticket.customer.name: 'Autoatendimento'}}</div>
                      </div>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Confirmar" ng-if="vm.canConfirmTicket(ticket)"
                        ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Confirm" analytics-label="Item Button"><i class="fa fa-check"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Check-in" ng-if="vm.canCheckTicket(ticket)"
                        ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Check" analytics-label="Item Button"><i class="fa fa-map-marker"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Chamar" ng-if="vm.canCallTicket(ticket)"
                        ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Call" analytics-label="Item Button"><i class="fa fa-bullhorn"></i> <span ng-if="vm.isTicketCalled(ticket)">{{ticket.timesCalled}}x</span></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Reabrir" ng-if="vm.canReopenTicket(ticket)"
                        ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Reopen" analytics-label="Item Button"><i class="fa fa-repeat"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Iniciar" ng-if="vm.canStartTicket(ticket)"
                        ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Start" analytics-label="Item Button"><i class="fa fa-sign-in"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Finalizar" ng-if="vm.canCompleteTicket(ticket)"
                        ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="End" analytics-label="Item Button"><i class="fa fa-sign-out"></i></button>
                      <button class="more" title="Detalhes" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService"
                        analytics-event="Detail" analytics-label="Toggle Icon"></button>
                    </div>

                    <div class="secondary" ng-show="ticket.detailsOpened">
                      <table>
                        <tr ng-if="vm.isNotAnonymous(ticket)">
                          <th>Cliente</th>
                          <td>
                            <strong>{{ticket.customer.name}}</strong>
                            <span class="truncate">{{ticket.customer.email}}</span>
                            {{ticket.customer.phone}}
                          </td>
                        </tr>
                        <tr>
                          <th>Serviço</th>
                          <td>{{ticket.service.name}}</td>
                        </tr>
                        <tr>
                          <th>Preferencial</th>
                          <td>
                            {{ticket.isSpecial ? "Sim" : "Não"}}
                          </td>
                        </tr>
                        <tr ng-if="vm.hasTicketPrevision(ticket)">
                          <th>Previsão</th>
                          <td><strong>{{ticket.prevision | date: 'shortTime'}}</strong></td>
                        </tr>
                        <tr ng-if="vm.hasTicketResource(ticket)">
                          <th>Atendente</th>
                          <td>{{ticket.resource.name}}</td>
                        </tr>
                        <tr ng-if="vm.isTicketCalled(ticket)">
                          <th>Chamada</th>
                          <td><strong>{{ticket.timesCalled}}x</strong> - Última chamada às <strong>{{ticket.lastTimeCalled | date: 'shortTime'}}</strong></td>
                        </tr>
                      </table>

                      <div class="actions" ng-if="!vm.cannotTicketDoAnyAction(ticket)">
                        <button ng-if="vm.canConfirmTicket(ticket)" ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Confirm" analytics-label="Detail Button"><i class="fa fa-check"></i> Confirmar</button>
                        <button ng-if="vm.canCheckTicket(ticket)" ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Check" analytics-label="Detail Button"><i class="fa fa-map-marker"></i> Check-in</button>
                        <button ng-if="vm.canCallTicket(ticket)" ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Call" analytics-label="Detail Button"><i class="fa fa-bullhorn"></i> Chamar</button>
                        <button ng-if="vm.canReopenTicket(ticket)" ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Reopen" analytics-label="Detail Button"><i class="fa fa-repeat"></i> Reabrir</button>
                        <button ng-if="vm.canStartTicket(ticket)" ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Start" analytics-label="Detail Button"><i class="fa fa-sign-in"></i> Iniciar</button>
                        <button ng-if="vm.canCompleteTicket(ticket)" ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="End" analytics-label="Detail Button"><i class="fa fa-sign-out"></i> Finalizar</button>
                        <button ng-if="vm.canCancelTicket(ticket)" ng-click="vm.cancelTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Cancel"><i class="fa fa-times"></i> Cancelar</button>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>

          <!-- Canceled tickets -->
          <div class="togglebox" ng-class="{'on': vm.getStatusListDetailsState(6), 'unseen': vm.getUnseenTicketsState(6, canceledTickets.length)}">
            <div class="togglebox-header" ng-click="vm.changeStatusListDetailsState(6)">Cancelados <span class="tickets">{{canceledTickets.length}}</span></div>
            <div class="togglebox-body">
              <ul class="list-tickets">
                <div class="message ticket" ng-if="!canceledTickets.length">Nenhum bilhete para mostrar aqui</div>
                <div ng-repeat="ticket in canceledTickets = (vm.currentSession.tickets | filter: vm.isTicketOfStatus('canceled') | orderBy: 'prevision')">
                  <li id="ticket-{{ticket.id}}" ng-class="[vm.areTicketDetailsOpened(ticket), vm.getTicketStatusClass(ticket), vm.isSelectedTicket(ticket)]">
                    <div class="primary">
                      <div class="notifier">
                        <div class="text forecast" title="Previsão de atendimento" ng-if="vm.showPrevisionIndicator(ticket)">{{ticket.prevision | date: 'shortTime'}}</div>
                        <div class="text" title="Atendente" ng-if="vm.showResourceIndicator(ticket)">{{ticket.resource.name}}</div>
                        <div class="priority" title="Atendimento prefencial" ng-if="ticket.isSpecial"></div>
                      </div>
                      <div class="details" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService" analytics-event="Detail"
                        analytics-label="Toggle Item">
                        <div class="major">{{ticket.friendlyCode}}</div>
                        <div class="minor">{{vm.isNotAnonymous(ticket) ? ticket.customer.name: 'Autoatendimento'}}</div>
                      </div>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Confirmar" ng-if="vm.canConfirmTicket(ticket)"
                        ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Confirm" analytics-label="Item Button"><i class="fa fa-check"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Check-in" ng-if="vm.canCheckTicket(ticket)"
                        ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Check" analytics-label="Item Button"><i class="fa fa-map-marker"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Chamar" ng-if="vm.canCallTicket(ticket)"
                        ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Call" analytics-label="Item Button"><i class="fa fa-bullhorn"></i> <span ng-if="vm.isTicketCalled(ticket)">{{ticket.timesCalled}}x</span></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Reabrir" ng-if="vm.canReopenTicket(ticket)"
                        ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Reopen" analytics-label="Item Button"><i class="fa fa-repeat"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Iniciar" ng-if="vm.canStartTicket(ticket)"
                        ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="Start" analytics-label="Item Button"><i class="fa fa-sign-in"></i></button>
                      <button class="action" ng-class="{'loading': vm.isTicketLoading(ticket)}" title="Finalizar" ng-if="vm.canCompleteTicket(ticket)"
                        ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                        analytics-event="End" analytics-label="Item Button"><i class="fa fa-sign-out"></i></button>
                      <button class="more" title="Detalhes" ng-click="vm.changeTicketDetailsState(ticket)" analytics-on analytics-category="CustomerService"
                        analytics-event="Detail" analytics-label="Toggle Icon"></button>
                    </div>

                    <div class="secondary" ng-show="ticket.detailsOpened">
                      <table>
                        <tr ng-if="vm.isNotAnonymous(ticket)">
                          <th>Cliente</th>
                          <td>
                            <strong>{{ticket.customer.name}}</strong>
                            <span class="truncate">{{ticket.customer.email}}</span>
                            {{ticket.customer.phone}}
                          </td>
                        </tr>
                        <tr>
                          <th>Serviço</th>
                          <td>{{ticket.service.name}}</td>
                        </tr>
                        <tr>
                          <th>Preferencial</th>
                          <td>
                            {{ticket.isSpecial ? "Sim" : "Não"}}
                          </td>
                        </tr>
                        <tr ng-if="vm.hasTicketPrevision(ticket)">
                          <th>Previsão</th>
                          <td><strong>{{ticket.prevision | date: 'shortTime'}}</strong></td>
                        </tr>
                        <tr ng-if="vm.hasTicketResource(ticket)">
                          <th>Atendente</th>
                          <td>{{ticket.resource.name}}</td>
                        </tr>
                        <tr ng-if="vm.isTicketCalled(ticket)">
                          <th>Chamada</th>
                          <td><strong>{{ticket.timesCalled}}x</strong> - Última chamada às <strong>{{ticket.lastTimeCalled | date: 'shortTime'}}</strong></td>
                        </tr>
                      </table>

                      <div class="actions" ng-if="!vm.cannotTicketDoAnyAction(ticket)">
                        <button ng-if="vm.canConfirmTicket(ticket)" ng-click="vm.confirmTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Confirm" analytics-label="Detail Button"><i class="fa fa-check"></i> Confirmar</button>
                        <button ng-if="vm.canCheckTicket(ticket)" ng-click="vm.checkTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Check" analytics-label="Detail Button"><i class="fa fa-map-marker"></i> Check-in</button>
                        <button ng-if="vm.canCallTicket(ticket)" ng-click="vm.callTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Call" analytics-label="Detail Button"><i class="fa fa-bullhorn"></i> Chamar</button>
                        <button ng-if="vm.canReopenTicket(ticket)" ng-click="vm.reopenTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Reopen" analytics-label="Detail Button"><i class="fa fa-repeat"></i> Reabrir</button>
                        <button ng-if="vm.canStartTicket(ticket)" ng-click="vm.startTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on analytics-category="CustomerService"
                          analytics-event="Start" analytics-label="Detail Button"><i class="fa fa-sign-in"></i> Iniciar</button>
                        <button ng-if="vm.canCompleteTicket(ticket)" ng-click="vm.completeTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="End" analytics-label="Detail Button"><i class="fa fa-sign-out"></i> Finalizar</button>
                        <button ng-if="vm.canCancelTicket(ticket)" ng-click="vm.cancelTicket(ticket)" ng-disabled="ticket.isLoading" analytics-on
                          analytics-category="CustomerService" analytics-event="Cancel"><i class="fa fa-times"></i> Cancelar</button>
                      </div>
                    </div>
                  </li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
