<wizard hide-indicators="true" class="walkthrough">
	<wz-step ng-repeat="step in vm.steps">
		<div>
			<h1 class="heading">Conheça a nova tela de atendimento</h1>

      <div class="step">
        <div class="image">
          <div style="background-image: url('{{step.imageURL}}');"></div>
        </div>

        <div class="description">
          <h3 class="title">{{step.title}}</h3>
          <div class="text">{{step.content}}</div>
        </div>
      </div>

			<div class="action">
				<button class="previous" ng-if="vm.showPreviousButton()" ng-click="vm.goToPreviousPage()">Voltar</button>
        <button class="finish" ng-if="!vm.showNextButton()" ng-click="vm.finish()">Fechar</button>
        <button class="next" ng-if="vm.showNextButton()" ng-click="vm.goToNextPage()">Avançar</button>
			</div>
		</div>
	</wz-step>
</wizard>
