<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
  <li><a class="active">Atendimento</a></li>
  <li class="aux success">
    <button ng-click="goToNewAttendanceRoute()">Usar nova interface</button>
  </li>
</ul>

<div class="progress-circle-indeterminate progress-circle-primary" ng-show="isLoadingAll"></div>

<div class="container-fluid container-fixed-lg main-content" ng-show="!isLoadingAll">

  <div class="block-message block-message-empty m-t-30" ng-if="serviceConfigs.length === 0">
    <h4>Nenhuma configuração de atendimento</h4>

    <p>
      Crie uma nova configuração de atendimento clicando em "Nova configuração"
    </p>

    <button class="btn btn-primary" ng-click="addServiceConfig()">
      <i class="pg-plus_circle"></i> Nova configuração
    </button>
  </div>

  <div class="boxfilter" ng-show="!isLoadingAll && serviceConfigs.length !== 0">

    <div class="boxfilter-filters">
      <div class="boxfilter-filters-header">
        <div class="input-group transparent">
          <span class="input-group-addon"><i class="pg-search"></i></span>
          <input type="text" class="form-control input-lg" placeholder="Filtrar configuração"
                 ng-model="searchServiceConfig">
        </div>
      </div>

      <div class="boxfilter-filters-body">
        <div ng-if="filteredServiceConfigs.length === 0">
          <div class="block-message block-message-empty">
            <h4>Ops! Nada encontrado...</h4>

            <p>
              Sua pesquisa não encontrou nenhuma configuração
            </p>
          </div>
        </div>

        <div class="item pointer"
             ng-repeat="serviceConfig in filteredServiceConfigs = (serviceConfigs | filter: searchServiceConfig | orderBy: [serviceConfigOrder, 'name'])"
             ng-class="{'selected-item': serviceConfig.id === selectedServiceConfig.id}"
             ng-click="selectServiceConfig(serviceConfig)"
             ng-show="!noSessions(serviceConfig)"
             title="{{serviceConfig.name}}">
          <div class="circle" ng-class="{ 'circle-green': isOnTime(serviceConfig), 'circle-yellow': isWarning(serviceConfig), 'circle-red': isLate(serviceConfig), 'circle-gray': noTickets(serviceConfig)}"></div>
          <div class="name">{{serviceConfig.name}}</div>
          <span ng-show="serviceConfig.waitingServiceTickets > 0">
            <span class="tickets" ng-show="serviceConfig.waitingServiceTickets <= 20" ng-class="{'green': serviceConfig.calledTickets === serviceConfig.waitingServiceTickets}">{{serviceConfig.waitingServiceTickets}}</span>
            <span class="tickets" ng-show="serviceConfig.waitingServiceTickets > 20" ng-class="{'green': serviceConfig.calledTickets === serviceConfig.waitingServiceTickets}">20+</span>
          </span>
        </div>
      </div>
    </div>

    <div class="boxfilter-content">
      <div class="box-content">
        <div class="row m-b-20">
          <div class="col-sm-6">
            <div class="input-group transparent">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input type="text" class="form-control input-lg" placeholder="Pesquisar bilhete" ng-model="searchTickets">
            </div>
          </div>
          <div class="clearfix col-sm-6 m-t-15">
            <div class="pull-right">
              <div class="checkbox check-primary display-inline">
                <span class="margin-right-10 muted">Sessões:</span>

                <input id="sessions1" type="checkbox" ng-model="closedSessionFilter" ng-change="changedSessionFilter()">
                <label for="sessions1">Expiradas</label>

                <input id="sessions2" type="checkbox" ng-model="inProgressSessionFilter"
                       ng-change="changedSessionFilter()">
                <label for="sessions2">Em andamento</label>

                <input id="sessions3" type="checkbox" ng-model="notStartedSessionFilter"
                       ng-change="changedSessionFilter()">
                <label for="sessions3">A iniciar</label>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default panel-live" ng-show="!hasSessions || filteredSessions.length === 0">
          <!-- Empty States -->
          <div class="block-message block-message-empty" ng-show="filteredSessions.length === 0 && hasSessions">
            <h4>Ops! Nenhuma sessão para mostrar...</h4>
            <p>O filtro selecionado não encontrou nenhuma sessão correspondente.</p>
          </div>

          <div class="block-message block-message-empty" ng-show="!hasSessions">
            <h4>Ops! Nenhuma sessão para mostrar...</h4>
            <p>Ainda não há sessão definida para hoje.</p>
            <a class="btn btn-primary" ui-sref="app.provider.session-add({providerSlug: provider.slug})">
              <i class="pg-plus_circle"></i>
              Gerar sessões
            </a>
          </div>
        </div>

        <div class="panel panel-default panel-live"
             ng-repeat="session in filteredSessions = (sessions | filter: showSession())">

          <div class="panel-body" ng-show="session.isLoadingSession">
            <div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle"></div>
          </div>

          <div class="panel-body" ng-show="!session.isLoadingSession">

            <!-- Sessions -->
            <div class="row" ng-show="filteredSessions.length > 0">

              <!-- Service and resource name-->
              <div class="col-sm-6">
                <h4 class="m-t-0 text-primary">
                <span class="semi-bold" uib-popover="{{session.servicesName}}" popover-trigger="'mouseenter'">
                  {{session.servicesName | limitTo: 40}}
                  <span ng-if="session.servicesName.length > 40">...</span>
                </span>
                  <em class="m-l-5 text-xsmall" uib-popover="{{session.resourceName}}" popover-trigger="'mouseenter'"
                      ng-show="!session.isShared">
                    {{session.resourceName | limitTo:30}}
                    <span ng-show="session.string.length>30">...</span>
                  </em>
                  <div class="btn-group dropdown-default" pg-dropdown ng-show="session.isShared">
                    <button class="btn btn-default dropdown-toggle text-center" data-toggle="dropdown">
                      <span ng-show="session.selectedResource !== null">{{session.selectedResource.name}}</span>
                      <span ng-show="session.selectedResource === null">Sempre perguntar</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:;" ng-click="selectResource(session)">Sempre perguntar</a></li>
                      <li ng-repeat="resourceRoom in session.resourcesRooms"
                          ng-if="session.selectedResource.id !== resourceRoom.resource.id"><a href="javascript:;"
                                                                                              ng-click="selectResource(session, resourceRoom.resource)">{{resourceRoom.resource.name}}</a>
                      </li>
                    </ul>
                  </div>
                </h4>
              </div>

              <!-- Actions Buttons -->
              <div class="col-sm-6 text-right">
                <div class="btn-group dropdown-default" pg-dropdown>
                  <button class="btn btn-default dropdown-toggle text-center" data-toggle="dropdown">Outras opções <span
                    class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="javascript:;" ng-click="openEmitTicket(session)">Emissão de bilhete</a></li>
                    <li><a href="javascript:;" ng-click="goToSession(session)">Atendimento básico</a></li>
                    <li><a href="javascript:;" ng-click="closeSession(session)">Encerrar sessão</a></li>
                  </ul>
                </div>

                <button class="btn btn-primary" ng-click="callNext(session)"><i class="fa fa-bullhorn"></i> Chamar
                  próximo
                </button>
              </div>
            </div>

            <div class="row m-t-10 p-t-15 b-t b-grey border-dotted">
              <div class="col-sm-3 sm-m-b-10">
                <div class="semi-bold">
                  <span title="Horário de atendimento"><i class="fa fa-clock-o muted"></i> {{session.startDate | date: 'shortTime'}} às {{session.endDate | date: 'shortTime'}}</span>
            <span title="Bilhetes emitidos / capacidade" class="m-l-15"><i
              class="fa fa-ticket muted"></i> {{session.ticketsNum}} / {{session.capacity}}</span>
                </div>
              </div>

              <div class="col-sm-9">
                <div class="pull-right">

                  <div class="checkbox check-primary display-inline">
                    <input id="completed{{session.id}}" type="checkbox" ng-model="session.completedTicketsFilter"
                           ng-disabled="!hasTickets(session)" ng-change="showAll(session)">
                    <label for="completed{{session.id}}">Concluídos</label>

                    <input id="cancelled{{session.id}}" type="checkbox" ng-model="session.cancelledTicketsFilter"
                           ng-disabled="!hasTickets(session)" ng-change="showAll(session)">
                    <label for="cancelled{{session.id}}">Cancelados</label>

                    <input id="checked{{session.id}}" type="checkbox" ng-model="session.checkedTicketsFilter"
                           ng-disabled="!hasTickets(session)" ng-change="showAll(session)">
                    <label for="checked{{session.id}}">Checados</label>

                    <input id="confirmed{{session.id}}" type="checkbox" ng-model="session.confirmedTicketsFilter"
                           ng-disabled="!hasTickets(session)" ng-change="showAll(session)">
                    <label for="confirmed{{session.id}}">Confirmados</label>

                    <input id="scheduled{{session.id}}" type="checkbox" ng-model="session.scheduledTicketsFilter"
                           ng-disabled="!hasTickets(session)" ng-change="showAll(session)">
                    <label for="scheduled{{session.id}}" class="margin-right-0">Agendados</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="block-message block-message-empty" ng-show="!hasTickets(session)">
              <h4>Ops! Nenhum bilhete para mostrar...</h4>
              <p>Esta sessão não possui bilhetes.</p>
            </div>

            <div class="block-message block-message-empty" ng-show="hasTickets(session) && filteredTickets.length == 0">
              <h4>Ops! Nenhum bilhete para mostrar...</h4>
              <p>O filtro selecionado não encontrou nenhum bilhete correspondente.</p>
            </div>

            <div class="ticket-list" ng-show="hasTickets(session)">
              <div class="item" ng-class="{confirmed: ticket.status.toLowerCase() === 'confirmed',
        checked: ticket.status.toLowerCase() === 'checked' && !isNext(session, ticket),
        next: isNext(session, ticket), called: isInAttendance(ticket),
          finalized: ticket.status.toLowerCase() === 'completed', canceled: ticket.status.toLowerCase() ==='canceled'}"
                   ng-repeat="ticket in filteredTickets = (session.tickets | filter: searchTickets | filter: showTickets(session)
             | limitTo: session.ticketsLimit)">
                <div class="loader" ng-show="ticket.isLoading"></div>
                <div class="guide">
                  <div class="indicator">
                    <i class="fa fa-star" title="Preferencial" ng-show="ticket.isSpecial"></i>
                    <i class="fa fa-map-marker" title="Checado" ng-show="ticket.checked"></i>
                    <i class="fa fa-check" title="Confirmado" ng-show="ticket.confirmed"></i>
                  </div>
                  <div class="position" title="Posição" ng-show="!hasNext(session, ticket)">{{ticket.position}}</div>
                </div>

                <a class="friendlycode" ng-click="showTicketDetails(ticket.id)" uib-popover="{{ticket.customerName}}" popover-trigger="'mouseenter'">{{ticket.friendlyCode}}</a>

                <div ng-show="isInAttendance(ticket)">
                  <div class="status">
                    <div class="description">{{'global.status.' + ticket.status.toLowerCase() | translate | capitalize}}
                    </div>
                    <div class="where">
                      <span ng-show="!session.isShared">{{session.roomName}}</span>
                      <span ng-show="session.isShared">{{ticket.resourceName}}</span>
                    </div>
                  </div>
                </div>

                <div ng-show="ticket.confirmed && !isInAttendance(ticket) && !isFinalized(ticket)">
                  <div class="status">
                    <div class="description">Confirmado</div>
                    <div class="where">Previsto para <strong>{{ticket.prevision | date: 'shortTime'}}</strong></div>
                  </div>
                </div>

                <div ng-show="!ticket.confirmed && !isInAttendance(ticket) && !isFinalized(ticket)">
                  <div class="status">
                    <div class="description">Agendado</div>
                    <div class="where">Aguardando confirmação</div>
                  </div>
                </div>

                <div ng-show="isFinalized(ticket)">
                  <div class="status">
                    <div class="description">{{'global.status.' + ticket.status.toLowerCase() | translate}}</div>
                    <div class="where">Finalizado</div>
                  </div>
                </div>

                <div class="action">
                  <button title="Reabrir" ng-disabled="!canReopenTicket(ticket)" ng-show="canReopenTicket(ticket)"
                          ng-click="actionOnTicket(session, ticket, 'reopen')"><i class="fa fa-repeat"></i></button>
                  <button title="Chamar" ng-disabled="!canCallTicket(ticket)"
                          ng-show="canCallTicket(ticket) || showCallAction(ticket)"
                          ng-click="actionOnTicket(session, ticket, 'call')"><i class="fa fa-bullhorn"></i></button>
                  <button title="Check-in" ng-disabled="!canCheckTicket(ticket)" ng-show="canCheckTicket(ticket)"
                          ng-click="actionOnTicket(session, ticket, 'check')"><i class="fa fa-map-marker"></i></button>
                  <button title="Confirmar" ng-disabled="!canConfirmTicket(ticket)" ng-show="canConfirmTicket(ticket)"
                          ng-click="actionOnTicket(session, ticket, 'confirm')"><i class="fa fa-check"></i></button>
                  <button title="Iniciar" ng-disabled="!canStartTicket(ticket)"
                          ng-click="actionOnTicket(session, ticket, 'start')"><i class="fa fa-sign-in"></i></button>
                  <button title="Finalizar" ng-disabled="!canCompleteTicket(ticket)"
                          ng-click="actionOnTicket(session, ticket, 'complete')"><i class="fa fa-sign-out"></i></button>
                  <button title="Cancelar" ng-disabled="!canCancelTicket(ticket)"
                          ng-click="actionOnTicket(session, ticket, 'cancel')"><i class="fa fa-times"></i></button>
                </div>
              </div>
            </div>

            <div ng-show="session.tickets.length>5">
              <button class="btn btn-block btn-white" ng-show="hasTickets(session) && !session.isAllShown"
                      ng-click="showAll(session)" ng-disabled="session.tickets.length < 6"><i
                class="fa fa-angle-down"></i>
                Ver todos
              </button>
              <button class="btn btn-block btn-white" ng-show="hasTickets(session) && session.isAllShown"
                      ng-click="showLess(session)"><i class="fa fa-angle-up"></i> Ver menos
              </button>
            </div>

            <div class="block-legend-v1 margin-bottom-0 text-center" ng-show="hasTickets(session)">
              <div class="item ticket-next">Próximo</div>
              <div class="item ticket-called">Chamado</div>
              <div class="item ticket-finalized">Concluído</div>
              <div class="item ticket-canceled">Cancelado</div>
              <div class="item ticket-checked">Checado</div>
              <div class="item ticket-confirmed">Confirmado</div>
              <div class="item ticket-scheduled">Agendado</div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
