<div class="print-only">
  <section class="ticket-details">
    <div class="ticket-details-action">
      <header class="ticket-details-heading">
        <h1>{{vm.ticket.provider.name}}</h1>
        <h2><i class="fa fa-map-marker"></i> {{vm.ticket.location.name}}</h2>
      </header>

      <div class="ticket-details-body">
        <div class="session">
          <div class="service">{{vm.ticket.service.name | capitalize}}</div>
          <div class="resource">{{vm.ticket.resource.name}}, {{vm.ticket.session.estimatedStart | date: 'shortTime'}} às {{vm.ticket.session.estimatedEnd | date: 'shortTime'}}</div>
        </div>

        <div class="code">{{vm.ticket.friendlyCode}}</div>
        <div ng-if="vm.ticket.isSpecial" class="priority"><i class="fa fa-wheelchair"></i>Preferencial</div>
        <div class="date">{{vm.ticket.session.estimatedStart | date: 'EEEE, d/M/y' | capitalize}}</div>

        <div ng-show="vm.ticket.prevision != null">
          <div class="forecast"><i class="fa fa-clock-o"></i> {{vm.ticket.prevision | date: 'shortTime'}} *</div>
          <div class="note">* A previsão de atendimento pode ser alterada sem prévio aviso</div>
        </div>
      </div>

      <div class="ticket-details-footer" ng-if="vm.ticket.checkinTime">
        Bilhete checado em {{vm.ticket.checkinTime | date: 'medium'}}
      </div>
    </div>
  </section>
</div>

<div class="no-print progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoadingTicket"></div>

<div class="no-print" ng-show="!vm.isLoadingTicket">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="vm.close()"><i class="pg-close fs-14"></i></button>
    <h2 class="m-b-0 p-b-0"><i class="fa fa-ticket"></i> <span class="semi-bold">{{vm.ticket.friendlyCode}}</span></h2>
    <h5 class="m-t-5 m-b-0 text-primary all-caps semi-bold">{{'global.status.'+ vm.ticket.status.toLowerCase() | translate}}</h5>

    <div class="btn-bar">
      <button class="btn btn-sm btn-link btn-primary" ng-click="vm.printTicket()"><i class="fa fa-print"></i> Imprimir</button>
    </div>
  </div>

  <div class="modal-body">
    <ul class="nav nav-tabs nav-tabs-simple">
      <li class="active"><a data-toggle="tab" pg-tab href="#ticketZoomDetails"><span>Detalhes</span></a></li>
      <li><a data-toggle="tab" pg-tab href="#ticketZoomActivity"><span>Histórico</span></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="ticketZoomDetails">
        <table class="table table-condensed table-small m-b-0">
          <tr>
            <td class="muted">Ações</td>
            <td>
              <strong ng-if="!vm.canConfirmTicket(vm.ticket) && !vm.canCancelTicket(vm.ticket) && !vm.canCheckTicket(vm.ticket)">Nenhuma ação disponível</strong>
              <button class="btn btn-xs btn-bordered btn-primary font-montserrat" ng-show="vm.canConfirmTicket(vm.ticket)"
               ng-click="vm.confirmTicket(vm.ticket)"><i class="fa fa-check"></i> Confirmar</button>
              <button class="btn btn-xs btn-bordered btn-primary font-montserrat" ng-show="vm.canCheckTicket(vm.ticket)"
                      ng-click="vm.checkTicket(vm.ticket)"><i class="fa fa-map-marker"></i> Check-in</button>
              <button class="btn btn-xs btn-bordered btn-primary font-montserrat" ng-show="vm.canCancelTicket(vm.ticket)"
              ng-click="vm.cancelTicket(vm.ticket)"><i class="fa fa-close"></i> Cancelar</button>
            </td>
          </tr>
          <tr>
            <td class="muted">Cliente</td>
            <td>
              <strong>{{vm.ticket.client.name}}</strong><br>
              {{vm.ticket.client.email}}
            </td>
          </tr>
          <tr>
            <td class="muted">Preferencial</td>
            <td>
              <div ng-if="vm.isTicketActive(vm.ticket)" class="radio radio-primary">
                <input id="special0" name="special" type="radio" ng-model="vm.ticket.isSpecial" ng-value="false" ng-change="vm.changePreference()">
                <label for="special0" class="margin-bottom-0">Não</label>
                <input id="special1" name="special" type="radio" ng-model="vm.ticket.isSpecial" ng-value="true" ng-change="vm.changePreference()">
                <label for="special1" class="margin-bottom-0">Sim</label>
              </div>
              <div ng-if="!vm.isTicketActive(vm.ticket)">
                {{vm.ticket.isSpecial ? 'Sim' : 'Não'}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="muted">Local</td>
            <td>
              <strong>{{vm.ticket.provider.name}}</strong> ({{vm.ticket.location.name}})<br>
              {{vm.ticket.location.address}}
            </td>
          </tr>
          <tr>
            <td class="muted">Serviço</td>
            <td>
              <strong>{{vm.ticket.service.name | capitalize}}</strong><br>
              {{vm.ticket.resource.name}}
            </td>
          </tr>
          <tr>
            <td class="muted">Data</td>
            <td>
              <strong>{{vm.ticket.session.estimatedStart | date:'EEEE' | capitalize}}</strong><br>
              {{vm.ticket.session.estimatedStart | date: 'longDate'}}<br>
            </td>
          </tr>
          <tr>
            <td class="muted">Horário</td>
            <td>{{vm.ticket.session.estimatedStart | date: 'shortTime'}} às {{vm.ticket.session.estimatedEnd | date: 'shortTime'}}</td>
          </tr>
          <tr>
            <td class="muted">Previsão</td>
            <td ng-show="vm.ticket.prevision != null"><strong>{{vm.ticket.prevision | date: 'shortTime'}}</strong></td>
            <td ng-show="vm.ticket.prevision == null"><strong>Aguardando confirmação.</strong></td>
          </tr>
        </table>
      </div>

      <div class="tab-pane fade" id="ticketZoomActivity">
        <table class="table table-condensed table-small m-b-0">
          <tr ng-repeat="activity in vm.ticket.activities">
            <td><strong>{{activity.time | date: 'shortTime'}}</strong></td>
            <td>{{activity.time | date: 'shortDate'}}</td>
            <td class="text-right"><span class="label">{{'global.status.'+ activity.name.toLowerCase() | translate}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
