<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix">
		<button class="close" ng-click="vm.closeModal()"><i class="pg-close fs-14"></i></button>
		<h3 ng-if="vm.isNewModal()">Nova sala</h3>
		<h3 ng-if="!vm.isNewModal()">Editar sala</h3>
	</div>

	<div class="modal-body">
		<form name="room" ng-submit="vm.save(vm.room)" novalidate>
			<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': room.name.$invalid && room.name.$touched}">
				<label>Nome</label>
				<input type="text" class="form-control" name="name" ng-model="vm.room.name" ng-init="vm.focus=true" focus-me="vm.focus" maxlength="40"
					required>
			</div>
			<div ng-if="room.name.$touched" ng-messages="room.name.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cons" ng-click="vm.closeModal()">Cancelar</button>
		<button class="btn btn-cons btn-primary" ng-click="vm.save(vm.room)" ng-disabled="room.name.$invalid">Salvar</button>
	</div>
</div>