<div class="modal-header clearfix">
  <button class="close" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
</div>

<div class="modal-body">
  <div class="block-message block-message-dialog block-message-warning">
    <h4>Deseja mesmo realizar a consulta?</h4>
    <p ng-show="vm.selectedSessionsQuantity === 1">Você possui {{vm.selectedSessionsQuantity}} sessão selecionada.</p>
    <p ng-show="vm.selectedSessionsQuantity > 1">Você possui {{vm.selectedSessionsQuantity}} sessões selecionadas.</p>
    <p>Se a consulta for realizada, a seleção será desfeita.</p>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-cons" ng-click="vm.cancel()">Cancelar</button>
  <button class="btn btn-cons btn-primary" ng-click="vm.close()">Confirmar</button>
</div>
