<div class="modal-header clearfix">
	<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
	<h3>Editar sessão</h3>
</div>

<div class="modal-body">
	<div ng-show="!vm.sessionsQuantity">
		<div pg-form-group class="form-group">
			<label>Serviços</label>
			<span class="label" ng-repeat="serviceProvision in vm.session.serviceConfig.services">
        {{serviceProvision.name}}</span>
		</div>

		<div pg-form-group class="form-group">
			<label>Atendentes</label>
			<span class="label" ng-repeat="attendant in vm.session.serviceConfig.attendants">{{attendant.name}}</span>
		</div>
	</div>
	<div ng-show="vm.sessionsQuantity">
		<p>{{vm.sessionsQuantity}} sessões serão afetadas e essa ação não poderá ser desfeita.</p>
	</div>


	<form name="session" novalidate>
		<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': session.estimatedStart.$invalid && (session.estimatedStart.$dirty || session.$submitted)}">
			<label for="estimatedStart">Inicio estimado</label>
			<input type="time" id="estimatedStart" name="estimatedStart" class="form-control" ng-model="vm.session.estimatedStartTime"
				ng-init="vm.focus=true" focus-me="vm.focus" required>
		</div>
		<div ng-if="session.estimatedStart.$invalid && (session.estimatedStart.$dirty || session.$submitted)" ng-messages="session.estimatedStart.$error">
			<span ng-messages-include="modules/core/errors/error-messages.html"></span>
		</div>

		<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': session.duration.$invalid && (session.duration.$dirty || session.$submitted)}">
			<label for="duration">Duration</label>
			<input type="time" class="form-control" id="duration" name="duration" ng-model="vm.session.duration" required>
		</div>
		<div ng-if="session.duration.$invalid && (session.duration.$dirty || session.$submitted)" ng-messages="session.duration.$error">
			<span ng-messages-include="modules/core/errors/error-messages.html"></span>
		</div>

		<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': session.capacity.$invalid && (session.capacity.$dirty || session.$submitted)}">
			<label for="capacity">Capacidade</label>
			<input type="number" class="form-control" id="capacity" name="capacity" min="1" ng-model="vm.session.capacity" required>
		</div>
		<div ng-if="session.capacity.$invalid && (session.capacity.$dirty || session.$submitted)" ng-messages="session.capacity.$error">
			<span ng-messages-include="modules/core/errors/error-messages.html"></span>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button class="btn btn-cons" data-dismiss="modal" ng-click="vm.cancel()" translate="global.modal.cancel">Cancelar</button>
	<button class="btn btn-cons btn-primary" ng-disabled="location.$invalid" ng-click="vm.confirm()" translate="global.modal.save">Salvar</button>
</div>