<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-if="!vm.isLoading">
  <div class="modal-header clearfix">
    <button class="close" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
  </div>

  <div class="modal-body">
    <div class="block-message block-message-dialog block-message-warning">
      <div ng-show="vm.session">
        <h4>Deseja mesmo remover a sessão do serviço {{vm.session.service}}?</h4>
        <p>Essa ação não poderá ser desfeita!</p>
      </div>
      <div ng-show="vm.sessionsQuantity">
        <h4>Deseja mesmo remover todas as sessões selecionadas?</h4>
        <p>{{vm.sessionsQuantity}} sessões serão removidas e essa ação não poderá ser desfeita.</p>
        <h4></h4>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-cons" translate="global.modal.cancel" ng-click="vm.cancel()">Cancelar</button>
    <button class="btn btn-cons btn-primary" translate="global.modal.confirm" ng-click="vm.confirm()">Confirmar</button>
  </div>

</div>
