<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' |
    translate}}</a></li>
  <li><a href="javascript:;" class="active">{{'global.contexts.sessions.sessions' | translate}}</a></li>
</ul>

<div class="container-fluid container-fixed-lg main-content">

  <div class="boxfilter">
    <div class="boxfilter-filters">
      <div ng-if="vm.serviceConfigs.length === 0 && !vm.isLoadingServices">
        <div class="block-message block-message-empty width-full">
          <h4>Nenhuma configuração de atendimento</h4>

          <p>
            Crie uma nova configuração de atendimento clicando em "Nova configuração"
            <button class="btn btn-primary" ng-click="vm.addServiceConfig()">
              <i class="pg-plus_circle"></i> Nova configuração
            </button>
          </p>
        </div>
      </div>

      <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingServices"></div>

      <div ng-if="vm.serviceConfigs.length > 0 && !vm.isLoadingServices">
        <div class="boxfilter-filters-header">
          <button class="btn btn-primary" ng-click="vm.addServiceConfig()">
            <i class="pg-plus_circle"></i> Nova configuração
          </button>
          <div class="input-group transparent">
            <span class="input-group-addon"><i class="pg-search"></i></span>
            <input type="text" class="form-control input-lg" placeholder="Filtrar configuração"
                   ng-model="vm.searchServiceConfig">
          </div>
        </div>

        <div class="boxfilter-filters-body">
          <small class="color-base text-center display-block" ng-if="vm.serviceConfigsFilter.length === 0">Nenhuma
            configuração selecionada
          </small>
          <small class="color-base text-center display-block" ng-if="vm.serviceConfigsFilter.length > 0">
            {{vm.serviceConfigsFilter.length}} configurações selecionadas <span class="pointer"
                                                                                ng-click="vm.deselectAllServiceConfigs()">(Deselecionar todas)</span>
          </small>
          <div ng-if="vm.filteredServiceConfigs.length === 0">
            <div class="block-message block-message-empty">
              <h4>Ops! Nada encontrado...</h4>

              <p>
                Sua pesquisa não encontrou nenhuma configuração
              </p>
            </div>
          </div>
          <div class="item checkbox check-primary"
               ng-repeat="serviceConfig in vm.filteredServiceConfigs = (vm.serviceConfigs | filter: vm.searchServiceConfig | orderBy: 'name')"
               ng-class="{'selected-item': serviceConfig.isSelected}"
               ng-mouseleave="isOpen = false">
            <input id="checkbox{{serviceConfig.id}}" type="checkbox" ng-model="serviceConfig.isSelected"
                   ng-change="vm.applyServiceConfigFilter(serviceConfig)">
            <label class="v-align-middle service-config-name" for="checkbox{{serviceConfig.id}}" title="{{serviceConfig.name}}">{{serviceConfig.name}}</label>
            <div class="options-button" uib-dropdown uib-dropdown-toggle is-open="isOpen">
              <ul class="dropdown-menu">
                <li class="padding-0" role="menuitem"><a ui-sref="app.provider.edit-service-config({providerSlug: vm.provider.slug, serviceConfigId: serviceConfig.id})"><i class="fa fa-pencil"></i> Editar</a></li>
                <li role="menuitem" ng-hide="true"><a ng-click="vm.removeServiceConfig(serviceConfig)"><i class="fa fa-trash"></i> Remover</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="boxfilter-content">
      <div class="box-content">
        <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingServices"></div>

        <div ng-show="!vm.isLoadingServices">
          <div class="block-action-top">
            <button class="btn btn-primary" ui-sref="app.provider.session-add({providerSlug: vm.provider.slug})">
              <i class="pg-plus_circle"></i> Nova sessão
            </button>
          </div>

          <div class="block-step min-height-0">
            <h5 class="block-heading">Busca</h5>
            <div class="row">
              <div class="col-md-4 col-xs-12 m-b-10">
                <div class="form-group">
                  <label>Serviço</label>
                  <ui-select ng-model="vm.selectedService">
                    <ui-select-match placeholder="Selecionar serviço">{{$select.selected.name | capitalize}}
                    </ui-select-match>
                    <ui-select-choices repeat="service.id as service in vm.services | filter: $select.search">
                      <span ng-bind-html="service.name | highlight: $select.search"></span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-md-4 col-xs-6 m-b-10">
                <div class="form-group">
                  <label>Data inicial</label>
                  <div class="datepicker-custom">
                    <input id="startDate" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                           ng-model="vm.startDate" is-open="vm.startDateOpened"
                           max-date="vm.endDate" show-button-bar="false" close-on-date-selection="true"
                           ng-focus="vm.openStartDatepicker()"
                           show-weeks="false" onkeydown="return false" ng-required="true">
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-6 m-b-10">
                <div class="form-group">
                  <label>Data final</label>
                  <div class="datepicker-custom">
                    <input id="endDate" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                           ng-model="vm.endDate"
                           is-open="vm.endDateOpened"
                           min-date="vm.startDate" show-button-bar="false" close-on-date-selection="true"
                           ng-focus="vm.openEndDatepicker()"
                           show-weeks="false" onkeydown="return false" ng-required="true">
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="vm.showAllFilters">
              <div class="row">
                <div class="col-md-4 col-xs-12 m-b-10">
                  <div class="form-group">
                    <label>Recurso</label>
                    <ui-select ng-model="vm.selectedResource">
                      <ui-select-match placeholder="Selecionar recurso">{{$select.selected.name | capitalize}}
                      </ui-select-match>
                      <ui-select-choices repeat="resource.id as resource in vm.resources | filter: $select.search">
                        <span ng-bind-html="resource.name | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12 m-b-10">
                  <div class="form-group">
                    <label>Sala</label>
                    <ui-select ng-model="vm.selectedRoom">
                      <ui-select-match placeholder="Selecionar sala">{{$select.selected.name | capitalize}}
                      </ui-select-match>
                      <ui-select-choices repeat="room.id as room in vm.rooms | filter: $select.search">
                        <span ng-bind-html="room.name | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-center">
              <a ng-show="!vm.showAllFilters" ng-click="vm.changeAllFiltersVisibility(true)"><i
                class="fa fa-angle-down"></i>&nbspBusca
                avançada</a>
              <a ng-show="vm.showAllFilters" ng-click="vm.changeAllFiltersVisibility(false)"><i
                class="fa fa-angle-up"></i>&nbspBusca
                básica</a>
            </div>

            <div class="row m-t-10">
              <div class="col-xs-12 col-md-2 col-md-offset-5 text-center">
                <button class="btn btn-primary btn-block" ng-click="vm.searchSessions(vm.location.id)">Buscar</button>
              </div>
            </div>
          </div>

          <div class="block-separate block-separate-top">
            <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingSessions"></div>

            <div ng-show="!vm.isLoadingSessions">
              <div class="panel panel-transparent">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="panel-title">
                        <span>{{vm.totalSessions}} sessões</span>
                      </div>
                    </div>
                    <div class="col-sm-8" ng-show="false && vm.sessions.length > 0">
                      <div class="panel-toolbar pull-right">
                        <div class="pull-left text-center">
                          <span>{{vm.selectedSessionsQuantity}} sessões selecionadas de um total de {{vm.totalSessions}}</span><br>
                          <a href="javascript:;" ng-if="!vm.allSessionsSelected" ng-click="vm.selectAllSessions()">
                            <small class="color-base">Selecionar todas as {{vm.totalSessions}} sessões</small>
                          </a>
                          <a href="javascript:;" ng-if="vm.allSessionsSelected" ng-click="vm.deselectAllSessions()">
                            <small class="color-base">Deselecionar todas as sessões</small>
                          </a>
                        </div>
                        <div class="pull-left m-l-10">
                          <div class="btn-group dropdown-default" pg-dropdown>
                            <button class="btn btn-default dropdown-toggle text-center" data-toggle="dropdown"
                                    ng-disabled="vm.selectedSessionsQuantity <= 1">
                              <i class="fa fa-cog"></i>
                              <span>Ações em grupo</span>
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a href="javascript:;" ng-click="vm.bulkEditSessions()">Editar sessões</a></li>
                              <li><a href="javascript:;" ng-click="vm.bulkRemoveSessions()">Remover sessões</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="block-message block-message-empty" ng-show="vm.sessions.length === 0">
                  <h4>Ops! Nenhuma sessão disponível...</h4>

                  <p>Nenhuma sessão foi encontrada na sua pesquisa</p>
                  <button class="btn btn-primary" ui-sref="app.provider.session-add({providerSlug: vm.provider.slug})">
                    <i class="pg-plus_circle"></i> Gerar sessões
                  </button>
                </div>

                <div class="panel-body" ng-show="vm.sessions.length > 0">
                  <div class="panel panel-default panel-live" ng-repeat="dateGroup in vm.dateGroups">
                    <div class="panel-heading">
                      <div class="panel-title">
                        {{dateGroup.date | date: "d 'de' MMMM" | capitalize}}
                      </div>
                    </div>
                    <div class="panel-body">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                          <tr>
                            <th>Configuração de atendimento</th>
                            <th>Horário</th>
                            <th>Status</th>
                            <th>Bilhetes</th>
                            <th></th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr ng-class="{'selected': session.isSelected}" ng-repeat="session in dateGroup.sessions">
                            <td ng-show="false">
                              <div class="checkbox check-primary">
                                <input id="itemCheck{{session.id}}" type="checkbox" ng-model="session.isSelected"
                                       ng-click="vm.checkSession(session)">
                                <label for="itemCheck{{session.id}}"></label>
                              </div>
                            </td>
                            <td class="v-align-middle">
                              <a href="javascript:;" ng-click="vm.editSession(session)"><strong>{{session.serviceConfig.name}}</strong></a>
                            </td>
                            <td>{{session.estimatedStartTime | date: 'shortTime'}} - {{session.estimatedEndTime | date: 'shortTime'}}</td>
                            <td>{{'global.session-status.' + session.status.toLowerCase() | translate | capitalize}}</td>
                            <td>{{session.totalCustomerServices}}/{{session.capacity}}</td>
                            <td class="v-align-middle toggle-hover nowrap text-right">
                              <button class="btn btn-short" title="Editar" ng-click="vm.editSession(session)"><i
                                class="fa fa-pencil"></i>
                              </button>
                              <button class="btn btn-short" title="Remover" ng-click="vm.removeSession(session)"><i
                                class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <span class="m-r-10 muted">Itens por página:</span>
                      <select class="cs-select cs-skin-slide" cs-select="" ng-model="vm.sessionsLimit">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                      </select>
                    </div>

                    <div class="col-sm-6">
                      <ul uib-pagination class="pagination" max-size="8" boundary-link-numbers="true"
                                  items-per-page="vm.sessionsLimit" ng-model="vm.currentPage" direction-links="false"
                                  total-items="vm.totalSessions"></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
