<div class="default-overlay" data-nav="toggle" ng-controller="NavController">
  <nav class="default-nav">

    <!-- Top -->
    <div class="top">
      <img src="assets/images/custom/logo_2x.png" alt="Logo">
      <button class="close" data-nav="toggle"></button>
    </div>

    <!-- Menu -->
    <ul class="menu" ng-if="hasCurrentProvider()">
      <li class="search">
        <a href="javascript:;" ng-click="openSearch()">
          <i class="pg-search"></i>
          Buscar bilhete
        </a>
      </li>
      <li ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.dashboard({providerSlug: currentProvider.slug})">
          <i class="fa fa-bar-chart"></i>
          Início
        </a>
      </li>
      <li permission="['CreateBusinessUnit','UpdateBusinessUnit','DeleteBusinessUnit']" ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.locations({providerSlug: currentProvider.slug})">
          <i class="fa fa-map-marker"></i>
          Unidades
        </a>
      </li>
      <li permission="['member']" ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.users({providerSlug: currentProvider.slug})">
          <i class="fa fa-at"></i>
          Usuários
        </a>
      </li>
      <li permission="['service']" ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.services({providerSlug: currentProvider.slug})">
          <i class="fa fa-wrench"></i>
          Serviços
        </a>
      </li>
      <li permission="['session']" ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.sessions({providerSlug: currentProvider.slug})">
          <i class="fa fa-clock-o"></i>
          Sessões
        </a>
      </li>
      <li permission="['panel']" ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.panels({providerSlug: currentProvider.slug})">
          <i class="fa fa-eye"></i>
          Painéis
        </a>
      </li>
      <li permission="['terminal']" ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.terminals({providerSlug: currentProvider.slug})">
          <i class="fa pg-desktop"></i>
          Terminais
        </a>
      </li>
      <li permission="['ticketing']" ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.schedule({providerSlug: currentProvider.slug})">
          <i class="fa fa-calendar"></i>
          Agendamento
        </a>
      </li>
      <li permission="['ticketing']" ui-sref-active="on">
        <a href="javascript:;" ng-click="goToAttendanceRoute()">
          <i class="fa fa-bullhorn"></i>
          Atendimento
        </a>
      </li>
      <li permission="['ticketing']" ui-sref-active="on">
        <a href="javascript:;" ng-click="goToBasicAttendance()">
          <i class="fa fa-bullhorn"></i>
          Atendimento Básico
        </a>
      </li>
      <li permission="['contact']" ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.clients({providerSlug: currentProvider.slug})">
          <i class="fa fa-users"></i>
          Clientes
        </a>
      </li>
      <li permission="['contact']" ui-sref-active="on">
        <a href="javascript:;" ui-sref="app.provider.reports({providerSlug: currentProvider.slug})">
          <i class="fa fa-book"></i>
          Relatórios
        </a>
      </li>
    </ul>

    <!-- Empty state -->
    <div class="block-message block-message-empty" ng-if="!hasCurrentProvider()">
      <p>Selecione uma empresa para usar o menu</p>
      <button class="btn btn-primary" data-nav="toggle" data-scroll-top ui-sref="app.account.providers">Selecionar empresa</button>
    </div>
  </nav>
</div>
