body
  overflow-y: scroll
  background: $color-lighter
  color: $color-dark
  text-rendering: optimizeLegibility

a
  color: map-get($color-custom, 1)

  &:hover,
  &:active,
  &:focus
    color: map-get($color-custom, 2)

button
  cursor: pointer
