%clearfix
  &:after
    content: ''
    display: table
    clear: both

%centered-vertical
  display: flex
  flex-direction: column
  justify-content: center

%icon
  display: inline-block
  transform: translate(0,0)
  font: normal normal normal 14px/1 map-get($font-icon, 1)
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: auto

%input-text
  +border-radius($main-border-radius)
  +box-shadow(none)
  +transition(background 0.2s linear 0s)

  width: 100%
  height: $input-height
  min-height: $input-height
  padding: 9px 12px
  border: 1px solid rgba(0, 0, 0, 0.07)
  outline: 0
  background:
    color: #fff
    image: none
  color: #2c2c2c
  vertical-align: middle
  line-height: normal
  font:
    weight: normal
    size: 14px
    family: $font-system

  &:focus
    border-color: rgba(0, 0, 0, 0.1)
    background-color: #f0f0f0
