<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
  <li><a ui-sref="app.provider.reports({providerSlug: vm.provider.slug})" class="active">Relatórios</a></li>
</ul>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="no-print block-step min-height-0">
    <h5 class="block-heading">Busca</h5>
    <div class="row">
      <div class="col-md-4 m-b-10">
        <div class="form-group">
          <label>Data inicial</label>
          <div class="datepicker-custom">
            <input id="startDate" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.startDate" is-open="vm.startDateOpened"
              max-date="vm.endDate" show-button-bar="false" close-on-date-selection="true" ng-focus="vm.openStartDatepicker()"
              show-weeks="false" onkeydown="return false" ng-required="true">
          </div>
        </div>
      </div>
      <div class="col-md-4 m-b-10">
        <div class="form-group">
          <label>Data final</label>
          <div class="datepicker-custom">
            <input id="endDate" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="vm.endDate" is-open="vm.endDateOpened"
              min-date="vm.startDate" show-button-bar="false" close-on-date-selection="true" ng-focus="vm.openEndDatepicker()"
              show-weeks="false" onkeydown="return false" ng-required="true">
          </div>
        </div>
      </div>
    </div>

    <div class="row m-t-10">
      <div class="col-xs-12 col-md-2 col-md-offset-5 text-center">
        <button class="btn btn-primary btn-block" ng-click="vm.getAttendanceReport(vm.location.id)">Buscar</button>
      </div>
    </div>
  </div>

  <div class="report-table block-separate block-separate-top">
    <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

    <div ng-show="!vm.isLoading">
      <div class="panel panel-default panel-live">
        <div class="panel-heading separate">
          <div class="row">
            <div class="col-sm-8">
              <div class="panel-title">
                <span>Relatório de atendimento</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-body">
          <div class="block-message block-message-empty" ng-show="vm.attendanceReport.length === 0">
            <h4>Ops! Nenhum serviço disponível...</h4>

            <p>Ainda não há serviços disponíveis para esse local.</p>
            <div class="row">
              <a class="btn btn-primary" ui-sref="app.provider.services({providerSlug: currentProvider.slug})">
                <i class="pg-plus_circle"></i> Novo serviço
              </a>
            </div>
          </div>
          <div ng-show="vm.attendanceReport.length > 0">
            <div class="table-responsive">
              <div class="block-message block-message-empty" ng-show="vm.attendanceReport.length == 0">
                <h4>Ops! Nada encontrado...</h4>
                <p>
                  Sua pesquisa não encontrou nenhum resultado correspondente.
                  <br> Você pode pesquisar pelo nome, endereço, cep e cidade da localização.
                </p>
              </div>
              <table class="table table-hover table-report" print-table="vm.attendanceReport" ng-show="vm.attendanceReport.length > 0">
                <thead>
                  <tr>
                    <th class="order" ng-click="vm.setOrder('service.name')" ng-class="{ 'order-asc': vm.order=='service.name', 'order-desc': vm.order=='-service.name' }">Serviço</th>
                    <th class="order text-center" ng-click="vm.setOrder('tickets.total')" ng-class="{ 'order-asc': vm.order=='tickets.total', 'order-desc': vm.order=='-tickets.total' }">Total de bilhetes</th>
                    <th class="order text-center" ng-click="vm.setOrder('tickets.attended')" ng-class="{ 'order-asc': vm.order=='tickets.attended', 'order-desc': vm.order=='-tickets.attended' }">Bilhetes atendidos</th>
                    <th class="order text-center" ng-click="vm.setOrder('tickets.canceled')" ng-class="{ 'order-asc': vm.order=='tickets.canceled', 'order-desc': vm.order=='-tickets.canceled' }">Bilhetes cancelados</th>
                    <th class="order text-center" ng-click="vm.setOrder('tickets.notAttended')" ng-class="{ 'order-asc': vm.order=='tickets.notAttended', 'order-desc': vm.order=='-tickets.notAttended' }">Bilhetes não atendidos</th>
                    <th class="order text-center" ng-click="vm.setOrder('feedback.total')" ng-class="{ 'order-asc': vm.order=='feedback.total', 'order-desc': vm.order=='-feedback.total' }">Total de avaliações</th>
                    <th class="order text-center" ng-click="vm.setOrder('feedback.score')" ng-class="{ 'order-asc': vm.order=='feedback.score', 'order-desc': vm.order=='-feedback.score' }">Média de avaliações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="attendance in vm.attendanceReport | orderBy: vm.order">
                    <td>
                      <span><strong>{{attendance.service.name}}</strong></span>
                    </td>
                    <td class="text-center">
                      <span>{{attendance.tickets.total}}</span>
                    </td>
                    <td class="text-center">
                      <span>{{attendance.tickets.attended}}</span>
                    </td>
                    <td class="text-center">
                      <span>{{attendance.tickets.canceled}}</span>
                    </td>
                    <td class="text-center">
                      <span>{{attendance.tickets.notAttended}}</span>
                    </td>
                    <td class="text-center">
                      <span>{{attendance.feedback.total}}</span>
                    </td>
                    <td class="text-center">
                      <span ng-if="attendance.feedback.score">{{attendance.feedback.score}}</span>
                      <span ng-if="!attendance.feedback.score">Sem avaliações</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>