<!-- Header -->
<div ng-include="'layouts/header/header.html'" include-replace></div>

<!-- Content -->
<div class="default-content" ui-view></div>

<!-- Footer -->
<div ng-include="'layouts/footer/footer.html'" include-replace></div>

<!-- Nav -->
<div ng-include="'layouts/nav/nav.html'" include-replace></div>

<!-- Location selector -->
<div ng-include="'layouts/location-selector/location-selector.html'" include-replace></div>

<!-- Search -->
<div ng-include="'layouts/search/search.html'" include-replace></div>