<div class="col-lg-8 col-lg-offset-2 full-height sm-p-t-30">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>
