<div id="quickviewProviders" class="quickview-wrapper" ng-class="{open: vm.toggleSelector}" pg-quickview ng-controller="LocationSelectorController as vm">
  <ul class="nav nav-tabs">
    <li class="active"><a href="javascript:;"><i class="fa fa-map-marker m-r-5"></i> Selecione uma unidade</a></li>
  </ul>

  <a class="btn-link quickview-toggle" ng-click="vm.toggleSelector = !vm.toggleSelector">
    <i class="pg-close"></i>
  </a>

  <div class="tab-content">
    <div class="tab-pane fade in active no-padding">
      <div class="view-port clearfix">
        <div class="view bg-white">
          <div class="list-view boreded no-top-border">
            <div class="list-view-group-container">
              <div class="list-view-group-header text-uppercase">{{vm.currentProvider.name}}</div>
              <ul>
                <li class="chat-user-list clearfix" ng-class="{'item-selected': vm.isCurrentLocation(location)}" ng-repeat="location in vm.locations">
                  <a href="javascript:;" ng-click="vm.changeAppLocation(location)">
                    <span class="col-xs-height col-middle">
                      <div class="marker"></div>
                    </span>
                    <p class="p-l-10 col-xs-height col-middle col-xs-12">
                      <span class="text-master">{{location.name}}</span>
                      <span class="block text-master hint-text fs-12 text-small">{{location.address}}</span>
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
