<div class="login-wrapper" id="login">
  <div class="login-container bg-white" id="login-error">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <h3>Filazero</h3>
      <p class="p-t-35">Entre em sua conta.</p>
      <!-- START Login Form -->
      <form id="form-personal" name="personal" class="p-t-15" role="form" novalidate>
        <div class="row">
          <div class="col-sm-12">
            <div pg-form-group class="form-group form-group-default required"
                 ng-class="{ 'has-error' : personal.email.$invalid && personal.$submitted }">
              <label>E-mail</label>
              <input type="email" id="email" class="form-control" name="email" placeholder="Digite seu email."
                     ng-model="vm.loginForm.userName" required>
            </div>
            <label class="error" for="email" ng-show="personal.email.$invalid && personal.$submitted">Email
              inválido!</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div pg-form-group class="form-group form-group-default required"
                 ng-class="{ 'has-error' : personal.password.$invalid && personal.$submitted }">
              <label>Senha</label>
              <input type="password" id="password" class="form-control" name="password" placeholder="Mínimo de 6 caracteres."
                     ng-model="vm.loginForm.password" required>
            </div>
            <label class="error" for="password" ng-show="personal.password.$invalid && personal.$submitted">Este
              campo é obrigatório!</label>
            <label class="error" for="password" ng-show="personal.password.$error.minlength && personal.$submitted">Senha deve conter no
              mínimo 4 carateres!</label>
          </div>
        </div>
        <p class="pull-right">
          <a ng-href="{{vm.siteURL}}app/account/forgot-password" target="_blank">Esqueceu a senha?</a>
        </p>

        <div class="row">
          <div class="col-md-6 no-padding">
            <div class="checkbox ">
              <input type="checkbox" value="1" id="checkbox1">
              <label for="checkbox1">Mantenha-me conectado.</label>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-cons m-t-10"
                ng-click="vm.login()"
                ladda="vm.isRunningLogin" type="submit">Entrar</button>
        <a class="btn btn-default btn-lg btn-cons m-t-10" ui-sref="quickstart">
          Nova Conta
        </a>
      </form>

      <br>

      <form>
        <button class="btn btn-block btn-info " type="button" ng-click="vm.authExternalProvider('Facebook')">
          <span class="pull-left"><i class="fa fa-facebook"></i></span>
          <span class="bold">Login com Facebook</span>
        </button>

        <button class="btn btn-block btn-danger" type="button" ng-click="vm.authExternalProvider('Google')">
          <span class="pull-left"><i class="fa fa-google-plus"></i></span>
          <span class="bold">Login com Google+</span>
        </button>
      </form>
      <!--END Login Form-->
    </div>
  </div>
</div>
