<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header clearfix">
      <h3>Entrar</h3>
      <div>
        <i class="fa fa-exclamation-triangle"></i> Usuário necessita se autenticar para aceitar convite.
      </div>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <!-- <div class="alert alert-error"><strong>Ops!</strong> Algo deu errado... :(</div> -->

              <form>
                <div class="form-group form-group-default">
                  <label for="fieldEmail">Email</label>
                  <input id="fieldEmail" type="email" ng-model="vm.loginForm.userName" class="form-control">
                </div>

                <div class="form-group form-group-default">
                  <label for="fieldPassword">Senha</label>
                  <input id="fieldPassword" type="password" ng-model="vm.loginForm.password" class="form-control">
                </div>

                <div class="block-action">
                  <button type="submit" class="btn btn-lg btn-block btn-primary" ng-click="vm.login()"
                          ladda="isRunningLogin">Entrar
                  </button>
                </div>

                <div class="p-t-20">
                  <h4 class="blck-title text-center">Entre com sua conta social</h4>

                  <div class="row">
                    <div class="col-sm-6 sm-p-b-10">
                      <button type="submit" class="btn btn-lg btn-block btn-info"
                              ng-click="vm.authExternalProvider('Facebook')"><i class="fa fa-facebook"></i></button>
                    </div>

                    <div class="col-sm-6">
                      <button type="submit" class="btn btn-lg btn-block btn-danger"
                              ng-click="vm.authExternalProvider('Google')"><i class="fa fa-google-plus"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
