<ul class="breadcrumb">
  <li><a ui-sref="app.account.provider" class="active">{{'global.contexts.my-account' | translate}}</a></li>
</ul>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="container">
    <div class="boxtab">
      <div class="boxtab-nav">
        <ul>
          <li ui-sref-active="active">
            <a href="javascript:;" data-scroll-top ui-sref="app.account.providers"><i class="fa fa-home"></i> Empresas</a>
          </li>
          <li ui-sref-active="active">
            <a href="javascript:;" data-scroll-top ui-sref="app.account.profile"><i class="fa fa-pencil"></i> Editar dados</a>
          </li>
          <li ui-sref-active="active">
            <a href="javascript:;" data-scroll-top ui-sref="app.account.password"><i class="fa fa-lock"></i> Mudar senha</a>
          </li>
        </ul>
      </div>

      <div class="boxtab-content">
        <div class="tab-content">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>
