<ul class="breadcrumb">
  <li><a ui-sref="app.provider.dashboard({providerSlug: vm.provider.slug})">{{'global.contexts.dashboard' | translate}}</a></li>
  <li><a ui-sref="app.provider.panels({providerSlug: vm.provider.slug})" class="active" translate="manager.panels.breadcrumb.panels">painéis</a></li>
</ul>

<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

  <div ng-show="!vm.isLoading">
    <div class="block-action-top">
      <button class="btn btn-primary" ng-click="vm.addPanel()"><i class="pg-plus_circle"></i> Novo Painel</button>
    </div>

    <div class="input-group transparent">
      <span class="input-group-addon"><i class="pg-search"></i></span>
      <input type="text" class="form-control input-lg" placeholder="Pesquisar painéis" ng-model="vm.searchPanels" ng-disabled="vm.panelsList.length === 0">
    </div>

    <br>

    <div class="panel panel-default panel-live">
      <div class="panel-heading separate">
        <div class="row">
          <div class="col-sm-8">
            <div class="panel-title">
              <span ng-show="vm.filteredPanels.length == vm.panelsList.length">{{vm.filteredPanels.length}} painéis</span>
              <span ng-show="vm.filteredPanels.length < vm.panelsList.length">Mostrando {{vm.filteredPanels.length}} de {{vm.panelsList.length}} painéis</span>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="block-message block-message-empty" ng-show="vm.panelsList.length === 0">
          <h4>Ops! Nenhum painel disponível...</h4>

          <p>Ainda não há painéis disponíveis para esse local.</p>
          <div class="row">
            <button class="btn btn-primary" ng-click="vm.addPanel()">
              <i class="pg-plus_circle"></i> Novo painel
            </button>
          </div>
        </div>
        <div ng-show="vm.panelsList.length > 0">
          <div class="table-responsive">
            <div class="block-message block-message-empty" ng-show="vm.filteredPanels.length == 0">
              <h4>Ops! Nada encontrado...</h4>
              <p>
                Sua pesquisa não encontrou nenhum resultado correspondente.
                <br> Você pode pesquisar pelo nome, endereço, cep e cidade da localização.
              </p>
            </div>
            <table class="table table-hover" ng-show="vm.filteredPanels.length > 0">
              <thead>
                <tr>
                  <th class="order" ng-click="vm.setOrder('name')" ng-class="{ 'order-asc': vm.order=='name', 'order-desc': vm.order=='-name' }">Nome</th>
                  <th>Configurações de atendimento</th>
                  <th class="order" ng-click="vm.setOrder('transitionTime')" ng-class="{ 'order-asc': vm.order=='transitionTime', 'order-desc': vm.order=='-transitionTime' }">Tempo de transição</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="panel in vm.filteredPanels = (vm.panelsList | filter: vm.searchPanels | orderBy:vm.order) | startFrom: vm.itensLimit*(vm.currentPage-1) | limitTo:vm.itensLimit">
                  <td class="v-align-middle">
                    <a href="javascript:;" ng-click="vm.editPanel(panel.id)"><strong>{{panel.name}}</strong></a>
                  </td>
                  <td class="v-align-middle">
                    <span class="label" ng-repeat="service in panel.serviceConfigs">{{service.name | capitalize}}</span>
                  </td>
                  <td>
                    <span ng-if="panel.serviceConfigs.length > 1">{{panel.transitionTime}} segundos</span>
                  </td>
                  <td class="v-align-middle toggle-hover nowrap text-right">
                    <a class="btn btn-short" title="{{ 'manager.panels.panels.actions.preview' | translate }}" ui-sref="panel({providerSlug: vm.provider.slug, locationId: vm.location.id, panelId: panel.id})"
                    target="_blank"><i class="fa fa-eye"></i></a>
                    <button class="btn btn-short" title="Editar" ng-click="vm.editPanel(panel.id)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-short" title="Remover" ng-click="vm.removePanel(panel)"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <span class="m-r-10 muted">Itens por página:</span>
              <select class="cs-select cs-skin-slide" cs-select="" ng-model="vm.itensLimit">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="20">25</option>
                <option value="50">50</option>
              </select>
            </div>

            <div class="col-sm-6" ng-show="vm.panelsList > vm.itensLimit">
              <ul uib-pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredPanels.length"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
