<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix">
		<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
		<h3 ng-show="!vm.isEditing()">Novo painel</h3>
		<h3 ng-show="vm.isEditing()">Editar painel</h3>
	</div>

	<div class="modal-body">
		<form name="panel" novalidate>
			<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': panel.name.$invalid && panel.name.$touched}">
				<label translate="global.form.name" for="name">Nome</label>
				<input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="40" ng-model="vm.panel.name" ng-init="vm.focus=true"
					focus-me="vm.focus" required>
			</div>
			<div ng-if="panel.name.$touched" ng-messages="panel.name.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

			<div pg-form-group class="form-group form-group-default form-group-default-select required" ng-class="{'has-error': vm.panel.serviceConfigs.length === 0 && panel.serviceConfigs.$touched}">
				<label>Configurações de atendimento</label>
				<ui-select multiple ng-model="vm.panel.serviceConfigs" name="serviceConfigs" ng-change="vm.serviceSelected()">
					<ui-select-match>{{$item.name | capitalize}}</ui-select-match>
					<ui-select-choices repeat="service in vm.serviceConfigs | filter: $select.search" ui-disable-choice="vm.serviceAlreadySelected(service)">
						<div ng-bind-html="service.name | highlight: $select.search | capitalize"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<label class="error" ng-if="panel.serviceConfigs.$touched && vm.panel.serviceConfigs.length === 0">Ao menos uma configuração de atendimento deve ser selecionada</label>

			<div pg-form-group class="form-group form-group-default has-overflow">
				<label for="time">Tempo de transição entre as configurações
          <i class="fa fa-question-circle text-complete m-l-5"
             uib-popover="Os atendimentos de cada configuração de atendimento selecionada serão exibidos durante o tempo
             definido. Exemplo: a cada 10 seg o painel muda a lista de atendimentos que está sendo exibida."
             popover-trigger="'mouseenter'"></i>
        </label>
				<div inv-input-range range-value="vm.panel.transitionTime" range-disabled="!vm.isMultipleServiceConfig">
					<input id="time" name="time" type="range" min="10" max="60" ng-model="vm.panel.transitionTime" step="1" ng-model-options="{debounce:{'default':700}}"
						ng-disabled="!vm.isMultipleServiceConfig">
					<output></output> segundos
				</div>
			</div>

			<div class="form-group form-group-default has-overflow">
				<label>Configurações de exibição</label>

				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th></th>
								<th>Listagem</th>
								<th>Chamada</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Nome do Cliente</td>
								<td class="v-align-middle">
									<div class="checkbox check-primary">
										<input id="showCustomerOnListing" ng-model="vm.panel.showCustomerOnListing" type="checkbox" />
										<label for="showCustomerOnListing"></label>
									</div>
								</td>
								<td>
									<div class="checkbox check-primary">
										<input id="showCustomerOnCall" ng-model="vm.panel.showCustomerOnCall" type="checkbox" />
										<label for="showCustomerOnCall"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td>Serviço</td>
								<td>
									<div class="checkbox check-primary">
										<input id="showServiceOnListing" ng-model="vm.panel.showServiceOnListing" type="checkbox" />
										<label for="showServiceOnListing"></label>
									</div>
								</td>
								<td>
									<div class="checkbox check-primary">
										<input id="showServiceOnCall" ng-model="vm.panel.showServiceOnCall" type="checkbox" />
										<label for="showServiceOnCall"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td>Sala</td>
								<td>
									<div class="checkbox check-primary">
										<input id="showRoomOnListing" ng-model="vm.panel.showRoomOnListing" type="checkbox" />
										<label for="showRoomOnListing"></label>
									</div>
								</td>
								<td>
									<div class="checkbox check-primary">
										<input id="showRoomOnCall" ng-model="vm.panel.showRoomOnCall" type="checkbox" />
										<label for="showRoomOnCall"></label>
									</div>
								</td>
							</tr>
							<tr>
								<td>Atendente</td>
								<td>
									<div class="checkbox check-primary">
										<input id="showAttendantOnListing" ng-model="vm.panel.showAttendantOnListing" type="checkbox" />
										<label for="showAttendantOnListing"></label>
									</div>
								</td>
								<td>
									<div class="checkbox check-primary">
										<input id="showAttendantOnCall" ng-model="vm.panel.showAttendantOnCall" type="checkbox" />
										<label for="showAttendantOnCall"></label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cons" data-dismiss="modal" ng-click="vm.cancel()" translate="global.modal.cancel">Cancelar</button>
		<button class="btn btn-cons btn-primary" ng-disabled="panel.$invalid || vm.panel.serviceConfigs.length === 0" ng-click="vm.save()"
			translate="global.modal.save">Salvar</button>
	</div>

</div>