<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-if="!vm.isLoading">
  <div class="modal-header clearfix">
    <button class="close" ng-click="locationModal.cancel()"><i class="pg-close fs-14"></i></button>
  </div>

  <div class="modal-body">
    <div class="block-message block-message-dialog block-message-warning">
      <h4 translate="global.modal.remove-confirmation" translate-values="vm.panel">Deseja mesmo remover <strong>item 01</strong>?</h4>
      <p>Essa ação não poderá ser desfeita!</p>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-cons" translate="global.modal.cancel" ng-click="vm.cancel()">Cancelar</button>
    <button class="btn btn-cons btn-primary" translate="global.modal.confirm" ng-click="vm.confirm()">Confirmar</button>
  </div>
</div>
