<div class="container-fluid container-fixed-lg bg-white main-content">
  <div class="report-table">
    <div class="panel panel-default panel-live">
      <div class="panel-heading separate">
        <div class="row">
          <div class="col-sm-8">
            <div class="panel-title">
              <span>Atendimentos para o dia {{vm.session.start | date: 'shortDate'}}</span>
            </div>
          </div>
          <div class="col-sm-4 no-print">
          <span class="pull-right">
            <button class="btn btn-primary" ng-click="vm.print()"><i class="fa fa-print"></i> Imprimir</button>
          </span>
          </div>
        </div>
      </div>

      <div class="report-table panel-body">
        <div class="block-message block-message-empty" ng-show="vm.session.tickets.length === 0">
          <h4>Ops! Nenhum atendimento disponível...</h4>

          <p>Ainda não há atendimentos para esse dia.</p>
        </div>

        <div ng-show="vm.session.tickets.length > 0">
          <div class="table-responsive">
            <table class="table table-hover table-report" print-table="vm.session.tickets" ng-show="vm.session.tickets.length > 0">
              <thead>
              <tr>
                <th class="order" ng-click="vm.setOrder('friendlyCode')" ng-class="{ 'order-asc': vm.order=='friendlyCode', 'order-desc': vm.order=='-friendlyCode' }">Bilhete</th>
                <th class="order" ng-click="vm.setOrder('customer.name')" ng-class="{ 'order-asc': vm.order=='customer.name', 'order-desc': vm.order=='-customer.name' }">Cliente</th>
                <th>Serviço</th>
                <th class="order" ng-click="vm.setOrder('estimatedTimeTicket')" ng-class="{ 'order-asc': vm.order=='estimatedTimeTicket', 'order-desc': vm.order=='-estimatedTimeTicket' }">Previsão</th>
                <th>Preferencial</th>
                <th class="order" ng-click="vm.setOrder('status')" ng-class="{ 'order-asc': vm.order=='status', 'order-desc': vm.order=='-status' }">Status</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="ticket in vm.session.tickets | orderBy: vm.order">
                <td class="v-align-middle">
                  <span class="text-large font-montserrat">
                    <a><strong>{{ticket.friendlyCode}}</strong></a>
                  </span>
                </td>
                <td class="v-align-middle">
                  <strong>{{ticket.customer.name}}</strong>
                  <br> {{ticket.customer.email}}
                  <br> {{ticket.customer.phone}}
                </td>
                <td>
                  {{vm.findService(ticket.serviceId).name}}
                </td>
                <td>
                <span title="Previsão de atendimento" ng-show="vm.isConfirmed(ticket)">
                  <i class="fa fa-clock-o"></i> {{ticket.estimatedTimeTicket | date: 'shortTime'}}
                </span>
                  <span title="Previsão de atendimento" ng-show="!vm.isConfirmed(ticket)">
                  <em>Sem previsão</em>
                </span>
                </td>
                <td class="text-center">
                  <span ng-show="ticket.isSpecial">Sim</span>
                  <span ng-show="!ticket.isSpecial">Não</span>
                </td>
                <td class="v-align-middle">
                  <span class="label" ng-show="!vm.isConfirmed(ticket)">Agendado</span>
                  <span class="label" ng-show="vm.isConfirmed(ticket)">{{'global.status.' + ticket.status.toLowerCase() | translate}}</span>
                  <br>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
