<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoadingSessions"></div>

<div ng-show="!vm.isLoadingSessions">
  <div class="panel-attendance">
    <div class="panel-attendance-top">
      <div class="provider">{{vm.provider.name}}</div>
      <div class="location">{{vm.location.name}}</div>
      <div class="btn-group">
        <a class="btn btn-sm btn-default" ng-click="vm.logout()">Sair</a>
      </div>
    </div>

    <div class="row" ng-show="vm.hasSessions">
      <div class="col-xs-12 p-b-10" ng-repeat="session in vm.sessions">
        <a class="btn btn-lg btn-block" href="javascript:;" ui-sref="session-basic-attendance({ providerSlug: vm.provider.slug, locationId: vm.location.id, s: session.id })">
          <div class="service">{{session.servicesName | limitTo: 50}}<span ng-if="session.servicesName.length > 50">...</span></div>
          <span title="Sala"><i class="fa fa-home muted"></i> {{session.roomName}}</span>
          <span title="Bilhetes emitidos / capacidade" class="m-l-15"><i class="fa fa-ticket muted"></i> {{session.ticketsNum}} / {{session.capacity}}</span>          <br>
          <b><span title="Horários da sessão"><i class="fa fa-clock-o muted"></i> {{session.startDate | date: 'shortTime'}} às {{session.endDate | date: 'shortTime'}}</span></b>
        </a>
      </div>
    </div>

    <div class="block-message block-message-empty" ng-show="!vm.hasSessions">
      <h4>Ops! Nenhuma sessão disponível...</h4>
      <p>Você não possui sessões hoje.</p>
    </div>
  </div>
</div>
