<div class="panel-attendance">
  <div class="panel-attendance-top" ng-show="!vm.isLoading">
    <div class="provider">{{vm.session.provider.name}}</div>
    <div class="location">{{vm.session.location.name}}</div>
    <div class="btn-group">
      <a class="btn btn-sm btn-default" ui-sref="basic-attendance({ providerSlug: vm.providerSlug, locationId: vm.locationId })">Mudar sessão</a>
      <a class="btn btn-sm btn-default" ng-click="vm.logout()">Sair</a>
    </div>
  </div>

  <div class="panel-attendance-header" ng-show="!vm.isLoading">
    <div class="service" uib-popover="{{vm.session.servicesName}}" popover-trigger="'mouseenter'">{{vm.session.servicesName | limitTo: 50}}<span ng-if="vm.session.servicesName.length > 50">...</span></div>

    <div class="btn-group dropdown-default margin-top-10" pg-dropdown>
      <button class="btn btn-default dropdown-toggle text-center" data-toggle="dropdown">
        <span>{{vm.selectedResource.name}}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="resource in vm.session.resources" ng-if="vm.selectedResource.id !== resource.id"><a href="javascript:;" ng-click="vm.selectResource(resource)">{{resource.name}}</a></li>
      </ul>
    </div>

    <div class="resource" hidden>
      {{vm.session.resource.name}}
    </div>
    <div class="room margin-top-10" hidden>{{vm.session.room.name}}</div>
  </div>

  <div class="panel panel-default panel-live margin-bottom-10">
    <div class="panel-body">
      <div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

      <div class="row" ng-show="!vm.isLoading">
        <div class="col-xs-6">
          <div class="semi-bold text-large">
            <span title="Horário de atendimento"><i class="fa fa-clock-o muted"></i> {{vm.session.estimatedStart | date:'shortTime'}} - {{vm.session.estimatedEnd | date:'shortTime'}}</span>
            <span title="Bilhetes checados" class="m-l-15"><i class="fa fa-ticket muted"></i> {{vm.session.noTicketsToCall}}</span>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="clearfix">
            <div class="pull-right">
              <div class="checkbox check-primary">
                <input id="special" type="checkbox" ng-model="vm.isSpecial">
                <label for="special"><strong class="text-large">Atendimento preferencial</strong></label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-10" ng-show="!vm.isLoading">
        <button class="btn btn-lg btn-block btn-primary text-large" ng-click="vm.callNext()"><i class="fa fa-bullhorn"></i> Chamar
          próximo
        </button>
      </div>

      <div class="block-message block-message-empty" ng-show="vm.session.noTicketsToCall === 0 && !vm.ticket && !vm.ticket.id">
        <h4>Nenhum bilhete em atendimento...</h4>
        <p>Esta sessão não possui bilhetes.</p>
      </div>

      <div class="block-message block-message-empty" ng-show="vm.session.noTicketsToCall > 0 && !vm.ticket.id">
        <h4>Nenhum bilhete em atendimento...</h4>
        <p>Você pode chamar um ticket no botão "Chamar próximo".</p>
      </div>

      <div class="ticket-list" ng-show="vm.ticket.id && !vm.isLoading">
        <div class="item called">
          <div class="guide">
            <div class="indicator">
              <i class="fa fa-star" title="Preferencial" ng-show="vm.ticket.isSpecial"></i>
              <i class="fa fa-map-marker" title="Checado" ng-show="vm.ticket.checked"></i>
              <i class="fa fa-check" title="Confirmado"></i>
            </div>
            <div class="position" ng-show="vm.ticket.status.toLowerCase() === 'started'">Em atendimento</div>
          </div>

          <a href="" class="friendlycode" ng-click="vm.showTicketDetails(vm.ticket.id)">{{vm.ticket.friendlyCode}}</a>

          <div>
            <div class="status">
              <div class="description">{{'global.status.' + vm.ticket.status.toLowerCase() | translate | capitalize}}
              </div>
              <div class="where">{{vm.ticket.customerName | capitalize}}</div>
            </div>
          </div>

          <div class="action">
            <button title="Reabrir" ng-show="vm.hasAction('reopen')" ng-click="vm.ticketAction('reopen')"><i class="fa fa-repeat"></i></button>
            <button title="Chamar" ng-disabled="!vm.hasAction('call')" ng-show="!vm.hasAction('reopen')" ng-click="vm.ticketAction('call')"><i
              class="fa fa-bullhorn"></i></button>
            <button title="Iniciar" ng-disabled="!vm.hasAction('start')" ng-click="vm.ticketAction('start')"><i
              class="fa fa-sign-in"></i></button>
            <button title="Finalizar" ng-disabled="!vm.hasAction('complete')" ng-click="vm.ticketAction('complete')"><i
              class="fa fa-sign-out"></i></button>
            <button title="Cancelar" ng-disabled="!vm.hasAction('cancel')" ng-click="vm.ticketAction('cancel')"><i
              class="fa fa-times"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-live">
    <div class="panel-heading pointer m-b-10 m-t-0" ng-click="vm.changeListVisibility()">
      <h3 class="waiting-list-title">Lista de espera</h3>
      <div class="collapse-list" ng-class="{ 'show-list': !vm.isListShown, 'hide-list': vm.isListShown }"></div>
    </div>
    <div class="panel-body" ng-show="vm.isListShown">
      <table class="table table-hover" ng-show="vm.tickets.length > 0">
        <tbody>
          <tr ng-repeat="ticket in vm.tickets">
            <td class="v-align-middle">
                  <span class="text-xlarge font-montserrat">
                    <i class="fa fa-star text-warning" ng-show="ticket.isSpecial"></i>
                    <i class="fa fa-ticket muted" ng-show="!ticket.isSpecial"></i>
                    <a href="javascript:;" ng-click="vm.showTicketDetails(ticket.id)"><strong>{{ticket.friendlyCode}}</strong></a>
                  </span>
            </td>
            <td>{{ticket.customerName}}</td>
            <td>{{ticket.prevision | date: 'shortTime'}}</td>
          </tr>
        </tbody>
      </table>
      <div class="block-message block-message-empty" ng-show="vm.tickets.length === 0">
        <h4>Ops! Nenhum bilhete na lista de espera...</h4>
        <p>Parece que não há ninguem aguardando atendimento.</p>
      </div>
    </div>
  </div>
</div>
