<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix">
		<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
		<h3>Registrar empresa</h3>
	</div>

	<div class="modal-body">
		<ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
			<li ng-class="{'active': vm.showProvider }">
				<a data-toggle="tab" ng-click="vm.showProvider = true"><span>Empresa</span></a>
			</li>
			<li ng-class="{'active': !vm.showProvider }">
				<a data-toggle="tab" ng-click="vm.showProvider = false"><span>Unidade</span></a>
			</li>
		</ul>

		<div ng-show="vm.showProvider">

			<div class="padding-10 m-t-10">
				<form name="provider" novalidate>

					<div pg-form-group class="form-group form-group-default input-group col-sm-12 required" ng-class="{'has-error': provider.name.$invalid && provider.name.$touched}">
						<label translate="global.form.name">Name</label>
						<input type="text" class="form-control" name="name" minlength="3" maxlength="40" placeholder="{{'global.form.name' | translate}}"
							ng-model="vm.provider.name" ng-init="vm.focus=true" focus-me="vm.focus" required>
					</div>
					<div ng-if="provider.name.$touched" ng-messages="provider.name.$error">
						<span ng-messages-include="modules/core/errors/error-messages.html"></span>
					</div>

					<div pg-form-group class="form-group form-group-default input-group col-sm-12 required" ng-class="{'has-error':  provider.slug.$touched && (provider.slug.$invalid || !vm.isAvailable)}">
						<label translate="settings.tabs.providers.modal.form.slug">Slug</label>
						<input type="text" class="form-control" ng-change="vm.checkAvailability()" id="slug" name="slug" minlength="3" maxlength="40"
							placeholder="{{'settings.tabs.providers.modal.form.slug' | translate}}" ng-model="vm.provider.slug" required>
					</div>
					<div ng-if="provider.slug.$touched" ng-messages="provider.slug.$error">
						<span ng-messages-include="modules/core/errors/error-messages.html"></span>
					</div>
					<label ng-if="!vm.isAvailable && provider.slug.$touched && !provider.slug.$invalid" class="error">Localizador indisponível</label>

					<div pg-form-group class="form-group form-group-default form-group-default-select required">
						<label for="category" translate="settings.tabs.providers.modal.form.category">Category</label>
						<ui-select ng-model="vm.provider.category" id="category" name="category">
							<ui-select-match>{{'global.categories.' + vm.provider.category | translate}}</ui-select-match>
							<ui-select-choices repeat="category in vm.categories | filter: $select.search">
								<div ng-bind-html="'global.categories.' + category | translate | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
					<div ng-if="provider.category.$touched" ng-messages="provider.category.$error">
						<span ng-messages-include="modules/core/errors/error-messages.html"></span>
					</div>

					<div pg-form-group class="form-group form-group-default">
						<label for="shortDescription" translate="settings.tabs.providers.modal.form.short-description">Short Description</label>
						<textarea class="form-control height-80" id="shortDescription" name="shortDescription" placeholder="{{ 'settings.tabs.providers.modal.form.enter-text' | translate }}"
							rows="5" ng-model="vm.provider.shortDescription"></textarea>
					</div>
				</form>
			</div>
		</div>

		<div ng-show="!vm.showProvider">
			<div class="padding-10 m-t-10">
				<form name="location" novalidate>
					<div class="row">
						<div class="col-sm-6">
							<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': location.name.$invalid && location.name.$dirty}">
								<label translate="global.form.name" for="name">Nome</label>
								<input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="40" ng-model="vm.location.name" required>
							</div>
							<div ng-if="location.name.$dirty" ng-messages="location.name.$error">
								<span ng-messages-include="modules/core/errors/error-messages.html"></span>
							</div>

							<div pg-form-group class="form-group form-group-default required" ng-class="{'has-error': location.phone.$invalid && location.phone.$touched}">
								<label translate="global.form.phone" for="phone">Telefone</label>
								<input type="text" id="phone" name="phone" class="form-control" minlength="10" ui-mask="(99) 99999999?9" ng-model="vm.location.phone"
									ui-options="{clearOnBlur: false}" required>
							</div>
							<label class="error" ng-if="location.phone.$invalid && location.phone.$touched">Campo inválido</label>

							<div class="form-group-custom">
								<label>Tipo</label>

								<div class="radio radio-primary">
									<input id="type1" name="type" type="radio" value="Fixed" ng-model="vm.location.type">
									<label for="type1" translate="admin.locations.modal.details.form.location-type.fixed">Unidade fixa</label>

									<input id="type2" name="type" type="radio" value="Mobile" ng-model="vm.location.type">
									<label for="type2" translate="admin.locations.modal.details.form.location-type.mobile">Unidade móvel</label>
								</div>
							</div>

							<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': location.zipCode.$invalid && location.zipCode.$dirty, 'disabled': vm.isMobile(), 'required': !vm.isMobile()}">
								<label translate="admin.locations.modal.details.form.zip-code" for="zipCode">CEP</label>
								<input type="text" class="form-control" id="zipCode" name="zipCode" minlength="8" maxlength="9" ui-mask="99999-999" ng-model="vm.location.zipCode"
									ng-disabled="vm.isMobile()" ng-required="!vm.isMobile()">
							</div>
							<div ng-if="location.zipCode.$dirty" ng-messages="location.zipCode.$error">
								<span ng-messages-include="modules/core/errors/error-messages.html"></span>
							</div>

							<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': location.address.$invalid && location.address.$dirty, 'disabled': vm.isMobile(), 'required': !vm.isMobile()}">
								<label translate="admin.locations.modal.details.form.address">Endereço</label>
								<input type="text" class="form-control" id="address" name="address" minlength="3" maxlength="40" ng-model="vm.location.address"
									ng-disabled="vm.isMobile()" ng-required="!vm.isMobile()">
							</div>
							<div ng-if="location.address.$dirty" ng-messages="location.address.$error">
								<span ng-messages-include="modules/core/errors/error-messages.html"></span>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div pg-form-group class="form-group form-group-default" ng-class="{'has-error': location.city.$invalid && location.city.$dirty, 'disabled': vm.isMobile(), 'required': !vm.isMobile()}">
										<label translate="admin.locations.modal.details.form.city" for="city">Cidade</label>
										<input type="text" class="form-control" id="city" name="city" minlength="3" maxlength="30" ng-model="vm.location.city" ng-disabled="vm.isMobile()"
											ng-required="!vm.isMobile()">
									</div>
									<div ng-if="location.city.$dirty" ng-messages="location.city.$error">
										<span ng-messages-include="modules/core/errors/error-messages.html"></span>
									</div>
								</div>

								<div class="col-sm-6">
									<div pg-form-group class="form-group form-group-default form-group-default-select" ng-class="{'has-error': location.state.$invalid && location.state.$dirty, 'disabled': vm.isMobile(), 'required': !vm.isMobile()}">
										<label for="state">Estado</label>
										<ui-select id="state" name="state" ng-model="vm.location.state" ng-required="!vm.isMobile()" ng-disabled="vm.isMobile()">
											<ui-select-match>{{$select.selected}}</ui-select-match>
											<ui-select-choices repeat="state in vm.states | filter: $select.search">
												<div ng-bind-html="state | highlight: $select.search"></div>
											</ui-select-choices>
										</ui-select>
									</div>
									<div ng-if="location.state.$dirty" ng-messages="location.state.$error">
										<span ng-messages-include="modules/core/errors/error-messages.html"></span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group-custom">
								<label>Expediente</label>
								<table class="table table-condensed table-hover">
									<thead>
										<tr>
											<th>Dia</th>
											<th>Hora início</th>
											<th>Hora fim</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="expedient in vm.location.expedients">
											<td>
												<div class="checkbox check-primary">
													<input id="{{expedient.name}}" type="checkbox" ng-model="expedient.isOpen">
													<label for="{{expedient.name}}">{{"global.time.daysOfWeek.resumed." + expedient.name | translate}}</label>
												</div>
											</td>
											<td>
												<input type="time" class="form-control" ng-class="{error: vm.invalidTime(expedient.opens) && expedient.isOpen}" id="opens"
													name="opens" ng-model="expedient.opens" ng-disabled="!expedient.isOpen" ng-required="expedient.isOpen" ng-change="vm.teste(expedient.opens)">
												<div ng-show="vm.invalidTime(expedient.opens) && expedient.isOpen" class="error">Horário inválido</div>
											</td>
											<td>
												<input type="time" class="form-control" ng-class="{error: vm.invalidTime(expedient.closes) && expedient.isOpen}" id="closes"
													name="closes" ng-model="expedient.closes" ng-disabled="!expedient.isOpen" ng-required="expedient.isOpen">
												<div ng-show="vm.invalidTime(expedient.closes) && expedient.isOpen" class="error">Horário inválido</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>

	<div class="modal-footer">
		<button class="btn btn-cons pull-left" ng-show="!vm.showProvider" ng-click="vm.showProvider=true"><span translate="settings.tabs.providers.modal.add.previous">Previous</span></button>
		<button class="btn btn-cons" ng-click="vm.cancel()" translate="global.modal.cancel">Cancel</button>
		<button class="btn btn-cons btn-primary" ng-show="vm.showProvider" ng-disabled="vm.isProviderValid()" ng-click="vm.showProvider=false"><span translate="settings.tabs.providers.modal.add.next">Next</span></button>
		<button class="btn btn-cons btn-primary" ng-show="!vm.showProvider" ng-click="vm.save()" ng-disabled="location.$invalid || vm.isProviderValid()"
			translate="global.modal.save">Save</button>
	</div>
</div>