<div class="row">
  <h3 class="tab-heading col-sm-9">{{'global.contexts.providers' | translate | capitalize}}</h3>
  <div class="col-sm-3">
    <button class="m-t-10 btn btn-block btn-primary" ng-click="vm.addProvider()"><i class="pg-plus_circle"></i> {{'global.contexts.providers.register-provider' | translate | capitalize}}
    </button>
  </div>
</div>

<div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
  <div class="form-group">
    <div class="input-group transparent">
      <span class="input-group-addon"><i class="pg-search"></i></span>
      <input type="text" class="form-control input-lg" placeholder="{{'global.contexts.providers.search-providers' | translate | capitalize}}" ng-model="vm.searchProviders" ng-disabled="vm.providersList.length === 0">
    </div>
  </div>

  <div class="panel panel-default panel-live">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-8">
          <div class="panel-title">
            <span ng-show="vm.filteredProviders.length == vm.providersList.length">{{vm.filteredProviders.length}} {{'global.contexts.providers' | translate}}</span>
            <span ng-show="vm.filteredProviders.length < vm.providersList.length" translate-values="{filtered: vm.filteredProviders.length, total: vm.providersList.length, term: 'providers'}" translate="global.showing"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="block-message block-message-empty" ng-show="vm.providersList.length == 0">
        <h4>Ops! Nenhum provedor disponível...</h4>

        <p>Ainda não há provedores disponíveis.</p>
        <div class="row">
          <button class="btn btn-primary" ng-click="vm.addProvider()">
            <i class="pg-plus_circle"></i> Novo provedor
          </button>
        </div>
      </div>

      <div class="block-message block-message-empty" ng-show="vm.filteredProviders.length == 0 && vm.providersList.length > 0">
        <h4>Ops! Nada encontrado...</h4>

        <p>
          Sua pesquisa não encontrou nenhum resultado correspondente.
          <br> Você pode pesquisar pelo nome, categoria e pelas permissões que você possui.
        </p>
      </div>

      <div ng-show="vm.providersList.length > 0">
        <table class="table table-hover" ng-show="vm.filteredProviders.length > 0">
          <thead>
            <tr>
              <th class="order" ng-click="vm.setOrder('name')" ng-class="{ 'order-asc': vm.order=='name', 'order-desc': vm.order=='-name' }">{{'global.form.name' | translate}}
              </th>
              <th class="order" ng-click="vm.setOrder('roles')" ng-class="{ 'order-asc': vm.order=='roles', 'order-desc': vm.order=='-roles' }">{{'global.form.roles' | translate}}
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="provider in vm.filteredProviders = (vm.providersList | filter: vm.searchProviders | filter: vm.filterByType | orderBy:vm.order) | startFrom: vm.itensLimit*(vm.currentPage-1) | limitTo:vm.itensLimit">
              <td class="v-align-middle">
                <a href="javascript:;" ui-sref="app.provider.dashboard({providerSlug: provider.slug})"><strong>{{provider.name}}</strong></a>
                <div>{{provider.slug}}</div>
              </td>
              <td>
                <span ng-repeat="role in provider.roles"><label class="label">{{'global.roles.' + role | translate | capitalize}}</label></span>
              </td>
              <td class="v-align-middle toggle-hover nowrap text-right">
                <button class="btn btn-short" title="{{'global.actions.edit' | translate | capitalize}}"><i class="fa fa-pencil" ng-click="vm.editProvider(provider.id)"></i></button>
                <button class="btn btn-short" title="{{'global.actions.remove' | translate | capitalize}}"><i class="fa fa-trash" ng-click="vm.deleteProvider(provider)"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-sm-6">
            <span class="m-r-10 muted">{{'global.tables.items-per-pages' | translate }}</span>
            <select class="cs-select cs-skin-slide" cs-select="" ng-model="vm.itensLimit">
              <option value="5" selected>5</option>
              <option value="10">10</option>
              <option value="20">25</option>
              <option value="50">50</option>
            </select>
          </div>

          <div class="col-sm-6" ng-show="vm.itensLimit < vm.providersList.length">
            <ul uib-pagination class="pagination" items-per-page="vm.itensLimit" ng-model="vm.currentPage" direction-links="false" total-items="vm.filteredProviders.length"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
