<div class="progress-circle-indeterminate progress-circle-primary modal-progress-circle" ng-show="vm.isLoading"></div>

<div ng-show="!vm.isLoading">
	<div class="modal-header clearfix">
		<button class="close" data-dismiss="modal" ng-click="vm.cancel()"><i class="pg-close fs-14"></i></button>
		<h3>Editar empresa</h3>
	</div>

	<div class="modal-body">
		<form name="provider" novalidate>

			<div pg-form-group class="form-group form-group-default input-group col-sm-12 required" ng-class="{'has-error': provider.name.$invalid && provider.name.$touched}">
				<label translate="global.form.name">Name</label>
				<input type="text" class="form-control" name="name" minlength="3" maxlength="40" placeholder="{{'global.form.name' | translate}}"
					ng-model="vm.provider.name" ng-init="vm.focus=true" focus-me="vm.focus" required>
			</div>
			<div ng-if="provider.name.$touched" ng-messages="provider.name.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

			<div pg-form-group class="form-group form-group-default input-group col-sm-12 required" ng-class="{'has-error':  provider.slug.$touched && (provider.slug.$invalid || !vm.isAvailable)}">
				<label translate="settings.tabs.providers.modal.form.slug">Slug</label>
				<input type="text" class="form-control" ng-change="vm.checkAvailability()" id="slug" name="slug" minlength="3" maxlength="40"
					placeholder="{{'settings.tabs.providers.modal.form.slug' | translate}}" ng-model="vm.provider.slug" required>
			</div>
			<div ng-if="provider.slug.$touched" ng-messages="provider.slug.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>
			<label ng-if="!vm.isAvailable && provider.slug.$touched" class="error">Localizador indisponível</label>

			<div pg-form-group class="form-group form-group-default form-group-default-select required">
				<label for="category" translate="settings.tabs.providers.modal.form.category">Category</label>
				<ui-select ng-model="vm.provider.category" id="category" name="category">
					<ui-select-match>{{'global.categories.' + vm.provider.category | translate}}</ui-select-match>
					<ui-select-choices repeat="category in vm.categories | filter: $select.search">
						<div ng-bind-html="'global.categories.' + category | translate | highlight: $select.search"></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div ng-if="provider.category.$touched" ng-messages="provider.category.$error">
				<span ng-messages-include="modules/core/errors/error-messages.html"></span>
			</div>

			<div pg-form-group class="form-group form-group-default">
				<label for="shortDescription" translate="settings.tabs.providers.modal.form.short-description">Short Description</label>
				<textarea class="form-control height-80" id="shortDescription" name="shortDescription" placeholder="{{ 'settings.tabs.providers.modal.form.enter-text' | translate }}"
					rows="5" ng-model="vm.provider.shortDescription"></textarea>
			</div>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cons" data-dismiss="modal" ng-click="vm.cancel()" translate="global.modal.cancel">Cancelar</button>
		<button class="btn btn-cons btn-primary" ng-disabled="provider.$invalid" ng-click="vm.save()" translate="global.modal.save">Salvar</button>
	</div>
</div>