<ul class="breadcrumb">
  <li><a ui-sref="app.account.providers" class="active">{{'global.contexts.dashboard' | translate}}</a></li>
</ul>

<div class="container-fluid container-fixed-lg main-content">
  <div class="panel panel-default panel-live">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <div class="block-title">Bilhetes por dia</div>
        </div>

        <div class="col-sm-6">
          <div class="pull-right">
            <!-- ui-select -->
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingTicketsPerDayChartData"></div>
      <div ng-if="!vm.isLoadingTicketsPerDayChartData" >
        <nvd3 options='vm.charts.line.options' data="lineData" class="nvd3-line line-chart text-center" api="vm.api"></nvd3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default panel-live">
      <div class="panel-heading">
        <div class="block-title">Bilhetes por serviço</div>
      </div>

      <div class="panel-body">
        <div class="progress-circle-indeterminate progress-circle-primary" ng-show="vm.isLoadingTicketsPerServiceChartData"></div>

        <div ng-if="!vm.isLoadingTicketsPerServiceChartData">
          <nvd3 options='vm.charts.donut.options' data="donutData"></nvd3>
        </div>
      </div>
    </div>
  </div>
</div>
